= simple_form_for [:admin, @building, @invalid_date], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  .form-group  
    = f.input :date, as: :date_picker, :label => "Bloquear día", class: "form-control date date1", :style => "margin-bottom: 5px;", :required => true
            
    = f.input :description, :label => "Descripción"

  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
