.single-head
  %h3.pull-left
    %i.fa.fa-pencil.orange
    Administrar Fechas No Válidas
  = link_to "Crear fecha inválida", new_admin_building_invalid_date_path, class: "pull-right btn btn-primary btn-create"

  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Días bloqueados
          %th Descripción
          %th Acciones
      %tbody
        - @invalid_dates.each do |id|
          %tr
            %td= id.date.try(:strftime, '%d/%m/%Y')
            %td= id.description
            %td
              = link_to edit_admin_building_invalid_date_path(@building, id), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_invalid_date_path(@building, id), :method => 'delete', class: "btn btn-xs btn-danger", data: {confirm: "¿Está seguro de borrar permanentemente esta fecha?"} do
                %i.fa.fa-trash-o

