
- if type == 'User'
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
          %h4.modal-title Nuevo Cliente
        .modal-body
          = simple_form_for [:admin, :building, @user], url: admin_building_clients_path, remote: true, :wrapper => :horizontal_form_modal , :html => {:class => 'form-horizontal'} do |f|
            = f.input :type, :input_html => {value: "User"}, as: :hidden
            - if !reservation.nil?
              = f.input :reservation_id, :input_html => {value: "#{reservation.id}"}, as: :hidden
            - if @add_renter.present?
              = f.input :add_renter, :input_html => {value: "#{@add_renter}"}, as: :hidden
            = f.input :name, :label => "Nombre"
            = f.input :surname, :label => "Apellidos"
            = f.input :date_birth, as: :string, :label => "Fecha de nacimiento", input_html: { class: 'date' }
            = f.input :email, :label => "Email"
            = f.input :nif, :label => "Nif"
            = f.input :expedition_date_nif, as: :string, :label => "Fecha de expedición del Nif", input_html: { class: 'date' }
            = f.input :passport, :label => "Pasaporte"
            = f.input :expedition_date_passport, as: :string, :label => "Fecha de expedición del pasaporte", input_html: { class: 'date' }
            = f.input :gender, :label => "Sexo", as: :select, :collection => ["Hombre", "Mujer"]
            = f.input :nationality, :label => "Nacionalidad"
            = f.input :phone, :label => "Teléfono"
            = f.input :juvenile, :label => "Cliente menor de edad", :wrapper => :inline_checkbox
            = f.input :agree_ads, :label => "#{I18n.t 'contact.agree_ads'}".html_safe, :wrapper => :inline_checkbox
            = f.input :agree_policy_privacy, :label => "#{I18n.t('contact.agree_policy_privacy', path_legal: page_path( I18n.locale, 'legal_notice'), path_privacy: page_path( I18n.locale, 'policy_privacy'))}".html_safe, :target => "_blank", :wrapper => :inline_checkbox, hint: I18n.t('general.policy_privacy_information_level_1')

            %br
            .text-center
              = f.submit 'Crear usuario', class: "btn btn-primary"
        .modal-footer
          %button.btn.btn-default.btn-sm{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar
- else
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
          %h4.modal-title Nueva Empresa
        .modal-body
          = simple_form_for [:admin, :building, @business], url: admin_building_clients_path, remote: true, :wrapper => :horizontal_form_modal , :html => {:class => 'form-horizontal'} do |f|
            = f.input :type, :input_html => {value: "Business"}, as: :hidden
            = f.input :business_name, :label => "Razón social"
            = f.input :cif, :label => "CIF"
            = f.input :name, :label => "Persona de contacto"
            = f.input :email, :label => "Email"
            = f.input :phone, :label => "Teléfono"
            = f.input :address, :label => "Dirección"
            = f.input :city, :label => "Ciudad"
            = f.input :country
            - if @add_renter.present?
              = f.input :add_renter, :input_html => {value: "#{@add_renter}"}, as: :hidden
            - if !reservation.nil?
              = f.input :reservation_id, :input_html => {value: "#{reservation.id}"}, as: :hidden
            = f.input :agree_ads, :label => "#{I18n.t 'contact.agree_ads'}".html_safe, :wrapper => :inline_checkbox
            = f.input :agree_policy_privacy, :label => "#{I18n.t('contact.agree_policy_privacy', path_legal: page_path( I18n.locale, 'legal_notice'), path_privacy: page_path( I18n.locale, 'policy_privacy'))}".html_safe, :target => "_blank", :wrapper => :inline_checkbox, hint: I18n.t('general.policy_privacy_information_level_1')
            %br
            .text-center
              = f.submit 'Crear usuario', class: "btn btn-primary"
        .modal-footer
          %button.btn.btn-default.btn-sm{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar
