<% check = @add_renter.present? %>
//caso editar reserva y agregar un usuario
<% if check and @reservation.present? %>
  $("#table_add_renter").fadeIn("slow").html('<%= escape_javascript(render 'admin/reservations/table_add_renter', clients: @clients, reservation: @reservation, building: @building) %>');
<% elsif check %>
  $("#table_add_renter").fadeIn("slow").html('<%= escape_javascript(render 'admin/reservations/table_add_renter_new', clients: @clients, building: @building, client: @client.id) %>');
<% else %>
  location.reload()
<% end %>

$("#myModal").modal('hide');



