- if @type == 'User'
  .page-tables
    .table-responsive
      %table.table
        %thead
          %tr.active
            %th Nombre
            %th Apellidos
            %th NIF
            %th Email
            %th Tel&#233;fono
        %tbody
          - @clients.each do |cli|
            %tr
              %td= cli.name
              %td= cli.surname
              %td= cli.nif
              %td= cli.email
              %td= cli.phone
- else
  .page-tables
    .table-responsive
      %table.table
        %thead
          %tr.active
            %th CIF
            %th Raz&oacute;n social
            %th Direcci&oacute;n
            %th Email
            %th Tel&#233;fono
        %tbody
          - @clients.each do |cli|
            %tr
              %td= cli.cif
              %td= cli.business_name
              %td= cli.address
              %td= cli.email
              %td= cli.phone

