- if @type == 'User'
  - headers = ["Nombre", 'Apellidos', 'NIF', 'Email', 'Teléfono']
  = CSV.generate_line headers
  - @clients.users.each do |cli|
    - row = [cli.name, cli.surname, cli.nif, cli.email, cli.phone]
    = CSV.generate_line(row).html_safe.strip
- else
  - headers = ["CIF", 'Razón social', 'Dirección', 'Email', 'Teléfono']
  = CSV.generate_line headers

  - @clients.businesses.each do |cli|
    - row = [cli.cif, cli.business_name, cli.address, cli.email, cli.phone]
    = CSV.generate_line(row).html_safe.strip