.single-head
  %h3.pull-left
    %i.fa.fa-users.orange
    Clientes del sistema
  .text-right
    = link_to "Añadir particular", new_admin_building_client_path(type: 'User', building_id: @building.id), :remote => true, class: "btn btn-primary"
    = link_to "Añadir empresa", new_admin_building_client_path(type: 'Business', building_id: @building.id), :remote => true, class: "btn btn-primary"
  .clearfix

.clearfix.form-search-clients
  = search_form_for [:admin, :building, @q], :html => {:class => 'form-search'} do |f|
    .col-md-3
      = f.input :name_or_surname_or_nif_or_email_or_phone_or_business_name_cont, as: :string, label: 'Buscar', required: false
    .col-md-3
      = f.input :type_eq, as: :select, collection: [[I18n.t('clients.user'), 'User'], [I18n.t('clients.business'),'Business']], label: 'Tipo de cliente', include_blank: 'Todos', required: false
    .col-md-3.actions-search
      = f.submit "Buscar", class: "btn btn-primary"
      = link_to "Limpiar", request.path, class: "btn btn-danger btn-forms"
.widget.pages-widget
  .widget-head.br-red.inline
    %h3
      %i.fa.fa-file
      Clientes
    .export
      Descargar:
      - if !params[:q] || (params[:q] && params[:q][:type_eq] == 'User')
        = link_to "CSV Usuarios", params.merge(format: :csv, type: 'User')
        |
        = link_to "Excel de Usuarios", params.merge(format: :xls, type: 'User')
        |
      - if !params[:q] || (params[:q] && params[:q][:type_eq] == 'Business')
        = link_to "CSV Empresas", params.merge(format: :csv, type: 'Business')
        |
        = link_to "Excel de empresas", params.merge(format: :xls, type: 'Business')
  .widget-body.no-padd
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th ID
            %th Tipo
            %th Nombre
            %th Apellidos
            %th NIF/CIF
            %th Email
            %th Teléfono
            %th Acción
        %tbody
          - @clients.each do |client|
            %tr
              %td= client.id
              %td= I18n.t("clients.#{client.type.downcase}")
              %td= client.get_name
              %td= client.surname
              %td= client.get_identity_card
              %td= client.email
              %td= client.phone
              %td
                = link_to edit_admin_building_client_path(@building, client), class: "btn btn-xs btn-success", :remote => true do
                  %i.fa.fa-pencil
  .text-center.t-20
    = will_paginate @users, renderer: BootstrapPagination::Rails
#new_client_modal


