$("#new_client_modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/clients/new_client_modal', type: @type, reservation: @reservation) %>');
$("#myModal").modal();
$(".date").mask("99/99/9999",{placeholder:"dd/mm/yyyy"});
$().ready(function() {
  $('#new_user').validate({
    rules: {
      'user[name]': 'required',
      'user[surname]': 'required',
      'user[nif]': {
        minlength: 9
      },
      'user[email]': {
        required: true,
        email: true
      },
      'user[phone]': 'required'
    },
    messages: {
      'user[name]': 'Campo obligatorio',
      'user[surname]': 'Campo obligatorio',
      'user[nif]': {
        minlength: 'Mínimo 9 caracteres. Ej. 99999999X'
      },
      'user[email]': {
        required: 'Campo obligatorio',
        email: 'Debes de introducir una dirección email correcta.'
      },
      'user[phone]': 'Campo obligatorio'

    }
  });
});

$().ready(function() {
  $('#new_business').validate({
    rules: {
      'business[business_name]': 'required',
      'business[cif]': {
        minlength: 9
      },
      'business[name]' : 'required',
      'business[email]': {
        required: true,
        email: true
      },
      'business[phone]': 'required',
      'business[address]' : 'required',
      'business[city]': 'required',
      'business[country]': 'required'
    },
    messages: {
      'business[business_name]': 'Campo obligatorio',
      'business[cif]': {
        minlength: 'Mínimo 9 caracteres. Ej. 99999999W'
      },
      'business[name]' : 'Campo obligatorio',
      'business[email]': {
        required: 'Campo obligatorio',
        email: 'Debes de introducir una dirección email correcta.'
      },
      'business[phone]': 'Campo obligatorio',
      'business[address]' : 'Campo obligatorio',
      'business[city]': 'Escoja la ciudad',
      'business[country]': 'Escoja un país'

    }
  });
});