= simple_form_for [:admin, @building, @service], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|
	
	= f.input :name_es, :label => "Nombre es"
	= f.input :name_en, :label => "Nombre en"
	= f.input :name_pt, :label => "Nombre pt"
	= f.input :price, :label => "Precio por día", :hint => "Este campo sólo será obligatorio en caso de no establecer el precio único."
	= f.input :unique_price, :label => "Precio único"
	= f.input :tax, :label => "Impuesto", as: :select, collection: 1..100
	= f.input :description_es, as: :text, :label => "Descripción es"
	= f.input :description_en, as: :text, :label => "Descripción en"
	= f.input :description_pt, as: :text, :label => "Descripción pt"
	= f.input :published, :label => "Aparece en el formulario de reserva", :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4'
	= f.input :rest_one_day, :label => "Restar un día del total de noches", :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4'


	.form-actions
		= f.button :submit, "Guardar", class: "btn btn-primary"