.single-head
  %h3.pull-left
    %i.fa.fa-plus-circle.orange
    Administrar Servicios
  = link_to "Crear servicio", new_admin_building_service_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Nombre
          %th Precio por día
          %th Precio único
          %th Impuesto
          %th Estado
          %th Acciones
      %tbody
        - @services.each do |servi|
          %tr
            %td= servi.name
            - if servi.price.present?
              %td
                = servi.price
                €
            - else
              %td= "-"
            - if servi.unique_price.present?
              %td
                = servi.unique_price
                €
            - else
              %td= "-"
            %td.center= tax(servi.tax)
            %td.center
              %input.cleaning{:checked => servi.active? == true ? true : false, :name => "my-checkbox2", :type => "checkbox", "data-on-text": "Activo", "data-off-text": "Inactivo", "data-on-color": "success", "data-off-color": "warning", :id => servi.id, "data_building"=> @building.id}/
            %td
              = link_to  edit_admin_building_service_path(@building ,servi), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to  admin_building_service_path(@building, servi), class: "btn btn-xs btn-info" do
                %i.fa.fa-eye