.single-head
  %h3.pull-left
    %i.fa.fa-plus-circle.orange
    = "Servicio #{@service.name}"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Nombre es:
          %td= @service.name_es
        %tr
          %td 
            %strong Nombre en:
          %td= @service.name_en
        %tr
          %td 
            %strong Precio:
          %td
            = @service.price
            €
        - if @service.unique_price.present?
          %tr
            %td 
              %strong Precio único:
            %td= @service.unique_price
        %tr
          %td 
            %strong Aparece en el formulario de reserva:
          - if @service.published == true
            %td= "Sí"
          - else
            %td= "No"
        / %tr
        /   %td 
        /     %strong Estado:
        /   %td= @service.active