= simple_nested_form_for [:admin, @building, @apartment], :url => add_disabled_dates_admin_building_apartment_disable_apartments_path(@building, @apartment), :method => :put , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      %h4= "Desactivar apartamentos por fechas - #{@apartment.name}"


  .form-group  
    .bs-callout.bs-callout-info
      .row
        = f.fields_for :disabled_dates do |v_d|
          .col-sm-6.col-md-4.col-xs-12
            .thumbnail.valid_dates
              = v_d.input :start_date, as: :date_picker, :label => "Fecha de inicio", class: "form-control date date1", :style => "margin-bottom: 5px;", :required => true
              = v_d.input :end_date, as: :date_picker, :label => "Fecha de fin", class: "form-control date date2", :style => "margin-bottom: 5px;", :required => true, input_html: {data: {date_options: {minDate: "#{Date.today.strftime('%Y/%m/%d')}"}}}

              .caption.text-center
                = v_d.link_to_remove "Borrar bloqueo", class: "btn btn-xs btn-danger"

        = f.link_to_add "Añadir fechas de bloqueo", :disabled_dates, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"
  = f.submit "Guardar", class: "btn btn-primary"