/ = simple_form_for [:admin, @building, @apartment_type] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
/   = f.error_notification

/   .form-inputs

/     = f.input :num_persons, :label => "Capacidad máxima:"
/     = f.input :num_bedrooms, :label => "Dormitorios dobles:"
/     = f.input :bed_kind, as: :select, :collection => ["King Size"], :label => "Tipo de cama:"
/     = f.input :badroom, :label => "Sofá cama para dos personas:"
/     = f.input :double_couch, :label => "Baño completo con ducha:"

/   .form-actions
/     = link_to "Cancelar", :back, class: "btn btn-danger pull-right cancel"
/     = f.button :submit, "Editar tipo", class: "btn btn-primary pull-right "

