.single-head
  %h3.pull-left
    %i.fa.fa-list-alt.orange
    Administrar tipos de apartamentos y tarifas
  .clearfix

.page-tables
  .page-tabs
    / Nav tabs
    .table-responsive
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Nombre
            %th Precios
            / %th Personas max.
            / %th Habitaciones
            / %th Tipo cama
            / %th Sofas
            / %th Baños
            / %th Acciones
        %tbody
          - @apartment_types.each do |apartment_type|
            %tr
              %td= apartment_type.name
              %td= link_to "Tarifas y precios de tipo", admin_building_apartment_type_prices_path(@building, apartment_type), class: "btn btn-success btn-sm"
              / %td= apartment_type.num_persons
              / %td= apartment_type.num_bedrooms
              / %td= apartment_type.bed_kind
              / %td= apartment_type.badroom
              / %td= apartment_type.double_couch
              / %td
              /   = link_to edit_admin_building_apartment_type_path(@building, apartment_type), class: "btn btn-xs btn-success" do
              /     %i.fa.fa-pencil