
@media print {
  @page { margin: 0; }
  body { margin: 1 cm; }


  .contenedor-navegacion {
    display: none;
  }
  .steps {
    display: none;
  }
  .footer-interno{
  	display: none;
  }

  .botones-reservas{
  	display: none;
  }
  .no-print{
    display: none;
  }
  a{
      display:none;
  }

  .col-lg-3, .col-md-3, .col-sm-3{
    width: 25% !important;  
    display: inline;  
    float: left;
  }


  .col-sm-6, .col-md-6{
    width: 50% !important;  
    display: inline;  
    float: left;
  }

  .well{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10px !important;
  }

  h4{
    font-size: 10px;
  }
  h2, h3{
    font-size: 12px;
  }


  .br-blue{
    background-color: #609cec !important;
    -webkit-print-color-adjust: exact; 
  }
  .br-red{
    background-color: #f75353 !important;
    -webkit-print-color-adjust: exact; 
  }
  .br-lblue{
    background-color: #32c8de !important;
    -webkit-print-color-adjust: exact; 
  }
  .br-green{
    background-color:#51d466 !important;
    -webkit-print-color-adjust: exact; 
  }

  .br-orange{
    background-color: #f78153 !important;
    -webkit-print-color-adjust: exact; 
  }


 }

@media print {
  a{
      display:none;
  }
}