<!--content 1 -->
<tr><td align="center" bgcolor="#fbfcfd">
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <tr><td align="center">
            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
            <div style="line-height: 44px;">
                <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                  <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                    <%= I18n.t "email.header" %>
                  </span>
                </font>
            </div>
            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
        </td></tr>
        <!-- <tr><td align="center">
            <div style="line-height: 24px;">
                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                    <%= I18n.t "email.subheader" %>
                </span></font>
            </div>-->
            <!-- padding --><!--<div style="height: 40px; line-height: 40px; font-size: 10px;"><!--</div>
        </td></tr> -->
        <tr><td align="center">
            <div style="line-height: 24px;">
                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                    <%= t('email.information_html', building_name: @building.name)%>
                </span></font>
            </div>
            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
        </td></tr>
        <tr>
          <td align="center">
            <table>
                <tr>
                    <td>
                        <% host = "https://www.palacioplcondedemiranda.com" %>
                        <img src=<%= host + @reservation.apartments.first.photos.first.try(:picture).try(:url).to_s %> width="200" height="120" alt=<%= @reservation.apartments.first.photos.first.try(:caption)%> border="0" style="display: block;" />
                    </td>
                    <td style="padding-left: 10px !important;">

                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%=I18n.t 'reservation.header.final_price'%></strong>
                        <%=normal_price(@reservation.total) %>
                        </span>
                        <br>
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.payment.paid' %></strong>
                        <%= normal_price(@reservation.paid)%>
                        </span>
                        <br>
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.header.rest_to_pay'%></strong>
                        <%= normal_price(@reservation.rest) %>
                        </span>
                        <br>
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.header.reference'%></strong>
                        <%= @reservation.reference %>
                        </span>
                        <br>
                        <strong><span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.header.check_in'  %></strong>
                        <%= @reservation.start_date.strftime('%d/%m/%Y') %>
                        </span>
                        <br>
                        <strong><span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.header.check_out'%></strong>
                        <%= @reservation.end_date.strftime('%d/%m/%Y')%>
                        </span>
                        <br>
                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                        <strong><%= I18n.t 'reservation.header.apartment'%></strong>
                        <%= @reservation.apartments.first.apartment_description%>
                        </span>
                        <br>
                        <% if @reservation.coupon.present? %>
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                            <strong><%= I18n.t 'reservation.header.price' %></strong>
                            <%= normal_price(@reservation.normal_price) %>
                            </span>
                            <br>
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                            <strong><%= I18n.t 'reservation.header.discount'%></strong>
                            <%= "#{@reservation.coupon.discount}% (#{I18n.t 'reservation.header.coupon'} #{@reservation.coupon.code})" %>
                            </span>
                            <br>
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                            <strong><%= I18n.t 'reservation.header.price_with_discount'%></strong>
                            <%= normal_price(@reservation.total_price)%>
                        <% else %>
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                            <strong><%= I18n.t 'reservation.header.price'%></strong>
                            <%= normal_price(@reservation.total_price)  %>
                            </span>
                            <br>
                        <%end%>
                    </span>
                    </td>
                </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <% if @reservation.reservation_condition.present? %>
              <br>
              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                <strong><%= I18n.t 'reservation.header.conditions'%></strong>
                <%=raw @reservation.reservation_condition.description %>
              </span>
            <% end %>
              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #666;border-bottom: 1px solid;"><strong><%= I18n.t "reservation.form.options" %></strong></span>
              <br>

              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
              <strong><%= I18n.t 'reservation.placeholder.adults'%>: </strong>
              <%= @reservation.adults || '-' %>
              </span>
              <br>

              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
              <strong><%= I18n.t 'reservation.placeholder.childs'%>: </strong>
              <%=  @reservation.childs || '-' %>
              </span>
              <br>

              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                <strong><%= I18n.t 'reservation.placeholder.client_comments'%>: </strong>
                <br>
                <%=raw @reservation.client_comments.blank? ? '-' : @reservation.client_comments %>
              </span>
          </td>
        </tr>
        <tr>
            <td>
                <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                <table width="100%" style="text-align:center;">
                    <tr>
                        <th style="border-bottom: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333;">
                           <%= I18n.t 'reservation.table.service' %>
                           </span>
                        </th>
                        <th style="border-bottom: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333;">
                           <%= I18n.t 'reservation.table.price' %>
                           </span>
                        </th>
                        <th style="border-bottom: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333;">
                           <%= I18n.t 'reservation.table.nights' %>
                           </span>
                        </th>
                        <th style="border-bottom: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333;">
                           <%= I18n.t 'reservation.table.total' %>
                           </span>
                        </th>
                    </tr>
                    <% @reservation.billings.apartments.each do |b| %>
                        <tr>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= b.reservation.apartments.first.name  %>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= normal_price(b.amount / b.night)%>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= b.night %>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= normal_price(b.amount)  %>
                               </span>
                            </td>
                        </tr>
                    <% end %>
                    <% @reservation.billings.services.each do |b| %>
                        <tr>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= b.service.name  %>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= normal_price(b.price) %>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= b.night %>
                               </span>
                            </td>
                            <td>
                               <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                               <%= normal_price(b.amount)  %>
                               </span>
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= I18n.t 'reservation.table.total' %></strong>
                           </span>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= normal_price(@reservation.total)  %></strong>
                           </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= I18n.t 'reservation.table.paid' %></strong>
                           </span>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= normal_price(@reservation.paid)  %></strong>
                           </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= I18n.t 'reservation.table.rest' %></strong>
                           </span>
                        </td>
                        <td style="border-top: 1px solid;">
                           <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #666;">
                           <strong><%= normal_price(@reservation.rest)  %></strong>
                           </span>
                        </td>
                    </tr>






                </table>
            </td>
        </tr>
    </table>
    <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
</td></tr>
<!--content 1 END-->
