
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

= simple_nested_form_for [:admin, @building, @location] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      %h4= "Dirección"
    = f.input :address_es, as: :ckeditor, :placeholder => 'Dirección completa ...', label: "Dirección completa es"
    = f.input :address_en, as: :ckeditor, :placeholder => 'Dirección completa ...', label: "Dirección completa en"
    = f.input :address_pt, as: :ckeditor, :placeholder => 'Dirección completa ...', label: "Dirección completa pt"
    
  %fieldset
    %legend
      %h4= "Configuración del mapa"
    = f.input :latitude, label: "Latitud"
    = f.input :longitude, label: "Longitud", hint: "Por favor, introduzca las coordenadas y asegúreses en el mapa de que es el lugar que quieres mostrar."
    .col-sm-offset-2.col-sm-10
      #map{:style => "width: 400px; height: 300px;"}
    %br
    %br

  %fieldset
    %legend
      %h4= "Contenido"
    = f.input :content_es, as: :ckeditor, :label => "Descripción es"
    = f.input :content_en, as: :ckeditor, :label => "Descripción en"
    = f.input :content_pt, as: :ckeditor, :label => "Descripción pt"


  .container
    %br
    .row
      #filter-panel.collapse.filter-panel
        .panel.panel-default
          .panel-body
            = f.input :metatitle_es
            = f.input :metadescription_es
            = f.input :metakey_es

            = f.input :metatitle_en
            = f.input :metadescription_en
            = f.input :metakey_en

            = f.input :metatitle_pt
            = f.input :metadescription_pt
            = f.input :metakey_pt

      %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
        SEO MetaTags

  .form-actions
    %br
    = f.button :submit, "Guardar", class: "btn btn-primary"

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": #{@location.latitude},
        "lng": #{@location.longitude}
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });