
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
.single-head
  %h3.pull-left
    %i.fa.fa-home.orange
    Administrar página de localización
  = link_to 'Editar página localización', edit_admin_building_cms_location_path(@building, @location), class: "pull-right btn btn-primary btn-create"
  .clearfix
.row
  .col-xs-12.col-sm-6.col-md-6
    .well.well-sm
      .row
        .col-sm-12
          #map{:style => "width: 400px; height: 300px;margin-bottom: 20px;left: 50%;margin-left: -204px;"}
      .row
        .col-sm-12
          %h4
            - if @location.address_es.present?
              = @location.address_es.html_safe || "Sin dirección"
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": #{@location.latitude},
        "lng": #{@location.longitude}
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });