
#modal_price.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Precios
      .modal-body
        = simple_form_for [:admin, :building, :apartment_type, @price], :remote => true, :html => {:class => 'form-horizontal'} , wrapper: :form_inmail, id: "price_form" do |f|
          
          = f.input :price, :label => "Precio", input_html: {value: (@old_price if @old_price.present?)}
          = f.input :from, as: :date_picker, :label => 'Desde', input_html: { :value => "#{@from.strftime('%d/%m/%Y')}"}, :disabled => true
          = f.input :from, as: :hidden,  input_html: { :value => @from}
          = f.input :to, as: :date_picker, :label => 'Hasta', input_html: {data: {date_options: {minDate: "#{@from.strftime('%Y/%m/%d')}"}}}, :hint => "Si se deja en blanco el precio se establecerá para el día seleccionado en 'Desde'. Si se marca dos fechas el precio se establecerá para el rango de esas fechas, inclusive las fechas marcadas"

          .form-group
            .col-lg-offset-2.col-sm-offset-2.col-lg-10
              %button.btn.btn-info{:type => "submit"}
                %i.fa.fa-check-circle
                %span Enviar
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Descartar
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar




:css
  .bootstrap-datetimepicker-widget{z-index:1151 !important;}


:javascript
  $('.datetimepicker').datetimepicker(default_picker_options);

  var default_picker_options = {
    // put here your default options that should be applied for all pickers

    // icons will be inserted if you run the generator with Font-Awesome parameter
    icons: {
      date: 'fa fa-pencil',
      time: 'fa fa-clock-o',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-crosshairs',
      clear: 'fa fa-trash-o'
    }
  }

  $().ready(function() {

   // validate signup form on keyup and submit
   $("#new_price").validate({
     rules: {
       'price[price]': "required",
       'price[price]': {
         required: true,
         number: true
       }
     },
     messages: {
       'price[price]': "Este campo no puede estar en blanco",
       'price[price]': {
         required: "Este campo no se puede quedar en blanco",
         number: "Este campo debe contener un número"
       }
     }
   });

  });