$("#render_calendar").fadeIn("slow").html('<%= escape_javascript(render 'admin/prices/render_calendar') %>');
$("#modal_price").modal('hide');


  $(document).ready(function() {
    var d, date, m, y;
    date = new Date;
    d = date.getDate();
    m = date.getMonth();
    y = date.getFullYear();
    $('#calendar').fullCalendar({
      monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "December"],
      monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
      dayNamesShort: ["Dom", "Lun", "Mar", "Mier", "Juev", "Vier", "Sab"],
      buttonText: {
        today: "Hoy",
        month: "Mes",
        week: "Semana",
        day: "Por día"
      },
      header: {
        left: 'title',
        //right: 'prev,next today,month,agendaWeek,agendaDay'
        right: 'prev,next,month'
      },
      editable: true,
      lang: 'es',
      timeFormat: ' ',
      eventSources: [
        {
          url: "/admin/buildings/" + ($('#building_id').text()) + "/apartment_types/" + ($('#apartment_type_id').text()) + "/prices/read_prices"
        }
      ],
      dayClick: function(date, jsEvent, view) {
        var day, hour, minutes, month, year;
        day = date.getDate();
        month = date.getMonth();
        year = date.getFullYear();
        hour = date.getHours();
        minutes = date.getMinutes();
        if ($(this).hasClass('fc-disabled') || $(this).hasClass('fc-past')) {
          return alert("Imposible coger cita para este día o fecha en concreto");
        } else {
          return $.get("/admin/buildings/" + ($('#building_id').text()) + "/apartment_types/" + ($('#apartment_type_id').text()) + "/prices/new", {
            day: day,
            month: month + 1,
            year: year
          });
        }
      },
      droppable: true,
      drop: function(date, allDay) {
        var copiedEventObject, originalEventObject;
        originalEventObject = $(this).data('eventObject');
        copiedEventObject = $.extend({}, originalEventObject);
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
        if ($('#drop-remove').is(':checked')) {
          $(this).remove();
        }
      }
    });
    return;
    return $('#calendar').fullCalendar({
      eventClick: function(calEvent, jsEvent, view) {
        alert('Event: ' + calEvent.title);
        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        alert('View: ' + view.name);
        $(this).css('border-color', 'red');
      }
    });
  });

  var day = <%= @to.day %>;
  var month = <%= @to.month %> ;
  var year = <%= @to.year %> ;
  $('#calendar').fullCalendar('gotoDate', new Date(year,month-1,day));