.hidden
  #apartment_type_id= @apartment_type.id
  #building_id= @building.id
.single-head
  %h3.pull-left
    %i.fa.fa-calendar
    = succeed "Precios del año para #{@apartment_type.name}" do
      %span.break
  = link_to "Atrás", :back, class: "pull-right btn btn-primary btn-create"
  
  .clearfix
.row
  .col-lg-12
    .box
      .box-content
        .row
          .col-lg-3.hidden-phone.hidden-tablet
            .page-ui-element
              .row
                .ui-element-container
                  / Heading
                  %h3 Ayuda
                  / Heading
                  %p
                    %ul
                      %li Para establecer o modificar un precio se ha de clickear (en la parte balnca) sobre un día del calendario.
                      %li 
                        Los precios se pueden establecer o modificar por día o por rango de días, dependiendo de los datos que se rellenen:
                        %ul
                          %li Si se deja escogido solo el día del campo "Desde" del formulario, el precio se establecerá para ese día.
                          %li Si se completan los dos campos de fechas, el precio se aplicará al rango de las fechas, inclusive los días marcados.

          .col-lg-9#render_calendar
            = render "render_calendar"
            

#form_modal