.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Nombre
          %th Apellidos
          %th Fecha nacimiento
          %th NIF
          %th Fecha expedición NIF
          %th Pasaporte
          %th Fecha expedición pasaporte
          %th Nacionalidad
          %th Sexo
          %th Fecha entrada
          %th Fecha salida
          %th Email
      %tbody
        - @reservations.each do |r|
          - r.users.each do |cli|
            %tr
              %td= cli.name
              %td= cli.surname
              %td= cli.date_birth.present? ? cli.date_birth.strftime('%d/%m/%Y') : ""
              %td= cli.nif
              %td= cli.expedition_date_nif.present? ? cli.expedition_date_nif.strftime('%d/%m/%Y') : ""
              %td= cli.passport
              %td= cli.expedition_date_passport.present? ? cli.expedition_date_passport.strftime('%d/%m/%Y') : ""
              %td= cli.nationality
              %td= cli.gender
              %td= r.start_date.strftime("%d/%m/%y")
              %td= r.end_date.strftime("%d/%m/%y")
              %td= cli.email