- headers = ['Nombre', 'Apellidos', 'Fecha de nacimiento', 'NIF', 'Fecha expedición Nif', 'Pasaporte', 'Fecha expedición pasaporte', 'Nacionalidad', 'Sexo', 'Email', 'Fecha entrada', 'Fecha salida']
= CSV.generate_line headers
- @reservations.each do |r|
  - r.users.each do |cli|
    = CSV.generate_line([ cli.name, cli.surname, cli.date_birth.present? ? cli.date_birth.strftime('%d/%m/%Y') : "", cli.nif, cli.expedition_date_nif.present? ? cli.expedition_date_nif.strftime('%d/%m/%Y') : "", cli.passport, cli.expedition_date_passport.present? ? cli.expedition_date_passport.strftime('%d/%m/%Y') : "", cli.nationality, cli.gender, cli.email, r.start_date.strftime("%d/%m/%y"), r.end_date.strftime("%d/%m/%y")]).html_safe
  
 