= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.single-head
  %h3.pull-left
    %i.fa.fa-tachometer.orange
    = succeed "Dashboard" do
      %span.break
  .clearfix
.row
  .col-md-6
    / Pages widget
    .widget.pages-widget
      .widget-head.br-red
        %h3
          %i.fa.fa-file
          Entradas previstas para hoy
      .widget-body.no-padd
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Ref
                %th Apt.
                %th Cli.
                %th Acción
            %tbody
              - @reservation_start_today.each do |reservation|
                %tr
                  %td= reservation.reference
                  %td= truncate(reservation.apartments.pluck(:name).join(", "), :length => 20)
                  - client = reservation.get_renter
                  - if !client.nil?
                    - if client.is_user?
                      %td
                        = client.name
                    - else
                      %td
                        = client.business_name
                  - else
                    %td
                      Sin titular
                  %td
                    = link_to edit_admin_building_reservation_path(@building, reservation), class: "btn btn-success btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar reserva" do
                      %i.fa.fa-pencil
                    = link_to add_users_admin_building_reservation_path(@building, reservation), class: "btn btn-primary btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Clientes" do
                      %i.fa.fa-user
                    = link_to admin_building_reservation_path(@building, reservation), class: "btn btn-yellow btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Mostrar reserva" do
                      %i.fa.fa-eye
        .clearfix
  .col-md-6
    / Pages widget
    .widget.pages-widget
      .widget-head.br-red
        %h3
          %i.fa.fa-file
          Salidas previstas para hoy
      .widget-body.no-padd
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Ref
                %th Apt.
                %th Cli.
                %th Acción
            %tbody
              - @reservation_end_today.each do |reservation|
                %tr
                  %td= reservation.reference
                  %td= truncate(reservation.apartments.pluck(:name).join(", "), :length => 20)
                  - client = reservation.get_renter
                  - if !client.nil?
                    - if client.is_user?
                      %td
                        = client.name
                    - else
                      %td
                        = client.business_name
                  - else
                    %td
                      Sin titular
                  %td
                    = link_to edit_admin_building_reservation_path(@building, reservation), class: "btn btn-success btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar reserva" do
                      %i.fa.fa-pencil
                    = link_to add_users_admin_building_reservation_path(@building, reservation), class: "btn btn-primary btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Clientes" do
                      %i.fa.fa-user
                    = link_to admin_building_reservation_path(@building, reservation), class: "btn btn-yellow btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Mostrar reserva" do
                      %i.fa.fa-eye
        .clearfix

  .col-md-6
    / Pages widget
    .widget.pages-widget
      .widget-head.br-red
        %h3
          %i.fa.fa-file
          Reservas realizadas hoy
      .widget-body.no-padd
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Ref
                %th Apt.
                %th Cli.
                %th Acción
            %tbody
              - @reservation_reserved_today.each do |reservation|
                %tr
                  %td= reservation.reference
                  %td= truncate(reservation.apartments.pluck(:name).join(", "), :length => 20)
                  - client = reservation.get_renter
                  - if !client.nil?
                    - if client.is_user?
                      %td
                        = client.name
                    - else
                      %td
                        = client.business_name
                  - else
                    %td
                      Sin titular
                  %td
                    = link_to edit_admin_building_reservation_path(@building, reservation), class: "btn btn-success btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar reserva" do
                      %i.fa.fa-pencil
                    = link_to cancel_admin_building_reservation_path(@building, reservation), method: :put, data: {confirm: "¿Estas seguro de cancelar esta reserva?"}, class: "btn btn-danger btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Eliminar reserva" do
                      %i.fa.fa-trash-o
                    = link_to admin_building_reservation_path(@building, reservation), class: "btn btn-yellow btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Mostrar reserva" do
                      %i.fa.fa-eye
        .clearfix
.row
  .col-md-7
    / Pages widget
    .widget.pages-widget
      .widget-head.br-red
        %h3
          %i.fa.fa-file
          Disponibilidad apartamentos para hoy
      .widget-body.no-padd
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Nombre
                %th Tipo
                %th Edificio
                %th Estado ocupación
                %th Estado limpieza
                %th Acción
            %tbody
              - @apartments.each do |apartment|
                %tr
                  %td= apartment.name
                  %td= apartment.apartment_type.name
                  %td= @building.name
                  - if reservation = apartment.get_booking_today
                    %td
                      %span.badge.badge-danger O
                  - else
                    %td
                      %span.badge.badge-success L
                  - if apartment.cleaned?
                    %td
                      %span.badge.badge-info L
                  - else
                    %td
                      %span.badge.badge-warning S
                  %td
                    = link_to admin_building_apartment_path(@building, apartment), class: "btn btn-xs btn-info", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Ver apartamento" do
                      %i.fa.fa-eye
                    - if reservation
                      - @hosted_clients << { clients: reservation.users, apartment: apartment.name }
                      = link_to admin_building_reservation_path(@building, reservation), class: "btn btn-xs btn-yellow", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Ver la reserva" do
                        %i.fa.fa-desktop
                    - else
                      = link_to calendar_admin_building_apartment_path(@building, apartment), class: "btn btn-xs btn-primary", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Crear una reserva" do
                        %i.fa.fa-desktop
        .clearfix

  .col-md-5
    / Contacts widget
    .widget.contacts-widget
      .widget-head.br-purple
        %h3
          %i.fa.fa-user
          Clientes hospedados hoy
      .widget-body.scroll
        %ul.list-unstyled
          - users_export = []
          - @hosted_clients.each do |hosted_client|
            %li.contact-alpha
              %h4= hosted_client[:apartment]
              .clearfix
            %li.c-list
              .contact-details
                .pull-left
                  - hosted_client[:clients].each do |client|
                    - users_export << client
                    - if client.name.present?
                      %strong= client.name
                    - if client.surname.present?
                      %strong= client.surname
                    %br
                    - if client.phone.present?
                      %i.fa.fa-phone.small.contact-phone
                        = client.phone
                    - if client.email.present?
                      = " | "
                      %i.fa.fa-envelope-o.small.contact-email
                        = client.email
                    %br
                .clearfix
      %p
        Descargar:
        = link_to_unless users_export.empty?, "CSV", export_admin_building_dashboard_index_path(format: "csv")
        |
        = link_to_unless users_export.empty?, "Excel", export_admin_building_dashboard_index_path(format: "xls")
.clearfix
