#modalSendConfimation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
        %h4.modal-title Enviar confirmación
      .modal-body
        = bootstrap_flash
        = simple_form_for :send_confirmation, url: admin_building_reservation_send_confirmation_path(building, reservation), remote: true, :html => {:class => 'form-horizontal'} do |f|
          .col-lg-12
            = f.input :email
          .col-lg-12
            %div Emails asociados a la reserva:
            - if emails
              - emails.each do |email|
                %div= email
            - else
              No hay mail asociado a la reserva.
          .col-lg-12
            .text-center
              = f.submit 'Enviar mail', class: "btn btn-primary"
          .clearfix
      .modal-footer
        %button.btn.btn-default.btn-sm{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar