%fieldset
  %legend
    %h4 Añadir servicios opcionales
  .row
    .col-md-12
      %hr/
      .table-responsive
        %table.table.table-invoice.table-bordered
          %thead
            %tr
              %th
              %th Concepto
              / %th Descipción
              %th Precio (€)
              %th Tax (%)
              %th Noches / Unidades
              %th Total (€)
          %tbody
            
            = f.simple_fields_for :billings_services, :wrapper => false do |b|

              %tr.fields
                = b.input :concept, as: :hidden, :input_html => {value: "service"}
                %td
                  = (!b.object.new_record? and b.object.invoice.present?) ?  "Facturado" : (b.link_to_remove "X", class: "btn btn-xs btn-danger")
                %td
                  = b.association :service, as: :select, label_method: :label_description, :label => false, disabled: ( !b.object.new_record? and b.object.invoice.present?), collection: @building.services
                / %td= b.input :description, :label => false
                %td
                  = b.input :price, :label => false, :input_html => {class: "price"}, disabled: ( !b.object.new_record? and b.object.invoice.present?)
                %td
                  = b.input :tax, :label => false, :input_html => {class: "tax", :readonly => true}, disabled: ( !b.object.new_record? and b.object.invoice.present?)

                %td
                  = b.input :night, :label => false, :input_html => {value: b.object.night.present? ? b.object.night : num_night(@reservation.start_date.to_date, @reservation.end_date.to_date).to_i}, :input_html => {class: "night"}, disabled: ( !b.object.new_record? and b.object.invoice.present?)
                %td
                  = b.input :amount, :label => false, disabled: ( !b.object.new_record? and b.object.invoice.present?)
            %tr
              %td= f.link_to_add "Añadir", :billings_services, :class => "btn btn-mini", id: 'add_line_item'