.text-right
  = link_to "Añadir particular", new_admin_building_client_path(type: 'User', building_id: @building.id), :remote => true, class: "btn btn-primary"
  = link_to "Añadir empresa", new_admin_building_client_path(type: 'Business', building_id: @building.id), :remote => true, class: "btn btn-primary"

#form-search-clients.form-search-clients{data: {url: search_admin_building_clients_path(@building, reservation_id: @reservation), method: :get}}
  .col-md-3.form-group
    = text_field_tag 'q[id_eq]', nil, class: 'select optional form-control', placeholder: "Buscar por id"
  .col-md-3.form-group
    = text_field_tag 'q[name_or_surname_or_nif_or_cif_or_email_or_phone_or_business_name_cont]', nil, class: 'select optional form-control', placeholder: "Nombre, apellidos, razón social, nif, dni, etc"

  / .col-md-3
  /   = select("q", "type_eq", [[I18n.t('clients.user'), 'User'], [I18n.t('clients.business'),'Business']], {include_blank: 'Todos'}, {class: 'select optional form-control'})
  .col-md-3
    = link_to "Buscar", '#', class: "btn btn-primary", id: 'submit-search-client'
.clearfix.m-b-10