
- @apartment = Apartment.find(apartment_id)
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Resumen de la reserva
      .modal-body
        - if @error == true
          %h2 No se puede reservar este apartamento, ya existe una reserva en esas fechas o has escogido una fecha anterior al día de hoy.
        - else
          - normal_price = @apartment.get_price(start_date.to_date, end_date.to_date)
          - if normal_price == nil
            .alert.alert-danger.alert-dismissable
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              %strong ¡La reserva no se puede llevar a cabo!
              Imposible calcular el precio, algún o algunos días no tienen precio estipulado


          .single-head
            %h3.pull-left
              %i.fa.fa-desktop.orange
              Datos de la petición de reserva para el apartamento
              = "#{@apartment.name}"

            .clearfix


          .row.text-center
            .col-md-6.col-sm-6
              .well.br-red
                %h4 DESDE
                %h2= @start_date.strftime('%d/%m/%Y') 
            .col-md-6.col-sm-6
              .well.br-lblue
                %h4 HASTA
                %h2= @end_date.strftime('%d/%m/%Y')
            .col-md-6.col-sm-6
              .well.br-green
                %h4 N. NOCHES
                %h2= num_night(@start_date.to_date, @end_date.to_date)  
            .col-md-6.col-sm-6
              .well.br-purple
                %h4 PRECIO SIN DESCUENTO
                %h2.normal_price= normal_price (normal_price)
          %h4.text-center
            Para continuar con el proceso de reserva pulse el botón "Continuar reserva"





      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Elegir otras fechas
        - if @error == false
          = link_to "Continuar reserva", reservation_admin_building_reservations_path(@building, @apartment, start_date: start_date, end_date: @end_date), class: "btn btn-primary"