- if reservation.users.present?
  .table-responsive#companion_add_user
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th id
          %th Nombre
          %th Apellidos
          %th Email
          %th Teléfono
          %th Rol
          %th Borrar
      %tbody
        - reservation.users.companions.each do |c|
          %tr
            %td= link_to c.id, edit_admin_building_client_path(@building, c, reservation_id: reservation.id), :remote => true
            %td= c.name
            %td= c.surname
            %td= c.email
            %td= c.phone
            %td= I18n.t 'admin.reservation.companion'
            %td
              = link_to "Borrar de reserva", delete_user_admin_building_reservation_path(@building, reservation, :user_id => c.id), :method => :put, remote: true, class: "btn btn-xs btn-danger delete"
- else
  .table-responsive#companion_add_user
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th id
          %th Nombre
          %th Apellidos
          %th Email
          %th Teléfono
          %th Rol
          %th Borrar
      %tbody
        
  No hay clientes en esta habitación