.row
  .col-md-12
    %h4.title
      - if @reservation.business.present?
        Agencia o empresa titular
      - elsif @reservation.users.present?
        Cliente titular
      - else
        No hay cliente titular para esta reserva
.row
  .col-md-12
    - if @reservation.business.present?
      .table-responsive
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th id
              %th Razón social
              %th CIF
              %th Email
              %th Teléfono
              %th Contacto
              %th Rol
          %tbody
            - c = @reservation.business.where('clients_reservations.rol' => "renter").first
            %tr
              %td= c.id
              %td= c.business_name
              %td= c.cif
              %td= c.email
              %td= c.phone
              %td= c.name
              %td= I18n.t 'admin.reservation.renter'

    - elsif @reservation.users.present? and !@reservation.get_renter.nil?
      .table-responsive
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th id
              %th Nombre
              %th Apellidos
              %th Email
              %th Teléfono
              %th Rol
          %tbody
            - c = @reservation.get_renter
            %tr
              %td= c.id
              %td= c.name
              %td= c.surname
              %td= c.email
              %td= c.phone
              %td= I18n.t 'admin.reservation.renter'
    - else
      No hay cliente titular para esta reserva