- renter = reservation.nil? ? nil : reservation.get_renter.try(:id)
.widget.pages-widget
  .widget-head.br-red.inline
    %h3
      %i.fa.fa-file
      Clientes
  .widget-body.no-padd
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th ID
            %th Tipo
            %th Nombre
            %th Apellidos
            %th NIF/CIF
            %th Email
            %th Teléfono
            %th Asignar
        %tbody
          - clients.each do |client|
            %tr
              %td= link_to client.id, edit_admin_building_client_path(building, client), :remote => true
              %td= I18n.t("clients.#{client.type.downcase}")
              %td= client.get_name
              %td= client.surname
              %td= client.get_identity_card
              %td= client.email
              %td= client.phone
              %td= radio_button("reservation", "client_ids", "#{client.id}", checked: reservation && renter == client.id)
  .text-center.t-20
    = will_paginate clients, renderer: BootstrapPagination::Rails, link_options: { 'data-remote': true }, params: { controller: 'admin/clients', action: 'search' }
