.clearfix.form-search-clients
  = search_form_for [:admin, :building, @q], url: add_users_admin_building_reservation_path(@building, @reservation), :html => {:class => 'form-search'} do |f|
    .col-md-3
      = f.input :id_eq, as: :string, label: 'Buscar por ID', required: false
    .col-md-3
      = f.input :name_or_surname_or_nif_or_email_or_phone_or_business_name_cont, as: :string, label: 'Buscar', required: false
    .col-md-3.hidden
      = f.input :type_eq, as: :select, collection: [[I18n.t('clients.user'), 'User'], [I18n.t('clients.business'),'Business']], label: 'Tipo de cliente', include_blank: 'Todos', required: false, input_html: {value: 'User'}
    .col-md-3.actions-search
      = f.submit "Buscar", class: "btn btn-primary"
      = link_to "Limpiar", request.path, class: "btn btn-danger btn-forms"
.widget.pages-widget
  .widget-head.br-red.inline
    %h3
      %i.fa.fa-file
      Usuarios
  .widget-body.no-padd
    .table-responsive
      %table.table.table-bordered#table-clients
        %thead
          %tr
            %th ID
            %th Nombre
            %th Apellidos
            %th NIF
            %th Email
            %th Tlf.
            %th Asignar
        %tbody
          - users.each do |user|
            %tr{data: {client_id: user.id}}
              %td= link_to user.id, edit_admin_building_client_path(@building, user, reservation_id: reservation.id), :remote => true
              %td= user.name
              %td= user.surname
              %td= user.nif
              %td= user.email
              %td= user.phone
              %td
                - can_be_added = !reservation.users.include?(user) && !reservation.is_renter?(user)
                .text-center{class: "add #{'hide_text' if !can_be_added }"}
                  = link_to "Añadir a reserva", add_user_admin_building_reservation_path(@building, reservation, :user_id => user.id), :method => :put, remote: true, class: "btn btn-xs btn-primary add delete"
                .text-center{class: "added #{'hide_text' if can_be_added }"} Añadido a reserva
  .text-center.t-20
    = will_paginate @users, renderer: BootstrapPagination::Rails
#new_client_modal