
.widget.pages-widget
  .widget-head.br-red.inline
    %h3
      %i.fa.fa-file
      = @title_view
    .export
      Descargar:
      = link_to "CSV", params.merge(format: :csv)
      |
      = link_to "Excel", params.merge(format: :xls)
  .widget-body.no-padd
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th= sort_link(@q, :reference, 'Ref')
            %th= sort_link(@q, :apartments_name, 'Apt.')
            %th Cli.
            %th= sort_link(@q, :start_date, 'Entr.', default_order: :desc)
            %th= sort_link(@q, :end_date, 'Sal.')
            %th= sort_link(@q, :booking_reference, 'Local.')
            - if !action_canceled_reservations?
              %th= sort_link(@q, :status, 'Esta.')
            %th Total
            - if !action_canceled_reservations?
              %th Resto
            %th= sort_link(@q, :created_at, 'Creado')
            - if !action_canceled_reservations?
              %th Acciones
        %tbody
          - reservations.each do |r|
            %tr
              %td= r.reference
              %td= truncate(r.apartments.map{|a| a.name}.join(", "), :length => 20)
              - c = r.get_renter
              - if !c.nil?
                - if c.is_user?
                  %td
                    = c.name
                    = c.surname
                - else
                  %td
                    = c.business_name
              - else
                %td
                  Sin titular

              %td
                = r.start_date.strftime("%d/%m/%Y")
              %td
                = r.end_date.strftime("%d/%m/%Y")
              %td= r.booking_reference
              - if !action_canceled_reservations?
                - if r.status == "paid"
                  %td= "Pagado"
                - elsif r.status == "deposit"
                  %td Dep&oacute;sito
                - elsif r.status == "no_paid"
                  %td= "Pendiente de pago"
              %td= r.total.try(:round, 2)
              - if !action_canceled_reservations?
                %td= r.rest.try(:round, 2)
              %td= r.created_at.strftime("%d/%m/%Y")
              - if !action_canceled_reservations?
                %td
                  = link_to edit_admin_building_reservation_path(@building,r), class: "btn btn-success btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar reserva" do
                    %i.fa.fa-pencil
                  = link_to add_users_admin_building_reservation_path(@building,r), class: "btn btn-yellow btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Clientes" do
                    %i.fa.fa-user
                  = link_to admin_building_reservation_path(@building,r), class: "btn btn-xs btn-info", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Mostrar reserva" do
                    %i.fa.fa-eye
                  = link_to cancel_admin_building_reservation_path(@building, r), method: :put, data: {confirm: "¿Estas seguro de cancelar esta reserva?"}, class: "btn btn-danger btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Eliminar reserva" do
                    %i.fa.fa-trash-o
                  = link_to admin_building_reservation_invoices_path(@building,r), class: "btn btn-blue btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Facturación" do
                    %i.fa.fa-file-text-o
                  = link_to admin_building_reservation_new_send_confirmation_path(@building, r), method: :get, remote: true, class: "btn btn-blue btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Enviar confirmación" do
                    %i.fa.fa-envelope-o
                  = link_to copy_reservation_admin_building_reservation_path(@building, r) , class: "btn btn-blue btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Duplicar reserva" do
                    %i.fa.fa-copy
  .text-center.t-20
    = will_paginate @reservations, renderer: BootstrapPagination::Rails
