.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    = "Añadir acompañantes a la reserva #{@reservation.reference}, #{@reservation.apartments.map(&:name).join(", ")}"
  = link_to "Crear reserva", new_admin_building_reservation_path, class: "pull-right btn btn-primary btn-create"
  .clearfix
= render 'table_reservation_renter'
.row
  .col-md-12
    %h4.title
      Acompañantes
.row
  .col-md-12#table-users-reservaton
    = render 'table_users_reservation', reservation: @reservation
.row
  .col-md-12
    %h4.title
      Clientes registrados en el sistema
#table_users
  = render 'table_users', users: @users, reservation: @reservation
= link_to "Añadir nuevo cliente", new_admin_building_client_path(type: 'User', building_id: @building.id, reservation_id: @reservation.id), :remote => true, class: "btn btn-primary btn-add-new-user"
.row
  .col-md-12
    %h4.title
      Datos del apartamento alquilado
.row
  .col-md-12
    - @reservation.apartments.each do |a|

      .col-md-12.col-lg-12
        %h5= "Apartamento: #{a.name}"
        %table.table.table-user-information
          %tbody
            %tr
              %td.col-lg-3.col-md-6.col-sm-6.col-xs-6
                %strong Ref:
              %td= a.ref
            %tr
              %td
                %strong Nombre:
              %td= a.name
            %tr
              %td
                %strong Descripción es:
              %td= a.description_es.html_safe
            %tr
              %td
                %strong Descripción en:
              %td= a.description_en.html_safe
            %tr
              %td
                %strong Tipo apartamento:
              %td= a.apartment_type.name
            %tr
              %td
                %strong Nª personas:
              %td= a.num_persons
            %tr
              %td
                %strong Nª habitaciones:
              %td= a.num_bedrooms
            %tr
              %td
                %strong Tipo de cama:
              %td= a.bed_kind
            %tr
              %td
                %strong Sofás cama para dos personas:
              %td= a.double_couch
            %tr
              %td
                %strong Baño completo con ducha:
              %td= a.badroom
