$("#table-users-reservaton").fadeIn("slow").html('<%= escape_javascript(render 'admin/reservations/table_users_reservation', reservation: @reservation) %>');
$("tr[data-client-id='<%= @user.id %>'] a.add").hide();
$("tr[data-client-id='<%= @user.id %>'] div.added").show();

//CODIGO JAVASCRIPT EN.id+ RESERVATION.COFFEE
