#building_id.hidden= @building.id
#reservation_id.hidden= @reservation.id
- normal_price = @reservation.normal_price
- if normal_price == nil
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %strong ¡La reserva no se puede llevar a cabo!
    Imposible calcular el precio, algún o algunos días no tienen precio estipulado


.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    Editar reserva
  = link_to 'Volver atrás', :back, class: "pull-right btn btn-primary btn-create"

  .clearfix
= simple_nested_form_for [:admin, @building, @reservation] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      %h4= "Fechas"

    .row.text-center
      .col-md-3.col-sm-3
        .well.br-red
          %h4 DESDE
          %h2#start_date= @reservation.start_date.strftime('%d/%m/%Y')
      .col-md-3.col-sm-3
        .well.br-lblue
          %h4 HASTA
          %h2#end_date= @reservation.end_date.strftime('%d/%m/%Y')
      .col-md-3.col-sm-3
        .well.br-green
          %h4 Nº NOCHES
          %h2#nights= num_night(@reservation.start_date.to_date, @reservation.end_date.to_date)
      .col-md-3.col-sm-3
        .well.br-purple
          %h4 PRECIO APTO.
          - no_discount = @reservation.admin_price.present? ? @reservation.admin_price : @reservation.normal_price
          %h2.normal_price= normal_price(no_discount)



      - if @reservation.coupon.present?
        .col-md-3.col-sm-3
          .well.br-orange
            %h4 CUPÓN USADO
            %h2
              = @reservation.coupon.code
              = "(#{@reservation.coupon.discount}%)"
      - if @reservation.discount_systems.with_deleted.present?
        - @reservation.discount_systems.with_deleted.each do |d|
          .col-md-6.col-sm-6
            .well.br-orange
              %h4 DESCUENTO
              %h5
                = d.percentage.to_s + "%"
                =raw "#{d.description}"
      .col-md-6.col-sm-6
        .well.br-orange
          %h4 CONDICIONES
          %h5
            - if @reservation.reservation_condition
              = "#{@reservation.reservation_condition.title} (#{@reservation.reservation_condition.percent}%)"
              %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", "data-html"=>"true", :title => "#{@reservation.reservation_condition.description.try(:html_safe)}"}
            - else
              Condiciones ateriores al cambio de reservas.
      .col-md-3.col-sm-3
        .well.br-orange
          %h4 PRECIO FINAL (APT+SERV)
          %h2
            = normal_price(@reservation.total)



  - if @reservation.process == "created"
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      %strong Si estás creando una copia de una reserva
      has de poner el estado como finalizado. En caso de no cambiarse la reserva no se dará por finalizada. Al finalizar se enviará un correo al administrador y cliente.
    %fieldset
      %legend
        %h4 Estado Reserva
      .row
        .col-md-12
          = f.input :process, as: :select, collection: ['created', 'finished'], input_html: {value: @reservation.process}, include_blank: false, include_hidden: false
  %fieldset
    %legend
      %h4 Fechas
    .row.datetimerange.edit_reservation
      .col-lg-12
        = f.input :start_date, as: :date_picker, :required => false, :label => "Desde"
        = f.input :end_date, as: :date_picker, :required => false, :label => "Hasta"

      .col-lg-12
        #advise_dates
  %fieldset
    %legend
      %h4 Apartamento
    .row
      .col-md-12
        .table-responsive
          %table.table.table-hover.table-bordered
            %thead
              %tr
                %th Ref
                %th Nombre
                %th Hab
                %th PAX
                %th Precio Total
            %tbody
              - @reservation.apartments.each do |a|
                %tr
                  %td= a.ref
                  %td= a.name
                  %td= a.num_bedrooms
                  %td= a.num_persons
                  %td= normal_price(@reservation.total_price)

      .col-md-12
        .hidden#apartment_id= @apartment.id
        = f.input :apartment_reservation, :collection => @reservation.apartments, label_method: :apartment_name, :value_method => :id,:label => "Apartamentos libres para estas fechas", selected: @apartment.id, hint: 'Cargando apartamentos libres para estas fechas ...'
      .col-md-12
        #advise



  %fieldset
    %legend
      %h4 Precios y descuentos
    = f.input :normal_price, :input_html => {:value => (normal_price if normal_price != nil), id: "normal_price_disabled"}, :label => "Precio en el sistema", :disabled => true
    = f.input :normal_price, as: :hidden, :input_html => {:value => (normal_price if normal_price != nil)}
    = f.input :admin_price, :label => "Precio personalizado por parte del administrador"
    = f.input :with_condition_price, :input_html => {:value => (normal_price if normal_price != nil)}, disabled: true, label: "Precio con condición"
    = f.input :discount, :label => "Descuento a aplicar al precio total"
    = f.input :reservation_condition, as: :hidden, :input_html => {:value => (@reservation.reservation_condition ? @reservation.reservation_condition.percent : 0)}
    = f.association :reservation_condition, as: :select, collection: @building.reservation_conditions, :label => "Condición de reserva", selected: (@reservation.reservation_condition.present? ? @reservation.reservation_condition.try(:id) : @building.reservation_conditions.default.try(:id))

    .row
      .col-lg-12.text-center
        %h4 Condiciones de reservas
        - if @reservation.reservation_condition
          = "Nombre condición: #{@reservation.reservation_condition.title}"
          = " / Pago por adelantado: #{@reservation.reservation_condition.payment_percent}"
          = " / Porcentaje aplicado: #{@reservation.reservation_condition.percent}"
          =raw "#{@reservation.reservation_condition.description}"
        - else
          Condiciones ateriores al cambio de reservas.
    %br
    .row.text-center
      .col-md-offset-4.col-sm-offset-4.col-md-4.col-sm-4
        .well.br-red
          %h4 PRECIO FINAL APARTAMENTO
          %h2.total_price= @reservation.total_price.nil? ? "-" : normal_price(@reservation.total_price)
    = f.input :total_price, as: :hidden, :input_html => {:value => (@reservation.total_price if @reservation.total_price != nil)}

  = render 'optional_services', f: f


  %fieldset
    %legend
      %h4 Canal de reserva

    = f.association :channel, as: :select, :label => "Canal de reseva"
    = f.input :booking_reference, :label => "Localizador del canal"

  .row
    .col-md-12.col-lg-12
      %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
        Tarjeta Crédito
      #filter-panel.collapse.filter-panel
        .panel.panel-default
          .panel-body
            %p
              %strong Número:
              = f.input :credit_card_holder, as: :string, label: (I18n.t'reservation.placeholder.credit_card_holder')
              = f.input :credit_card_number, as: :string, label: (I18n.t'reservation.placeholder.credit_card')
              = f.input :credit_card_date, as: :string, label: (I18n.t'reservation.placeholder.credit_card_date')

  %fieldset
    %legend
      %h4 Opciones de reserva
    = f.input :adults, as: :select, collection: 0..@apartment.num_persons
    = f.input :childs, as: :select, collection: 0..@apartment.num_persons
    = f.input :client_comments

  %fieldset
    %legend
      %h4
        - renter = @reservation.get_renter
        - if renter.nil?
          No hay arrendatario para esta reserva
        - elsif renter.is_business?
          Agencia o empresa titular
        - elsif renter.is_user?
          Cliente titular

    .row
      .col-md-12
        - if !renter.nil?

          - if renter.is_business?
            .table-responsive
              %table.table.table-hover.table-bordered
                %thead
                  %tr
                    %th id
                    %th Razón social
                    %th CIF
                    %th Email
                    %th Teléfono
                    %th Contacto
                %tbody
                  %tr
                    %td= link_to renter.id, edit_admin_building_client_path(@building, renter), :remote => true
                    %td= renter.business_name
                    %td= renter.cif
                    %td= renter.email
                    %td= renter.phone
                    %td= renter.name

          - else
            .table-responsive
              %table.table.table-hover.table-bordered
                %thead
                  %tr
                    %th Id
                    %th Nombre
                    %th Apellidos
                    %th Email
                    %th Teléfono
                %tbody
                  %tr
                    %td= link_to renter.id, edit_admin_building_client_path(@building, renter), :remote => true
                    %td= renter.name
                    %td= renter.surname
                    %td= renter.email
                    %td= renter.phone
        - else
          No hay cliente titular para esta reserva


        = render 'search_clients'
        #table_add_renter
          = render 'table_add_renter', clients: @clients, reservation: @reservation, building: @building


        %fieldset
          %legend
            %h4 Comentario sobre reserva
          = f.input :comment, as: :text, :label => "Escribe aquí el comentario si así lo desea."

        %fieldset
          %legend
            %h4 Control de pagos
          .form-group
            .bs-callout.bs-callout-info
              .row
                = f.fields_for :payment_summaries do |p|
                  .col-sm-6.col-md-4.col-xs-12
                    .thumbnail.valid_dates
                      = p.input :kind, as: :select, :label => "Tipo", class: "form-control", :style => "margin-bottom: 5px;", :required => true, collection: PaymentSummary::TYPES.map{|t| ["#{I18n.t 'payments.type.' + t}", t]}, :include_blank => false
                      = p.input :method, as: :select, :label => "Forma de pago", class: "form-control ", :style => "margin-bottom: 5px;", :required => true, collection: PaymentSummary::METHODS.map{|t| ["#{I18n.t 'payments.method.' + t}", t]}, :include_blank => false
                      = p.input :amount, as: :float, :label => "Cantidad en €"

                      .caption.text-center
                        = p.link_to_remove "Borrar Pago", class: "btn btn-xs btn-danger"

                = f.link_to_add "Añadir pago", :payment_summaries, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"

        = f.submit "Guardar cambios", class: "btn btn-primary"
#new_client_modal

