- headers = ["Referencia", 'Fecha entrada', 'Fecha salida', 'Precio standard', 'Descuento', 'Precio total', 'Estado del pago', 'Precio del administrador', 'Resto', 'Comentario']
= CSV.generate_line headers

- @reservations.each do |reserv|
  - if reserv.status == "paid"
    - status = "Pagado"
  - elsif reserv.status == "no paid"
    - status = "Pendiente de pago"
  - elsif reserv.status == "canceled"
    - status = "Cancelado"
  - elsif reserv.status == "deposit"
    - status = "Deposito"
  - row = [reserv.reference, reserv.start_date.strftime("%d-%m-%Y"), reserv.end_date.strftime("%d-%m-%Y"), reserv.normal_price, reserv.discount, reserv.total_price, status, reserv.admin_price, reserv.rest, reserv.comment]
  = CSV.generate_line(row).html_safe.strip
