.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Referencia
          %th Fecha entrada
          %th Fecha salida
          %th Precio standard
          %th Descuento
          %th Precio total
          %th Estado del pago
          %th Precio del administrador
          %th Resto
          %th Comentario
      %tbody
        - @reservations.each do |reserv|
          %tr
            %td= reserv.reference
            %td= reserv.start_date.strftime("%d-%m-%Y")
            %td= reserv.end_date.strftime("%d-%m-%Y")
            %td= reserv.normal_price
            %td= reserv.discount
            %td= reserv.total_price
            - if reserv.status == "paid"
              %td= "Pagado"
            - elsif reserv.status == "deposit"
              %td Dep&oacute;sito
            - elsif reserv.status == "no paid"
              %td= "Pendiente de pago"
            - elsif reserv.status == "canceled"
              %td= "Cancelado"
            %td= reserv.admin_price
            %td= reserv.rest
            %td= reserv.comment