

.row
  .col-lg-12
    %h5.title
      Reservas no finalizadas

  .page-ui-element
    .ui-element-container
      #ausers.tab-pane#result
        .page-tables
          .table-responsive
            %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", class: "data-table"}
              %thead
                %tr
                  %th Ref
                  %th Apart.
                  %th Cli.
                  %th Entr.
                  %th Sal.
                  %th Localiz.
                  %th Estado
                  %th Total
                  %th Resto
                  %th Creación
                  %th N.pedido
                  %th Acciones
              %tbody
                - @reservations_unfinised.each do |r|
                  - if r.transaction_payment.present?
                    %tr
                      %td= r.reference
                      %td= truncate(r.apartments.map{|a| a.name}.join(", "), :length => 20)
                      - c = r.get_renter
                      - if !c.nil?
                        - if c.is_user?
                          %td
                            = c.name
                            = c.surname
                        - else
                          %td
                            = c.business_name
                      - else
                        %td
                          Sin titular

                      %td
                        %span=  r.start_date.strftime("%Y%m%d")
                        = r.start_date.strftime("%d/%m/%Y")
                      %td
                        %span=  r.end_date.strftime("%Y%m%d")
                        = r.end_date.strftime("%d/%m/%Y")
                      %td= r.booking_reference
                      - if r.status == "paid"
                        %td= "Pagado"
                      - elsif r.status == "deposit"
                        %td Dep&oacute;sito
                      - elsif r.status == "no_paid"
                        %td= "Pendiente de pago"
                      %td= r.total.try(:round, 2)
                      %td= r.rest.try(:round, 2)
                      %td= r.created_at.strftime("%d/%m/%Y")
                      %td= r.transaction_payment.try(:reference)
                      %td
                        = link_to edit_admin_building_reservation_path(@building,r), class: "btn btn-success btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar reserva" do
                          %i.fa.fa-pencil
                        = link_to add_users_admin_building_reservation_path(@building,r), class: "btn btn-yellow btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Clientes" do
                          %i.fa.fa-user
                        = link_to admin_building_reservation_path(@building,r), class: "btn btn-xs btn-info", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Mostrar reserva" do
                          %i.fa.fa-eye
                        = link_to cancel_admin_building_reservation_path(@building, r), method: :put, data: {confirm: "¿Estas seguro de cancelar esta reserva?"}, class: "btn btn-danger btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Eliminar reserva" do
                          %i.fa.fa-trash-o
                        = link_to admin_building_reservation_invoices_path(@building,r), class: "btn btn-blue btn-xs", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Facturación" do
                          %i.fa.fa-file-text-o
