.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    Administrar Reservas
  = link_to "Atrás", :back, class: "pull-right btn btn-black btn-create"
  = link_to "Crear reserva", new_admin_building_reservation_path, class: "pull-right btn btn-primary btn-create"
  - if action_active_reservations?
    = link_to "Vista calendario", '#', class: "pull-right btn btn-warning btn-create", id: 'change_view'


  .clearfix

#view_table
  = search_form_for [:admin, :building, @q], url: request.path, :html => {:class => 'form-search'} do |f|
    .col-md-3
      = f.input :start_date_gteq, as: :date_picker, label: "Creada desde", placeholder: "Desde", input_html: {value: (params[:q][:start_date_gteq] if params[:q]) }, label: "Desde", required: false
    .col-md-3
      = f.input :end_date_lteq, as: :date_picker, label: "Hasta", placeholder: "Hasta", input_html: {value: (params[:q][:end_date_lteq] if params[:q])}, required: false
    .col-md-3
      = f.input :reference_cont, label: "Referencia", placeholder: "Ref", input_html: {value: (params[:q][:reference_cont] if params[:q])}, required: false
    .col-md-3
      = f.input :users_name_or_users_surname_or_users_business_name_cont, label: "Cliente", placeholder: "Cliente", input_html: {value: (params[:q][:users_name_or_users_surname_cont_or_users_business_name_cont] if params[:q])}, required: false
    .col-md-3
      = f.input :apartments_name_cont, label: "Apt", placeholder: "Apt", input_html: {value: (params[:q][:apartments_name_cont] if params[:q])}, required: false

    .col-md-3
      = f.input :start_date_eq, as: :date_picker, label: "Entrada", placeholder: "Entrada", input_html: {value: (params[:q][:start_date_eq] if params[:q])}, required: false
    .col-md-3
      = f.input :end_date_eq, as: :date_picker, label: "Salida", placeholder: "Salida", input_html: {value: (params[:q][:end_date_eq] if params[:q])}, required: false
    .col-md-3
      = f.input :created_at_eq, as: :date_picker, label: "Creada", placeholder: "Creada", input_html: {value: (params[:q][:created_at_eq] if params[:q])}, required: false
    .clearfix
    .form-group.col-lg-3
      = f.submit
      = link_to "Limpiar búsqueda", request.path, class: "btn btn-sm btn-danger"
    .clearfix

  .clearfix
  = render 'table_reservations', reservations: @reservations

- if action_active_reservations?
  #view_calendar.hidden
    .hidden
      #building_id= @building.id
    .single-head
      %h3.pull-left
        %i.fa.fa-calendar
        = succeed "Reserva Manual" do
          %span.break
      .clearfix
    .row
      .col-lg-12
        .box
          .box-content
            .row
              .col-lg-12#render_calendar
                //#calendar_reservations.col-lg-12
                .contenedor-calendario
                  .cabecera-calendario
                    %a{:href => "#",class: "enlace-mes prev-mes"}
                      <<
                    %h3.nombre-mes
                    %a{:href => "#",class: "enlace-mes next-mes"}
                      >>
                    .clearfix
                  .table-responsive
                    %table.calendario-reservas
                      %thead
                        %tr
                          %td
                            Apartamento
                      %tbody
            .row
              .col-lg-12.legend
                .title Leyenda:
                %div
                  %span{style: "background-color:#f75353;display: inline-block; width: 10px; height: 10px;"}
                  = "Web"
                - Channel.all.each do |ch|
                  %div
                    %span{style: "background-color:#{ch.color};display: inline-block; width: 10px; height: 10px;"}
                    = ch.name
#modal