.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    Crear reserva en el sistema
  
  .clearfix


= simple_form_for :search, url: search_apartmens_admin_building_reservations_path, :method => :get, :wrapper => :vertical_form do |f|
  %filedset
    %legend Búsqueda de apartamentos libres para las fechas:
    .row.datetimerange
      .col-lg-9
        = f.input :start, as: :date_picker, :input_html => {class: "col-sm-6", value: (@start.strftime('%d/%m/%Y') if @start.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Desde"
        = f.input :end, as: :date_picker, :input_html => {class: "col-sm-6", value: (@end_date.strftime('%d/%m/%Y') if @end_date.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Hasta"
      .col-lg-3
        .form-group.search-inline-buttons
          = f.submit "Consultar", class: "btn btn-primary"
          = link_to "Reset", admin_building_reservations_path, class: "btn btn-danger btn-forms"


.page-ui-element
  .ui-element-container   
    - if @apartments.present?
      %h2= "Apartamentos libres desde el #{@start.strftime('%d/%m/%Y')} al #{@end_date.strftime('%d/%m/%Y')}"
      .row.results_apartments
        - @apartments.each do |ap|
          .col-xs-6.col-sm-4.col-md-4
            .well.well-sm{style: "min-height: 270px; "}
              .row
                .col-sm-6.col-md-4
                  - if ap.photos.no_accordion.first.present?
                    = link_to ap.photos.no_accordion.first.picture.url, class: "prettyphoto" do
                      = image_tag ap.photos.no_accordion.first.picture.url, class: "img-responsive"
                  - else
                    %img.img-rounded.img-responsive{:alt => "", :src => "https://placehold.it/380x500"}/
                .col-sm-6.col-md-8
                  %h4
                    %strong Nombre:
                    = ap.name
                  %h4
                    %strong Tipo:
                    = ap.apartment_type.name
                  %h4
                    %strong Capacidad:
                    = "#{ap.num_persons} personas"
                  %h4
                    %strong Habitacion/es:
                    = ap.num_bedrooms
                  %h4
                    %strong Sofá (2 personas):
                    = ap.double_couch
                  %h4
                    %strong Tipo de cama:
                    = ap.bed_kind
                  %h4
                    %strong Baño/s:
                    = ap.badroom

                  - block_reservation_apartment = BlockReservationService.new(current_admin, @start, @end_date, ap.id)
                  - if !block_reservation_apartment.blocked_dates_for_apartment?
                    = link_to "Reservar", reservation_admin_building_reservations_path(@building, ap, start_date: @start, end_date: @end_date), class: "btn btn-primary"
                  - else
                    %small Bloqueado por tramite reserva, por favor, pruebe en 7 minutos
                
    - else
      .text-center No existen apartamentos libres para esta fecha
