$(".modal-backdrop.fade.in").remove();
$("#modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/reservations/new_send_confirmation', building: @building, reservation: @reservation, emails: @emails ) %>');
$("#modalSendConfimation").modal();