#building_id.hidden= @building.id
- normal_price = @apartment.get_price(@start_date.to_date, @end_date.to_date)
- if normal_price == nil
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %strong ¡La reserva no se puede llevar a cabo!
    Imposible calcular el precio, algún o algunos días no tienen precio estipulado


.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    Completar reserva para el apartamento
    = "#{@apartment.name}"
  = link_to 'Volver atrás', :back, class: "pull-right btn btn-primary btn-create"

  .clearfix
= simple_nested_form_for [:admin, @building, @reservation] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      %h4= "Fechas"
    = f.input :start_date, as: :hidden, :input_html => {:value => @start_date.strftime('%d/%m/%Y')}
    = f.input :end_date, as: :hidden, :input_html => {:value => @end_date.strftime('%d/%m/%Y')}
    = f.input :normal_price, as: :hidden, :input_html => {:value => (normal_price if normal_price != nil)}, :label => "Precio en el sistema", :disabled => true


    .row.text-center
      .col-md-3.col-sm-3
        .well.br-red
          %h4 DESDE
          %h2= @start_date.strftime('%d/%m/%Y')
      .col-md-3.col-sm-3
        .well.br-lblue
          %h4 HASTA
          %h2= @end_date.strftime('%d/%m/%Y')
      .col-md-3.col-sm-3
        .well.br-green
          %h4 Nº NOCHES
          %h2#nights= num_night(@start_date.to_date, @end_date.to_date)
      .col-md-3.col-sm-3
        .well.br-purple
          %h4 PRECIO SIN DESCUENTO
          %h2.normal_price= normal_price (normal_price)

  %fieldset
    %legend
      %h4 Precios y descuentos
    = f.input :normal_price , :input_html => {:value => (normal_price if normal_price != nil)}, :label => "Precio en el sistema", :disabled => true
    = f.input :normal_price , as: :hidden, :input_html => {:value => (normal_price if normal_price != nil)}
    = f.input :admin_price, :label => "Precio personalizado por parte del administrador"
    = f.input :discount, :label => "Descuento a aplicar al precio total"
    = f.input :reservation_condition, as: :hidden, :input_html => {:value => (@reservation.reservation_condition ? @reservation.reservation_condition.percent : 0)}
    = f.association :reservation_condition, as: :select, collection: @building.reservation_conditions, :label => "Condición de reserva", selected: @building.reservation_conditions.default

    .row.text-center
      .col-md-offset-4.col-sm-offset-4.col-md-4.col-sm-4
        .well.br-red
          %h4 PRECIO FINAL DE RESERVA
          %h2.total_price= normal_price.nil? ? "-" : normal_price(normal_price)
    = f.input :total_price, as: :hidden, :input_html => {:value => (normal_price if normal_price != nil)}

  %fieldset
    %legend
      %h4 Apartamento

    = f.association :apartments, :collection => @building.apartments.no_deleted, as: :hidden, :input_html => {value: @apartment.id}

    .row
      .col-md-12.col-lg-12
        %table.table.table-user-information
          %tbody
            %tr
              %td.col-lg-3.col-md-6.col-sm-6.col-xs-6
                %strong Ref:
              %td= @apartment.ref
            %tr
              %td
                %strong Nombre:
              %td= @apartment.name
            %tr
              %td
                %strong Descripción es:
              %td= @apartment.description_es.html_safe
            %tr
              %td
                %strong Descripción en:
              %td= @apartment.description_en.html_safe
            %tr
              %td
                %strong Tipo apartamento:
              %td= @apartment.apartment_type.name
            %tr
              %td
                %strong Nª personas:
              %td= @apartment.num_persons
            %tr
              %td
                %strong Nª habitaciones:
              %td= @apartment.num_bedrooms
            %tr
              %td
                %strong Tipo de cama:
              %td= @apartment.bed_kind
            %tr
              %td
                %strong Sofás cama para dos personas:
              %td= @apartment.double_couch
            %tr
              %td
                %strong Baño completo con ducha:
              %td= @apartment.badroom
  = render 'optional_services', f: f



  %fieldset
    %legend
      %h4 Canal de reserva

    = f.association :channel, as: :select, :label => "Canal de reseva"
    = f.input :booking_reference, :label => "Localizador del canal"

  .row
    .col-md-12.col-lg-12
      %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
        Tarjeta Crédito
      #filter-panel.collapse.filter-panel
        .panel.panel-default
          .panel-body
            %p
              %strong Número:
              = f.input :credit_card_holder, as: :string, label: (I18n.t'reservation.placeholder.credit_card_holder')
              = f.input :credit_card_number, as: :string, label: (I18n.t'reservation.placeholder.credit_card')
              = f.input :credit_card_date, as: :string, label: (I18n.t'reservation.placeholder.credit_card_date')
  %fieldset
    %legend
      %h4 Opciones de reserva
    = f.input :adults
    = f.input :childs
    = f.input :client_comments

  %fieldset
    %legend
      %h4 Cliente titular
    = render 'search_clients'
    #table_add_renter
      = render 'table_add_renter', clients: @clients, building: @building, reservation: nil


  %fieldset
    %legend
      %h4 Comentario sobre reserva
    = f.input :comment, as: :text, :label => "Escribe aquí el comentario si así lo desea."

  %fieldset
    %legend
      %h4 Control de pagos
    .form-group
      .bs-callout.bs-callout-info
        .row
          = f.fields_for :payment_summaries do |p|
            .col-sm-6.col-md-4.col-xs-12
              .thumbnail.valid_dates
                = p.input :kind, as: :select, :label => "Tipo", class: "form-control", :style => "margin-bottom: 5px;", :required => true, collection: PaymentSummary::TYPES.map{|t| ["#{I18n.t 'payments.type.' + t}", t]}, :include_blank => false
                = p.input :method, as: :select, :label => "Forma de pago", class: "form-control ", :style => "margin-bottom: 5px;", :required => true, collection: PaymentSummary::METHODS.map{|t| ["#{I18n.t 'payments.method.' + t}", t]}, :include_blank => false
                = p.input :amount, as: :float, :label => "Cantidad en €"

                .caption.text-center
                  = p.link_to_remove "Borrar Pago", class: "btn btn-xs btn-danger"

          = f.link_to_add "Añadir pago", :payment_summaries, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"

  = f.submit "Crear reserva", class: "btn btn-primary"
#new_client_modal
