.single-head
  %h3.pull-left
    %i.fa.fa-desktop.orange
    = "Reserva #{@reservation.reference}"
  = link_to "Imprimir", "javascript:window.print()", class: "btn btn-default pull-right no-print"
  .clearfix

.row.text-center
  .col-md-3.col-sm-3
    .well.br-blue
      %h4 REFERENCIA
      %h2= @reservation.reference
  .col-md-3.col-sm-3
    .well.br-red
      %h4 DESDE
      %h2= @reservation.start_date.strftime('%d/%m/%Y')
  .col-md-3.col-sm-3
    .well.br-lblue
      %h4 HASTA
      %h2= @reservation.end_date.strftime('%d/%m/%Y')
  .col-md-3.col-sm-3
    .well.br-green
      %h4 Nº NOCHES
      %h2= num_night(@reservation.start_date.to_date, @reservation.end_date.to_date)
  .col-md-3.col-sm-3
    .well.br-orange
      %h4 PRECIO TOTAL
      %h2
        = normal_price(@reservation.total)
  .col-md-3.col-sm-3
    .well.br-orange
      %h4 PAGADO
      %h2= normal_price(@paid)
  .col-md-3.col-sm-3
    .well.br-orange
      %h4 ESTADO
      %h3= @reservation.status == "paid" ? "Pagado" : "Pendiente de pago"
  .col-md-3.col-sm-3
    .well.br-orange
      %h4 PENDIENTE DE PAGO
      %h2
        - rest = @reservation.rest.present? ? @reservation.rest : 0
        = normal_price(rest)
  - if @reservation.coupon.present?
    .col-md-3.col-sm-3
      .well.br-orange
        %h4 CUPÓN USADO
        %h2
          = @reservation.coupon.code
          = "(#{@reservation.coupon.discount}%)"
          %i.fa.fa-info-circle{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "#{@reservation.coupon.description}"}
  - if @reservation.discount_systems.with_deleted
    - @reservation.discount_systems.with_deleted.each do |d|
      .col-md-6.col-sm-6
        .well.br-orange
          %h4 DESCUENTO
          %h5
            - if d.percentage == @reservation.discount
              = d.percentage.to_s + "%"
            - else
              .before= d.percentage.to_s + "%"
              = @reservation.discount.to_s + "% (Presonalizado por admin)"
            =raw "#{d.description}"
  .col-md-6.col-sm-6
    .well.br-orange
      %h4 CONDICIONES
      %h5
        - if @reservation.reservation_condition
          =link_to edit_admin_building_reservation_condition_path(@building, @reservation.reservation_condition) do
            = @reservation.reservation_condition.title_es
            =raw "#{@reservation.reservation_condition.description_es}"
        - else
          Condiciones ateriores al cambio de reservas.

.row
  .col-md-12
    %h4.title
      Información de reserva
    %table.table
      %tbody
        %tr
          %td.col-lg-2.col-md-4.col-sm-4.col-xs-4
            %strong Adultos:
          %td= @reservation.adults
        %tr
          %td
            %strong Niños:
          %td= @reservation.childs
        %tr
          %td
            %strong Comentarios de cliente:
          %td= @reservation.client_comments

.row
  .col-md-12
    %h4.title
      Resumen de pagos
.row
  .col-md-12
    / - if @reservation.business.present?
    .table-responsive
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Referencia del pago
            %th Fecha
            %th Cantidad
            %th Tipo de pago
            %th Método pago
            %th Fecha
        %tbody
          - @reservation.payment_summaries.each do |p|
            %tr
              %th
                - if p.transaction_payment.present?
                  = p.transaction_payment.is_paypal? ? p.transaction_payment.token_paypal : p.transaction_payment.reference
                - else
                  = "-"
              %td= p.created_at.strftime("%d/%m/%Y")
              %td= normal_price(p.amount)
              %td= "#{I18n.t 'payments.type.' + p.kind} "
              %td= "#{I18n.t 'payments.method.' + p.method} "
              %td= p.created_at.strftime('%d/%m/%Y')


.row
  .col-md-12
    %h4.title
      Resumen de  reserva y servicios opcionales
.row
  .col-md-12
    / - if @reservation.business.present?
    .table-responsive
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th Servicio
            %th Precio x día
            %th Noches/Unidades
            %th Precio único
            %th Precio total
        %tbody
          - if @reservation.billings.empty?
            No se han contratado ningún servicio
          - else
            - @reservation.billings.apartments.each do |b|
              %tr
                %td= b.reservation.apartments.first.name
                %td= normal_price(b.amount / b.night)
                %td= b.night
                %td
                %td= normal_price(b.amount)
            - @reservation.billings.services.each do |b|
              %tr
                %td= b.service.name
                %td= b.service.unique_price? ? "-" : normal_price(b.price)
                %td= b.night
                %td= b.service.unique_price? ? normal_price(b.price) : "-"
                %td
                  - if b.amount != b.night * b.price
                    .before= normal_price(b.price)
                    = normal_price(b.amount)
                  - else
                    = normal_price(b.amount)



= render "table_reservation_renter"


.row
  .col-md-12
    %h4.title
      Acompañantes
.row
  .col-md-12#table-users-reservaton
    .table-responsive
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th id
            %th Nombre
            %th Apellidos
            %th Email
            %th Teléfono
            %th Rol
        %tbody
          - if @reservation.users.present?
            - @reservation.users.companions.each do |c|
              %tr
                %td= link_to c.id, edit_admin_building_client_path(@building, c, reservation_id: @reservation.id), :remote => true
                %td= c.name
                %td= c.surname
                %td= c.email
                %td= c.phone
                %td= I18n.t 'admin.reservation.companion'


.row.no-print
  .col-md-12
    %h4.title
      Datos del apartamento alquilado
.row.no-print
  .col-md-12
    - @reservation.apartments.each do |a|
      .col-md-12.col-lg-12
        %h5= "Apartamento: #{a.name}"
        %table.table.table-user-information
          %tbody
            %tr
              %td.col-lg-3.col-md-6.col-sm-6.col-xs-6
                %strong Ref:
              %td= a.ref
            %tr
              %td
                %strong Nombre:
              %td= a.name
            %tr
              %td
                %strong Descripción es:
              %td= a.description_es.html_safe
            %tr
              %td
                %strong Descripción en:
              %td= a.description_en.html_safe
            %tr
              %td
                %strong Tipo apartamento:
              %td= a.apartment_type.name
            %tr
              %td
                %strong Nª personas:
              %td= a.num_persons
            %tr
              %td
                %strong Nª habitaciones:
              %td= a.num_bedrooms
            %tr
              %td
                %strong Tipo de cama:
              %td= a.bed_kind
            %tr
              %td
                %strong Sofás cama para dos personas:
              %td= a.double_couch
            %tr
              %td
                %strong Baño completo con ducha:
              %td= a.badroom
            %tr
              %td
                %strong Condiciones de reservas escogidas:
              %td
                - if @reservation.reservation_condition
                  = @reservation.reservation_condition.try(:title)
                  %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", "data-html"=>"true", :title => "#{@reservation.reservation_condition.try(:description).try(:html_safe)}"}
                - else
                  Reserva anterior al cambio.

.row
  .col-md-12.col-lg-12
    %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
      / %span.glyphicon.glyphicon-cog
      Tarjeta Crédito
    #filter-panel.collapse.filter-panel
      .panel.panel-default
        .panel-body
          %p
            %strong= I18n.t 'reservation.placeholder.credit_card_holder'
            = @reservation.credit_card_holder
          %p
            %strong= I18n.t 'reservation.placeholder.credit_card'
            = @reservation.credit_card_number
          %p
            %strong= I18n.t 'reservation.placeholder.credit_card_date'
            = @reservation.credit_card_date

.row.no-print
  .col-md-12
    %h4.title
      ACCIONES

    = link_to 'Añadir cliente', add_users_admin_building_reservation_path, class: "pull-left btn btn-primary inline_btn"
    = link_to 'Editar', edit_admin_building_reservation_path, class: "pull-left btn btn-primary inline_btn"
    / = link_to 'Imprimir',  class: "pull-left btn btn-primary inline_btn"
    / = link_to 'Factura',  class: "pull-left btn btn-primary inline_btn"