$("#summary_modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/reservations/summary_modal', start_date: @start_date, end_date: @end_date, building_id: @building.id, apartment_id: @apartment.id, error: @error)  %>');
$('#myModal').modal();