= simple_form_for [:admin, @building, @config_calendar], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :nights, :label => "Número de noches mínimas"


  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
