.single-head
  %h3.pull-left
    %i.fa.fa-moon-o.orange
    Administrar Noches mínimas
  - if @config_calendars.empty?
    = link_to "Establecer noches mínimas", new_admin_building_config_calendar_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Número de noches
          %th Acciones
      %tbody
        - @config_calendars.each do |cc|
          %tr
            %td= cc.nights     
            %td
              = link_to edit_admin_building_config_calendar_path(@building, cc), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_config_calendar_path(@building, cc), class: "btn btn-xs btn-info" do
                %i.fa.fa-eye


