.single-head
  %h3.pull-left
    %i.fa.fa-moon-o.orange
    = "Mostrar noches mínimas"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Número noches mínimas:
          %td= @config_calendar.nights