.single-head
  %h3.pull-left
    %i.fa.fa-file-pdf-o.orange
    = "Editando #{@ad_home.name}"
  .clearfix

  = simple_form_for [:admin, @building, @ad_home], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

    = f.input :name, :label => "Nombre"

    .select-picture
      %label Imagen publicidad
      = f.file_field :image, :accept => "image/*", wrapper_html: :horizontal_file_input
      - if @ad_home.image.present?
        .page-gallery
          #gallery
            .element
              = link_to @ad_home.image.url, class: "prettyphoto" do
                = image_tag @ad_home.image.url, class: "img-responsive"
    / = f.input :active, as: :check_boxes, :label => "Activo", :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4'

    .form-actions
      = f.button :submit, "Guardar", class: "btn btn-primary"