.single-head
  %h3.pull-left
    %i.fa.fa-file-pdf-o.orange
    Administrar Publicidad en página de inicio
  / = link_to "Crear Publicidad", new_admin_building_ad_pdf_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Imagen
          %th Nombre
          %th Estado
          %th Acciones
      %tbody
        / - @ad_pdfs.each do |pu|
        - if @ad_home
          %tr
            %td.text-center
              - if @ad_home.image.present?
                = link_to @ad_home.image.url, rel: "prettyPhoto" do
                  = image_tag @ad_home.image.url, style: "width: 30px; height: 30px"
            %td= @ad_home.name
            %td
              %input{:checked => @ad_home.active? == true ? true : false, :name => "ad-home-active", :type => "checkbox", "data-on-text": "Activado", "data-off-text": "Desactivado", "data-on-color": "success", "data-off-color": "warning", :id => @ad_home.id, "data_building"=> @building.id}/
     
            %td
              - if @ad_home
                = link_to edit_admin_building_ad_home_path(@building, @ad_home.id), class: "btn btn-xs btn-success" do
                  %i.fa.fa-pencil
                = link_to admin_building_ad_home_path(@building, @ad_home), class: "btn btn-xs btn-info" do
                  %i.fa.fa-eye


