.single-head
  %h3.pull-left
    %i.fa.fa-file-pdf-o.orange
    = "Ver Publicidad #{@ad_home.name}"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Nombre:
          %td= @ad_home.name
        %tr
          %td
            %strong Activo:
          %td
            - if @ad_home.active == true
              Publicidad activada
            - else
              Publicidad desactivada
        %tr
          %td 
            %strong Imagen:
          %td
            .page-gallery
              #gallery
                = link_to @ad_home.image.url, class: "prettyphoto" do
                  = image_tag @ad_home.image.url, class: "img-responsive"
        

