= simple_nested_form_for [:admin, @building, @slider] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|

  %fieldset
    %legend
      %h4= "Galería de imágenes"  
    .form-group  
      .bs-callout.bs-callout-info
        .row
          = f.fields_for :photos do |photo|
            .col-sm-6.col-md-6.col-xs-12
              .thumbnail
                = photo.text_field :caption_es, :placeholder => "Texto (español)", class: "form-control", :style => "margin-bottom: 5px;", :required => true
                = photo.text_field :caption_en, :placeholder => "Texto (ingles)", class: "form-control", :style => "margin-bottom: 5px;"
                = photo.text_field :caption_pt, :placeholder => "Texto (portugués)", class: "form-control", :style => "margin-bottom: 5px;"
                - if photo.object.picture.present?
                  = image_tag photo.object.picture.url(:preview), class: "img-rounded img-responsive"
                             
                = photo.file_field :picture, :accept => "image/*"
     
                .caption.text-center
                  = photo.link_to_remove "Borrar Imagen", class: "btn btn-xs btn-danger"
                - if photo.object.new_record? and photo.object.caption_es.blank?
                  .has-error.text-center
                    .help-block= "Las imágenes han de llevar una foto y la leyenda en español como campos mínimos y obligatorios"
                - else
                  .help-block.tex-align= "Las imágenes han de llevar una foto y la leyenda en español como campos mínimos y obligatorios"

          = f.link_to_add "Añadir Imagen", :photos, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"
  .form-actions
    %br
    = f.button :submit, "Guardar", class: "btn btn-primary"