.single-head
  %h3.pull-left
    %i.fa.fa-home.orange
    Administrar Slider
  = link_to 'Editar slider', edit_admin_building_slider_path(@building, @slider), class: "pull-right btn btn-primary btn-create"
  .clearfix


.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Imagen
          %th Texto ES
          %th Texto EN

      %tbody
        - if @slider.photos.present?
          - @slider.photos.each do |photo|
            %tr
              %td= image_tag photo.picture.url(:thumbnail), class: "img-rounded img-responsive"
              %td= photo.caption_es
              %td= photo.caption_en

        - else
          %tr
            %td
            %td

