= simple_nested_form_for [:admin, @building, @admin_apartment] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      %h4= "Datos del apartamento"
    = f.error_notification
    = f.input :ref, :label => "Referencia"
    = f.input :name, :label => "Nombre"
    = f.input :num_persons, :label => "Capacidad máxima:"
    = f.input :num_bedrooms, :label => "Dormitorios dobles:"
    = f.input :bed_kind, as: :select, :collection => ["King Size", "Queen Size"], :label => "Tipo de cama:"
    = f.input :badroom, :label => "Sofá cama para dos personas:"
    = f.input :double_couch, :label => "Baño completo con ducha:"
    = f.input :living_room, as: :select, :collection => Apartment::KIND_OF_LIVING_ROOM.map{|name, value| [t("apartments.equipments.#{name}"), value]}, :label => "Tipo de salón"
    = f.input :description_es, as: :ckeditor, :label => "Descripción es"
    = f.input :description_en, as: :ckeditor, :label => "Descripción en"
    = f.input :description_pt, as: :ckeditor, :label => "Descripción pt"
    = f.association :apartment_type, :collection => @building.apartment_types, label_method: :apartment_type_select, value_method: :id, include_blank: false, :label => "Tipo apartamento"


    = f.association :equipments, as: :check_boxes, :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4', :label => "Equipamiento"

  %fieldset
    %legend
      %h4= "Galería de imágenes"  
    .form-group  
      .bs-callout.bs-callout-info
        .row
          = f.fields_for :photos do |photo|
            .col-sm-6.col-md-4.col-xs-12
              .thumbnail
                = photo.text_field :caption_es, :placeholder => "Leyenda de foto (español)", class: "form-control", :style => "margin-bottom: 5px;", :required => true
                = photo.text_field :caption_en, :placeholder => "Leyenda de foto (ingles)", class: "form-control", :style => "margin-bottom: 5px;"
                = photo.text_field :caption_pt, :placeholder => "Leyenda de foto (portugués)", class: "form-control", :style => "margin-bottom: 5px;"
                /= photo.check_box :accordion_pic, boolean_style: :inline, :required => true
                - if photo.object.picture.present?
                  = image_tag photo.object.picture
                             
                = photo.file_field :picture, :accept => "image/*"
     
                .caption.text-center
                  = photo.link_to_remove "Borrar Imagen", class: "btn btn-xs btn-danger"
                - photo.object.errors.full_messages.each do |msg|
                  .has-error.text-center
                    .help-block.tex-align= msg
                
                / - if photo.object.new_record? and photo.object.caption_es.blank?
                /   .has-error.text-center
                /     .help-block= "Las imágenes han de llevar una foto y la leyenda en español como campos mínimos y obligatorios"
                / - else
                /   .help-block.tex-align= "Las imágenes han de llevar una foto y la leyenda en español como campos mínimos y obligatorios"

          = f.link_to_add "Añadir Imagen", :photos, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"

  .container
    %br
    .row
      #filter-panel.collapse.filter-panel
        .panel.panel-default
          .panel-body
            = f.input :metatitle
            = f.input :metadescription
            = f.input :metakey
      %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
        / %span.glyphicon.glyphicon-cog
        SEO MetaTags


  .form-actions
    %br
    = f.button :submit, "Guardar", class: "btn btn-primary"

