.hidden
  #building_id= @building.id
  #apartment_id= @apartment.id
.single-head
  %h3.pull-left
    %i.fa.fa-calendar
    = "Calendario reservas para el apartamento  #{@apartment.name} "
  = link_to "Atrás", :back, class: "pull-right btn btn-black btn-create"
  
  .clearfix
/ .row
/   .col-lg-12
/     .box
/       .box-content
/         .row
/           .col-lg-12#render_calendar
/             #calendar_apartment.col-lg-12
            


.row
  .col-lg-12
    .box
      .box-content
        .row
          .col-lg-3.hidden-phone.hidden-tablet
            .page-ui-element
              .row
                .ui-element-container
                  / Heading
                  %h3 Ayuda
                  / Heading
                  %p
                    %ul
                      %li Aquí puedes ver el calendario de reservas del apartamento escogido anteriormente
                      %li 
                        Para realizar una reserva han de seugirse los siguientes pasos.
                        %ul
                          %li Click en una casilla y arrastra el ratón a través de los días, seleccionando la estancia. Suelta el click.
                          %li Fíjate si has escogido bien las fechas y pulsa en "Continuar reserva" que verás en una ventana modal.
                          %li Pasarás a otra página donde podrás terminar la reserva.

          .col-lg-9#calendar_apartment
#summary_modal