.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Referencia
          %th Nombre
          %th Tipo
          %th N&ordm; personas
          %th N&ordm; dormitorios
          %th N&ordm; ba&ntilde;os
          %th Estado limpieza
          %th Estado
      %tbody
        - @admin_apartments.each do |admin_apartment|
          %tr
            %td= admin_apartment.ref
            %td= admin_apartment.name
            %td= admin_apartment.apartment_type.name
            %td= admin_apartment.num_persons
            %td= admin_apartment.num_bedrooms
            %td= admin_apartment.badroom
            - if admin_apartment.cleaned? == true
              %td= "Limpio"
            - else
              %td= "Sucio"
            - if admin_apartment.active? == true
              %td= "Activo"
            - else
              %td= "Inactivo"