.single-head
  %h3.pull-left
    %i.fa.fa-home.orange
    Administrar Apartamentos
  = link_to 'Crear Apatamento', new_admin_building_apartment_path, class: "pull-right btn btn-primary btn-create"
  .clearfix


/ Users table
.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Referencia
          %th Nombre
          %th Tipo
          %th Estado limpieza
          %th Estado
          %th Acciones
      %tbody
        - @admin_apartments.each do |admin_apartment|
          %tr
            %td= admin_apartment.ref
            %td= admin_apartment.name
            %td= admin_apartment.apartment_type.name
            %td.center
              %input.cleaning{:checked => admin_apartment.cleaned? == true ? true : false, :name => "my-checkbox", :type => "checkbox", "data-on-text": "Limpio", "data-off-text": "Sucio", "data-on-color": "success", "data-off-color": "warning", :id => admin_apartment.id, "data_building"=> @building.id}/
            %td.center
              %input.cleaning{:checked => admin_apartment.active? == true ? true : false, :name => "my-checkbox1", :type => "checkbox", "data-on-text": "Activo", "data-off-text": "Inactivo", "data-on-color": "success", "data-off-color": "warning", :id => admin_apartment.id, "data_building"=> @building.id}/
            %td
              = link_to  edit_admin_building_apartment_path(@building ,admin_apartment), class: "btn btn-xs btn-success", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Editar apartamento" do
                %i.fa.fa-pencil
              = link_to  admin_building_apartment_path(@building, admin_apartment), class: "btn btn-xs btn-info", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Ver apartamento" do
                %i.fa.fa-eye
              = link_to  calendar_admin_building_apartment_path(@building, admin_apartment), class: "btn btn-xs btn-primary", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Ver calendario de reserva o reservar" do
                %i.fa.fa-calendar
              = link_to admin_building_apartment_disable_apartments_path(@building, admin_apartment), class: "btn btn-xs btn-yellow", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Activar/desactivar apartamento por fechas" do
                %i.fa.fa-sliders
              = link_to admin_building_apartment_path(@building, admin_apartment), :method => 'delete', class: "btn btn-xs btn-danger", :data => {:confirm => '¿Estas seguro de borrar el apartamento?'} do
                %i.fa.fa-trash-o

      %p 
        Descargar:
        = link_to "CSV", admin_building_apartments_path(format: "csv") 
        |
        = link_to "Excel", admin_building_apartments_path(format: "xls")

