- headers = ["Referencia", 'Nombre', 'Tipo', 'Nº personas', 'Nº dormitorios', 'Nº baños', 'Estado limpieza', 'Estado']
= CSV.generate_line headers
- @admin_apartments.each do |admin_apartment|


  = CSV.generate_line([admin_apartment.ref, admin_apartment.name, admin_apartment.apartment_type.name, admin_apartment.num_persons, admin_apartment.num_bedrooms, admin_apartment.badroom, admin_apartment.cleaned? == true ? "Limpio" : "Sucio", admin_apartment.active? == true ? "Activo" : "Inactivo"]).html_safe
  
 