.single-head
  %h3.pull-left
    %i.fa.fa-home.orange
    = "Apartamento #{@admin_apartment.name}"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Ref:
          %td= @admin_apartment.ref
        %tr
          %td 
            %strong Nombre:
          %td= @admin_apartment.name
        %tr
          %td 
            %strong Descripción es:
          %td= @admin_apartment.description_es.html_safe
        %tr
          %td 
            %strong Descripción en:
          %td= @admin_apartment.description_en.html_safe
        %tr
          %td 
            %strong Tipo apartamento:
          %td= @admin_apartment.apartment_type.name
        %tr
          %td 
            %strong Nª personas:
          %td= @admin_apartment.num_persons
        %tr
          %td 
            %strong Nª habitaciones:
          %td= @admin_apartment.num_bedrooms
        %tr
          %td 
            %strong Tipo de cama:
          %td= @admin_apartment.bed_kind
        %tr
          %td 
            %strong Sofás cama para dos personas:
          %td= @admin_apartment.double_couch
        %tr
          %td 
            %strong Baño completo con ducha:
          %td= @admin_apartment.badroom
        %tr
          %td 
            %strong Tipo salón:
          %td= t "apartments.equipments.#{@admin_apartment.get_value_kind_of_living_room}"
        %tr
          %td
            %strong Equipamiento:
          %td
            = @admin_apartment.equipments.map{|e| I18n.t "apartments.equipments.#{e.key}"}.join(', ')
            


.row
  .col-md-12.col-lg-12
    %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
      / %span.glyphicon.glyphicon-cog
      SEO MetaTags
    #filter-panel.collapse.filter-panel
      .panel.panel-default
        .panel-body
          %p
            %strong Meta-Title:
            = @admin_apartment.metatitle
          %p
            %strong Meta-description:
            = @admin_apartment.metadescription
          %p
            %strong Meta-key:
            = @admin_apartment.metakey

%br/


.single-head
  %h4.pull-left

    = "Galería #{@admin_apartment.name}"
  .clearfix
.page-gallery
  #gallery
    / Each element
    - @admin_apartment.photos.each do |ph|
      .element
        / Gallery image
        = link_to ph.picture.url, class: "prettyphoto" do
          = image_tag ph.picture.url, class: "img-responsive"
        / Gallery caption
        .gall-caption
          %ul.list-unstyled
            %li
              %strong Caption:
              = ph.caption
    




