= simple_nested_form_for [:admin, @building, @faq_page] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal form-vertical'} do |f|
  %fieldset
    %legend
      %h4 Título
    - I18n.available_locales.each do |locale|
      = f.input "title_#{locale}".to_sym, :label => "Título #{locale}"

  .container
    %br
    .row
      #filter-panel.collapse.filter-panel
        .panel.panel-default
          .panel-body
            - I18n.available_locales.each do |locale|
              = f.input "metatitle_#{locale}".to_sym
              = f.input "metadescription_#{locale}".to_sym
              = f.input "metakey_#{locale}".to_sym

      %a.btn.btn-default.pull-right{"data-target" => "#filter-panel", "data-toggle" => "collapse"}
        SEO MetaTags
    %fieldset
      %legend
        %h4= "Preguntas y respuestas"
      .form-group
        .bs-callout.bs-callout-info
          .row
            = f.fields_for :questions do |question|
              .thumbnail.col-sm-12
                - I18n.available_locales.each do |locale|
                  .col-lg-4
                    = question.object.question_es
                    = question.input "question_#{locale}".to_sym, placeholder: "Pregunta (#{locale})", class: "form-control", style: "margin-bottom: 5px;", required: true
                    = question.input "response_#{locale}".to_sym, as: :ckeditor, placeholder: "Respuesta (#{locale})", class: "form-control", style: "margin-bottom: 5px;", required: true, input_html: { ckeditor: { toolbar: 'mini' } }
                    %br

                .col-sm-12
                  - if question.object.image.present?
                    = image_tag question.object.image.url(:question)

                  = question.input :image, as: :file, accept: "image/*", input_html: { data: { width: Cms::Question::IMAGE_DIMENSION[:width], height: Cms::Question::IMAGE_DIMENSION[:height] } }
                  .image_errors.has-error
                  .caption.text-center
                    = question.link_to_remove "Borrar F.A.Q.", class: "btn btn-xs btn-danger"
            = f.link_to_add "Añadir F.A.Q.", :questions, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"
  .form-actions
    %br
    = f.button :submit, "Guardar", class: "btn btn-primary"
