#building_id.hidden= @building.id
#nights.hidden= num_night(@reservation.start_date.to_date, @reservation.end_date.to_date)
= simple_nested_form_for [:admin, @building, @reservation, @invoice], :wrapper => :horizontal_form_invoice , :html => {:class => 'form-horizontal'} do |f|

  .row
    .col-lg-6
      / = f.input :number, :label => "Num factura", :input_html => {class: "form-control input-sm"}
      = f.input :date, as: :date_picker, :label => "Fecha:", :input_html => {class: "form-control", value: Date.today.strftime('%d/%m/%Y')}
      = f.input :customer_invoice, as: :select, collection: @reservation.clients_reservations.map{|c| c.user.present? ? [c.user.datas_invoice, c.user.id] : [c.business.datas_invoice, c.business.id]}, :label => "Cliente", :input_html => {class: "form-control input-sm"}, :include_blank => false
      #user_data

    .col-lg-6
      = f.fields_for @reservation.billing_address, :wrapper => :horizontal_form_invoice , :html => {:class => 'form-horizontal'} do |b|
        = b.input :address, input_html: { class: "form-control input-sm" }, label: "Dirección"
        = b.input :address_1, input_html: { class: "form-control input-sm" }, label: "Dirección 2"
        /= b.input :country, :input_html => {class: "form-control input-sm"}, :label => "País"
        = b.input :city, input_html: { class: "form-control input-sm" }, label: "Ciudad"
        = b.input :zip_code, input_html: { class: "form-control input-sm" }, label: "Código postal"
        = b.input :nationality, input_html: { class: "form-control input-sm" }, label: "País"

  .row
    .col-md-12
      %hr/
      .table-responsive
        %table.table.table-invoice.table-bordered
          %thead
            %tr
              %th
              %th Concepto
              %TH Descripción
              %th Precio
              %th Noches / Unidades
              %th Tax
              %th Total
          %tbody

            = f.simple_fields_for :billings, :wrapper => false do |b|

              %tr.fields
                %td= b.link_to_remove "X", class: "btn btn-xs btn-danger"
                %td
                  - if b.object.service.present?
                    = b.object.service.name
                  - elsif b.object.concept == "apartment"
                    = b.object.reservation.apartments.first.name
                  - else
                    = b.association :service, as: :select, label_method: :label_description, :label => false, collection: @building.services
                %td= b.input :description, :label => false
                %td
                  = b.input :price, :label => false, :input_html => {class: "price"}
                %td
                  = b.input :night, :label => false, :input_html => {class: "night"}
                %td
                  = b.input :tax, as: :select, collection: 0..100, :label => false, :input_html => {class: "tax"}
                %td
                  = b.input :amount, :label => false, :input_html => {class: "amount"}
                  = b.input :concept, as: :hidden, :input_html => {value: "service"} if b.object.new_record?
            %tr
              %td= f.link_to_add "Añadir", :billings, :class => "btn btn-mini", id: 'add_line_item'

  .row.text-center
    .col-md-offset-4.col-sm-offset-4.col-md-4.col-sm-4
      .well.br-green
        %h4 PRECIO FINAL
        %h2.price_with_tax= normal_price(@total)


  = f.submit "Crear factura", class: "btn btn-primarty",  data: {confirm: "Si creas la factura no podrás modificarla, ¿estas seguro?"}



