#modalSendInvoice.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
        %h4.modal-title= "Enviar factura #{invoice.number}"
      .modal-body
        = bootstrap_flash
        = simple_form_for send_invoice_form, url: admin_building_reservation_invoice_send_invoice_path(building, reservation, invoice), remote: true, :html => {:class => 'form-horizontal'} do |f|
          .col-lg-12
            = f.input :email
            = f.input :message, as: :text
            = f.input :invoice_id, as: :hidden, input_html: { value: invoice.id }
            = f.input :invoice_type, as: :hidden, input_html: { value: invoice.class.name }
          .col-lg-12
            %div Emails asociados a la reserva:
            - if candidate_emails.any?
              - candidate_emails.each do |email|
                %div= email
            - else
              No hay mail asociado a la reserva.
          .col-lg-12
            .text-center
              = f.submit 'Enviar mail', class: "btn btn-primary"
          .clearfix
      .modal-footer
        %button.btn.btn-default.btn-sm{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar