.single-head
  %h3.pull-left
    %i.fa.fa-file-pdf-o.orange
    = "Facturas reserva - #{@reservation.reference}"
  = link_to "Crear Factura", new_admin_building_reservation_invoice_path, class: "pull-right btn btn-primary btn-create"
  .clearfix

.page-tables
  .table-responsive#client-table2
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Número
          %th Titular
          %th Fecha creación
          %th Factura
          %th Factura rectificativa
      %tbody
        - @invoices.each do |invoice|
          %tr
            %td= invoice.number
            %td= invoice.get_customer_name
            %td= invoice.created_at.strftime('%d/%m/%Y')
            %td
              = link_to "Ver", invoice_path(invoice.number, File.basename(invoice.attachment.url), :extension => "pdf", :action_pdf => "show"), target: '_blank'
              |
              = link_to "Descargar", invoice_path(invoice.number, File.basename(invoice.attachment.url), :extension => "pdf")
              |
              = link_to "Enviar", new_send_invoice_admin_building_reservation_invoice_path(@building, @reservation, invoice, invoice_type: :invoice), remote: true
            %td
              - if invoice.rectification_invoice.present?
                = link_to "Ver", rectification_invoice_path(invoice.rectification_invoice.number, File.basename(invoice.rectification_invoice.attachment.url), :extension => "pdf", :action_pdf => "show"), target: '_blank'
                |
                = link_to "Descargar", rectification_invoice_path(invoice.rectification_invoice.number, File.basename(invoice.rectification_invoice.attachment.url), :extension => "pdf")
                |
                = link_to "Enviar", new_send_invoice_admin_building_reservation_invoice_path(@building, @reservation, invoice.rectification_invoice, invoice_type: :rectification), remote: true
              - else
                = link_to "Crear factura rectificativa", new_admin_building_reservation_invoice_rectification_invoice_path(@building, @reservation, invoice), :remote => :true

.hidden= link_to "Borrar todas las facturas", destroy_all_admin_building_reservation_invoices_path(@building, @reservation)

#modal-rectification-invoice
#modal