$(".modal-backdrop.fade.in").remove();
$("#modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/invoices/new_send_invoice', building: @building, reservation: @reservation, invoice: @invoice, send_invoice_form: @send_invoice_form, candidate_emails: @candidate_emails ) %>');
$("#modalSendInvoice").modal();