.contenedor-interno-general
  - if @status.to_s == "404"
    .error-handler.text-center
      %div
        = image_tag 'exception_handler/alert.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred"
      %div.message-handler
        %div
          %strong= details[:name]
        %div= details[:message]
      %div.message-handler-button.text-center
        = link_to "#{I18n.t 'exception.show.back_home'}", apartments_path, class: "botones-reservas"
      %div.contact
        - ExceptionHandler.config.social.each do |item, address|
          = link_to image_tag("exception_handler/contact/#{item}.png", title: item.to_s.titleize), address, target: :blank
  - else
    .error-handler.text-center
      %div
        = image_tag 'exception_handler/alert.png', width: "150", alt: "Error!", title: "Sorry, A Server Error Occurred"
      %div.message-handler
        %div
          %strong= details[:name]
        %div= details[:message]
      %div.message-handler-button.text-center
        = link_to "#{I18n.t 'exception.show.back_home'}", apartments_path, class: "botones-reservas"
      %div.contact
        - ExceptionHandler.config.social.each do |item, address|
          = link_to image_tag("exception_handler/contact/#{item}.png", title: item.to_s.titleize), address, target: :blank