- title I18n.t('pages.contact.seo.title')
- description I18n.t('pages.contact.seo.description')
- keywords I18n.t('pages.contact.seo.keywords')
.container

  .col-lg-offset-3.col-lg-6.col-md-offset-6.col-md-6.col-sm-12.contenedor-interno-contacto
    #success
    #errors
    %p{:class => "info-contacto"}
      %span{:class => "icono-contacto contacto-movil"}
      <a href="tel:0034915417516">+34 915 417 516</a>
    %p{:class => "info-contacto"}
      %span{:class => "icono-contacto contacto-movil"}
      <a href="tel:0034646025598">+34 646 025 598</a>
    %p{:class => "info-contacto"}
      %span{:class => "icono-contacto contacto-movil"}
      <a href="tel:0034900373978">+34 900 373 978</a>
    %p{:class => "info-contacto"}
      %span{:class => "icono-contacto contacto-mail"}
      <a href="mailto:info@palacioplcondedemiranda.com">info@palacioplcondedemiranda.com</a>
    = simple_form_for @contact, url: create_contact_path, html: { class: "contacto"}, :remote => true do |f|
      = f.input :name, :placeholder => "#{I18n.t 'contact.name'}", as: :string, :label => false
      = f.input :email, :placeholder => "Email", as: :email , :label => false
      = f.input :message, as: :text, :label => false
      .accepts_checkboxes
        = f.input :agree_ads, as: :boolean, :label => "#{I18n.t 'contact.agree_ads'}".html_safe, :target => "_blank"
        = f.input :agree_policy_privacy, as: :boolean, :label => "#{I18n.t('contact.agree_policy_privacy', path_legal: page_path( I18n.locale, 'legal_notice'), path_privacy: page_path( I18n.locale, 'policy_privacy'))}".html_safe, :target => "_blank", input_html: { class: 'agree_policy_privacy' }
        %br
        %p
          = I18n.t 'general.policy_privacy_information_level_1'
      %input.enlace-reserva{ type: "submit", value: "#{I18n.t 'contact.send'}", disabled: true }

