<% if @status %>
    $("#success").html( "<span class='alert alert-success' role='alert'>En menos de 24 horas nos pondremos en conctacto con usted. Gracias por su mensaje</span>" );
    $("#errors").html( "" );
<% else %>
	$("#errors").html( "<span class='alert alert-danger' role='alert'><%= @errors.join(', ') %></span>" );
  $("#errors").fadeOut(3000);
	$("#success").html( "" );
<% end %>

