- title @faq_page.metatitle
- description @faq_page.metadescription
- keywords @faq_page.metakey

.container.faqs-page.contenedor-interno-general
  %h1.my-4.text-center.text-lg-left= @faq_page.title
  .text-center.text-lg-left.grid-faqs
    - if @faqs.any?
      - @faqs.each do |faq|
        .col-lg-4.col-md-4.col-sm-6.col-xs-12.faq-box
          .faq-image
            = image_tag faq.image.url(:question), class: "img-responsive"
          .text-body
            %h2.title
              = faq.question
            .contain
              = truncate(sanitize(faq.response, tags: []), length: 120)
            .link
              = link_to I18n.t('general.view_more'), "##{faq.id}", class: "faq-show-more", data: {toggle: "modal", target: "##{faq.id}"}
          .faqs.modal.fade{id: faq.id, "aria-labelledby": "myModalLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4#myModalLabel.modal-title
                    = faq.question
                .modal-body
                  =raw faq.response
    - else
      %h3= I18n.t "pages.faqs.no_results"
