- title I18n.t('pages.home.title')
- description I18n.t('pages.home.description')
- keywords I18n.t('pages.home.keywords')

- if !@slider.nil? && @slider.photos.any? && @slider.photos.present?
  %section.main-slider
    - @slider.photos.includes(:translations).each do |photo|
      .item.image
        %span.loading= I18n.t('home.loading')
        %figure
          .slide-image.slide-media{:style => "background-image: url(#{photo.picture.url(:acordeon)});"}
            %img.image-entity{"data-lazy" =>  photo.picture.url(:acordeon)}/
          .carousel-caption.d-none.d-md-block
            %p= photo.caption
          %figcaption.caption
            = link_to I18n.t('home.slider.button'), apartments_path
%section.ventajas
  .container
    .row.justify-content-center.no-gutters.row_title_ventajas
      .col-lg-12.py-3
        %h3.title_ventajas
          = I18n.t('home.section.advantages.title')
    .ventajas_slider
      .item.image
        .slide-image.slide_ventajas
          .bck_image.image-entity{:style => "background-image: url(#{asset_path "home/img/desayuno.jpg"});"}
          .caption_ventajas
            .box_ventajas
              %img{:alt => "", :src => asset_path('home/img/ico-desayuno.png')}/
              %h2.title_slide_ventajas= I18n.t('home.section.advantages.breakfast.title')
              .content_ventajas= I18n.t('home.section.advantages.breakfast.content')
      .item.image
        .slide-image.slide_ventajas
          .bck_image.image-entity{:style => "background-image: url(#{asset_path "home/img/parking.jpg"});"}
          .caption_ventajas
            .box_ventajas
              %img{:alt => "", :src => asset_path('home/img/ico-parking.png')}/
              %h2.title_slide_ventajas= I18n.t('home.section.advantages.parking.title')
              .content_ventajas= I18n.t('home.section.advantages.parking.content')
      .item.image
        .slide-image.slide_ventajas
          .bck_image.image-entity{:style => "background-image: url(#{asset_path "home/img/apartamento.jpg"});"}
          .caption_ventajas
            .box_ventajas
              %img{:alt => "", :src => asset_path('home/img/ico-apartamento.png')}/
              %h2.title_slide_ventajas= I18n.t('home.section.advantages.apartment.title')
              .content_ventajas= I18n.t('home.section.advantages.apartment.content')
      .item.image
        .slide-image.slide_ventajas
          .bck_image.image-entity{:style => "background-image: url(#{asset_path "home/img/late.jpg"});"}
          .caption_ventajas
            .box_ventajas
              %img{:alt => "", :src => asset_path('home/img/ico-late.png')}/
              %h2.title_slide_ventajas= I18n.t('home.section.advantages.late_checkout.title')
              .content_ventajas= I18n.t('home.section.advantages.late_checkout.content')
%hr.gradient
%section.mas_info
  .container
    .row.align-items-center
      .col-12
        .mas_info_content
          %h2.mas_info_title= I18n.t('home.section.more_info.covid.title')
          %p=raw I18n.t('home.section.more_info.covid.content_html')
%hr.gradient
%section.info
  .pt-md-5
    .info_image{:style => "background-image: url(#{asset_path "home/img/apartamentos-parejas-centro-madrid.jpg"});"}
    .bg-light.shadow.mx-auto.info_content
      %h3.info_title= I18n.t('home.section.apartments.title')
      %p=raw I18n.t('home.section.apartments.content_html')
      %button.btn.btn-outline-dark.btn_info{:type => "button"}
        = link_to I18n.t('home.section.apartments.button'), apartments_path
%section.mas_info
  .container
    .row.align-items-center
      .col-12
        .mas_info_content
          %h2.mas_info_title= I18n.t('home.section.more_info.accesibility.title')
          %p=raw I18n.t('home.section.more_info.accesibility.content_html')
%section.patern
%section.descubre
  .container
    .row.align-items-center
      .col-12
        .descubre_content
          .descubre_title
            .descubre_title__container
              %ul.descubre_title__container__list
                %li.descubre_title__container__list__item=I18n.t('home.section.city.title_word_1')
                %li.descubre_title__container__list__item=I18n.t('home.section.city.title_word_2')
                %li.descubre_title__container__list__item=I18n.t('home.section.city.title_word_3')
                %li.descubre_title__container__list__item=I18n.t('home.section.city.title_word_4')
              %h3.descubre_title__container__text=I18n.t('home.section.city.title')
          %p=raw I18n.t('home.section.city.content_html')
  .descubre_content_img
    = image_tag 'home/img/mapa-palacio-surroundings.jpg', atl: 'Palacio Conde Miranda Madrid location', class: 'map_dekstop'
    = image_tag 'home/img/mapa-palacio-surroundings-S.jpg', atl: 'Palacio Conde Miranda Madrid location', class: 'map_mobile'
%section.premios
  %h3.title_refe= I18n.t('home.section.awards.title')
  %ul.premios_list
    %li
      = image_tag 'home/img/booking.png'
    %li
      = image_tag 'home/img/tripadvisor.png'
    %li
      = image_tag 'home/img/agoda.png'
    %li
      = image_tag 'home/img/hotels.png'