- title "#{I18n.t 'pages.home.title'}"
- description "#{I18n.t 'pages.home.description'}"
- keywords "#{I18n.t 'pages.home.keywords'}"
- if @building.ad_homes.actives.present?
  = image_tag @building.ad_homes.actives.first.image, class: "ad-home img-responsive"
/ BUSQUEDA
%p.boton-responsive-barra-busqueda
  reservar
.contenedor-barra-busqueda
  = render 'apartments/search_form'
= render 'home/modal_advantage'

/ ACORDEON
- if !@slider.nil? && @slider.photos.any? && @slider.photos.present?
  .contenedor-acordeon
    - @slider.photos.includes(:translations).each do |photo|
      .slice-acordeon
        = image_tag photo.picture.url(:acordeon), :height => "900", :width => "1600", alt: "Apartamento #{photo.caption}"
        .contenedor-text-acordeon
        %h1.text-titulo-acordeon{style: "display: none"}
          %span.caption-photo-slider= "#{photo.caption}"
- else
  .contenedor-acordeon
    - @apartments.each do |a|
      - if a.photos.accordion.first.present?
        - photo = a.photos.accordion.first
        .slice-acordeon
          = image_tag photo.picture.url(:acordeon), :height => "900", :width => "1600", alt: "Apartamento #{a.name}"
          .contenedor-text-acordeon
          %h3.text-titulo-acordeon= "#{a.name}"

#TA_certificateOfExcellence193.TA_certificateOfExcellence
  %ul#2EN4oWG.TA_links.ZqDlBFQBJKO
    %li#VduHILS.gduRmjypc
      %a{:href => "https://www.tripadvisor.es/Hotel_Review-g187514-d8528248-Reviews-Palacio_PL_Conde_de_Miranda-Madrid.html", :target => "_blank"}
        %img#CDSWIDCOELOGO.widCOEImg{:alt => "TripAdvisor", :src => "https://www.tripadvisor.es/img/cdsi/img2/awards/CoE2017_WidgetAsset-14348-2.png"}/
%script{:src => "https://www.jscache.com/wejs?wtype=certificateOfExcellence&uniq=193&locationId=8528248&lang=#{I18n.locale}&year=2017&display_version=1"}

#TA_socialButtonIcon479.TA_socialButtonIcon
  %ul#dbM3dTe.TA_links.XVOpV3
    %li#IoZzuTmXt4mw.x7ilDWR
      %a{:href => "https://www.tripadvisor.es/Hotel_Review-g187514-d8528248-Reviews-Palacio_PL_Conde_de_Miranda-Madrid.html", :target => "_blank"}
        %img{:src => "https://www.tripadvisor.es/img/cdsi/img2/branding/socialWidget/64x64_green-21690-2.png"}/
%script{:src => "https://www.jscache.com/wejs?wtype=socialButtonIcon&uniq=479&locationId=8528248&color=green&size=lg&lang=#{I18n.locale}&display_version=2"}



