- if @location.present?
  - title "#{@location.metatitle}"
  - description "#{@location.metadescription}"
  - keywords "#{@location.metakey}"
  %br
  %br
  .container
    .col-lg-12
      - if @location.content.present?
        = @location.content.html_safe
  %br
  %br
  .contenedor-interno-general.interno-general-localizacion
    #googleMap{:style => "width:100%;height:100%"}
    .info-absolute-localizacion
      - if @location.address.present?
        = @location.address.html_safe
  %script{:src => "https://maps.googleapis.com/maps/api/js"}
  :javascript
    function initialize() {
      var miCentro = new google.maps.LatLng(#{@location.latitude},#{@location.longitude});
      var mapProp = {
        center:new google.maps.LatLng(#{@location.latitude},#{@location.longitude}),
        zoom:19,
        scrollwheel: false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
    	  position:miCentro
    	  });
    	marker.setMap(map);
      google.maps.event.addDomListener(window, 'resize', function() {
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marker=new google.maps.Marker({
          position:miCentro
          });
        marker.setMap(map);
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
- else
  .contenedor-interno-general.interno-general-localizacion
    #googleMap{:style => "width:100%;height:100%"}
    .info-absolute-localizacion
      %p Palacio Pl Conde de Miranda
      %p Plaza del Conde de Miranda
      %p 28005 Madrid
  %script{:src => "https://maps.googleapis.com/maps/api/js"}
  :javascript
    function initialize() {
      var miCentro = new google.maps.LatLng(40.4148903,-3.709445);
      var mapProp = {
        center:new google.maps.LatLng(40.4148903,-3.709445),
        zoom:19,
        scrollwheel: false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({
        position:miCentro
        });
      marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
