- title I18n.t('pages.promotions.seo.title')
- description I18n.t('pages.promotions.seo.description')
- keywords I18n.t('pages.promotions.seo.keywords')

.container.promotions-page.contenedor-interno-general
  %h1.my-4.text-center.text-lg-left= I18n.t 'pages.promotions.content.title'
  .text-center.text-lg-left.grid-promotions
    - if @promotions.any?
      - @promotions.each do |promotion|
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          = image_tag promotion.image.url(:promotion), class: "img-fluid img-thumbnail", alt: promotion.title
          .text-body
            %h2.title
              = promotion.title
            .contain
              = truncate(sanitize(promotion.text, tags: []), length: 120)
              .button
                = link_to I18n.t('general.view_more'), "##{promotion.id}", class: "enlace-reserva", data: {toggle: "modal", target: "##{promotion.id}"}
    - else
      %h3= I18n.t "pages.promotions.no_results"

- @promotions.each do |promotion|
  .promotions.modal.fade{id: promotion.id, "aria-labelledby": "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title 
            = promotion.title
        .modal-body
          =raw promotion.text