- title I18n.t('pages.promotions.seo.title')
- description I18n.t('pages.promotions.seo.description')
- keywords I18n.t('pages.promotions.seo.keywords')
.container.services-page.contenedor-interno-general
  %h1.my-4.text-center.text-lg-left= I18n.t 'pages.services.content.title'
  .grid-services
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-cleaning.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.cleaning.title'
          %p= I18n.t 'pages.services.content.services.cleaning.subtitle'
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-full-fridge.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.full_fridge.title'
          %p= I18n.t 'pages.services.content.services.full_fridge.subtitle'
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-laundry.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.laundry_and_dry_cleaner.title'
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-childcare.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.childcare.title'
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-concierge.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.concierge.title'
          %p= I18n.t 'pages.services.content.services.concierge.subtitle'
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.box-service
      .box
        .col-lg-4.col-md-4.icon.text-center
          = image_tag 'services/servicios-parking.png', class: 'img-responsive'
        .col-lg-8.col-md-8.description
          %h2= I18n.t 'pages.services.content.services.parking.title'
          %p= I18n.t 'pages.services.content.services.parking.subtitle'
