.sumary-reservation-options
  %h3.titulo-reserva= I18n.t 'reservation.form.options'
  = f.input :childs, as: :select, collection: 0..@apartment.num_persons, :label => "#{I18n.t 'reservation.placeholder.childs'}", include_blank: false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}, wrapper_html: { class: 'select-50 select-chidls' }
  = f.input :adults, as: :select, collection: 0..@apartment.num_persons, :label => "#{I18n.t 'reservation.placeholder.adults'}", include_blank: false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}, wrapper_html: { class: 'select-50 select-adults' }
  = f.input :client_comments, as: :text, :placeholder => "#{I18n.t 'reservation.placeholder.client_comments'}", :label => false