- if flash[:success]
  .alert.alert-success.alert-dismissible{:role => "alert"}
    %center
      = flash[:success]
.sumario-reserva.steps
  %p.paso-reserva{class: ("paso-reserva-activo" if step.include?('data_user'))} 1
  %p.paso-reserva{class: ("paso-reserva-activo" if step.include?('services'))} 2
  %p.paso-reserva{class: ("paso-reserva-activo" if step.include?('payment'))} 3
  %p.paso-reserva{class: ("paso-reserva-activo" if step.include?('confirmation'))} 4
  .clearfix
.sumario-reserva
  %h3.titulo-reserva= I18n.t 'reservation.header.reservation'
  %p.el-golpe
    =I18n.t 'reservation.header.check_in'
    %span.precio-total= "#{@reservation.start_date.strftime('%d/%m/%Y')}"
  %p.el-golpe
    =I18n.t 'reservation.header.check_out'
    %span.precio-total= "#{@reservation.end_date.strftime('%d/%m/%Y')}"
  %p.el-golpe
    = I18n.t 'reservation.header.apartment'
    %span.precio-total= "#{@apartment.apartment_description}"
  %p.el-golpe
    = I18n.t 'reservation.header.standar_price'
    %span.precio-total= normal_price(@reservation.normal_price)
  - if @reservation.coupon.present? or @reservation.discount_systems.present?
    %p.el-golpe
      = I18n.t 'reservation.header.discount_price_summary'
      %span.precio-total.before= normal_price(@reservation.normal_price)
      %span.precio-total= normal_price(@reservation.total_price)

    - if @reservation.coupon.present?
      %p.el-golpe
        = I18n.t 'reservation.header.discount'
        %span.precio-total= "#{@reservation.coupon.discount}% (#{I18n.t 'reservation.header.coupon'} #{@reservation.coupon.code})"
    - else
      %p.el-golpe
        - @reservation.discount_systems.each do |d|
          %div.discount_applied
            %span=raw "#{d.description}"
    %p.el-golpe
      %div.discount_applied
        = I18n.t 'reservation.header.conditions'
        %span
          = @reservation.reservation_condition.title
          %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", "data-html"=>"true", :title => "#{@reservation.reservation_condition.description.html_safe}"}
  - if step.include?('payment') or step.include?('confirmation')
    %p.el-golpe
      = I18n.t 'reservation.header.final_price_apartment'
      %span.precio-total= normal_price(@reservation.total_price)
    %p.el-golpe
      %strong= I18n.t 'reservation.header.final_price_reservation'
      %span.precio-total= normal_price(@reservation.total)
    - if step.include?('payment')
      %p.el-golpe
        %strong= I18n.t 'reservation.header.rest_to_pay'
        %span.precio-total= normal_price(@reservation.total - @deposit)
      %p.el-golpe
        %strong
          = I18n.t 'reservation.header.price_to_pay'
          = "(#{@reservation.reservation_condition.payment_percent}%)"
        %span.precio-total= normal_price(@deposit)
    - else
      %p.el-golpe
        %strong= I18n.t 'reservation.header.rest_to_pay'
        %span.precio-total= normal_price(@reservation.rest)
      %p.el-golpe
        %strong
          = I18n.t 'reservation.payment.paid'
          = "(#{@reservation.reservation_condition.payment_percent}%)"
        %span.precio-total= normal_price(@reservation.paid)
    - if step.include?('confirmation')
      %p.el-golpe
        %strong= I18n.t 'reservation.header.reference'
        %span.precio-total= "#{@reservation.reference}"
  - else
    %p.el-golpe
      = I18n.t 'reservation.header.final_price'
      %span.precio-total= normal_price(@reservation.total_price)

  = image_tag @apartment.photos.first.picture.url(:thumbnail), class: "imagen-reserva"
