.contenedor-interno-general.interno-general-contacto
  .contenedor-interno-reserva
    = render "summary_header", step: @step.to_s
    .sumario-reserva
      %center
        %h3.titulo-reserva= "#{I18n.t 'reservation.payment.confirmation'}"
        %h3.titulo-reserva= "Numero reserva: #{@reservation.reference}"
      %table.resumen
        %thead
          %tr
            %td= I18n.t 'reservation.table.service'
            %td= I18n.t 'reservation.table.price'
            %td= I18n.t 'reservation.table.nights'
            %td= I18n.t 'reservation.table.total'
        %tbody
          - sum = 0
          - @reservation.billings.apartments.each do |b|
            - sum += b.amount
            %tr
              %td= b.reservation.apartments.first.name
              %td= normal_price(b.amount / b.night)
              %td= b.night
              %td= normal_price(b.amount)
          - @reservation.billings.services.each do |b|
            - sum += b.amount
            %tr
              %td= b.service.name
              %td= normal_price(b.price)
              %td= b.night
              %td= normal_price(b.amount)
          %tr
            %td
            %td
            %td
              %strong= I18n.t 'reservation.table.paid'
            %td
              %strong= normal_price(@reservation.paid)
          %tr
            %td
            %td
            %td
              %strong= I18n.t 'reservation.table.rest'
            %td
              %strong= normal_price(@reservation.rest)
    .reservatelo.reservatelo-mobile
      .contenedor-botones-reservas.contenedor-botones-reservas-full
        %a.botones-reservas.boton-reserva-siguiente.boton-reserva-siguiente-extra#tpv_payment{:href => "#", :onclick => "window.print()"}= I18n.t 'reservation.form.print'
        .clearfix
= render 'help_block'