- title I18n.t('pages.reservation.data_user.seo.title')
- description I18n.t('pages.reservation.data_user.seo.description')
- keywords I18n.t('pages.reservation.data_user.seo.keywords')
.contenedor-interno-general.interno-general-contacto
  .contenedor-interno-reserva
    = render "summary_header", step: @step.to_s
    .sumario-reserva
      .contenedor-interno-form-reserva
        %label
          %input{:name => "type", :type => "radio", :value => "user", checked: ("checked" if @business.new_record?)}/
          = I18n.t 'reservation.form.person'
        %br/
        %label
          %input{:name => "type", :type => "radio", :value => "business", checked: ("checked" if !@business.new_record?)}/
          = I18n.t 'reservation.form.business'
    #form_user_reservation{class: ("hidden" if !@business.new_record? )}
      = simple_form_for @reservation, url: wizard_path,  html: { class: 'reservatelo form_user_reservation' } do |f|
        %h3.titulo-reserva= I18n.t 'reservation.form.basic_datas'
        = f.simple_fields_for @user do |user|
          = user.input :name, :placeholder => "#{I18n.t 'reservation.placeholder.name'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = user.input :surname, :placeholder =>  "#{I18n.t 'reservation.placeholder.surname'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = user.input :email, :placeholder =>  "#{I18n.t 'reservation.placeholder.email'}", :label => false, :input_html => {data: {:validation => "required email", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'} y #{I18n.t 'errors.messages.email'}" }}
          = user.input :phone, :placeholder =>  "#{I18n.t 'reservation.placeholder.phone'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" },  class: "phone"}
        = f.simple_fields_for :billing_address, @billing_address do |ba|
          = ba.input :country, :label => false, :prompt =>  "#{I18n.t 'reservation.placeholder.country'}"
          = ba.input :address, :placeholder =>  "#{I18n.t 'reservation.placeholder.address'}", :label => false
          = ba.input :address_1, :placeholder =>  "#{I18n.t 'reservation.placeholder.address1'}", :label => false
          = ba.input :city, :placeholder => "Ciudad", :label => false
          = ba.input :zip_code, :placeholder =>  "#{I18n.t 'reservation.placeholder.zip_code'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
        = render 'options_reservation', f: f
        = f.simple_fields_for @user do |user|
          = user.input :agree_ads, as: :boolean, :label => "#{I18n.t 'contact.agree_ads'}".html_safe, :target => "_blank"
          = user.input :agree_policy_privacy, :label => "#{I18n.t('contact.agree_policy_privacy', path_legal: page_path( I18n.locale, 'legal_notice'), path_privacy: page_path( I18n.locale, 'policy_privacy'))}".html_safe, :target => "_blank", :input_html => { class: 'agree_policy_privacy_user', data: { validation: "required", "validation-error-msg" => "#{I18n.t 'errors.messages.accepted'}" }}, hint: I18n.t('general.policy_privacy_information_level_1')
        .contenedor-botones-reservas
          = link_to "#{I18n.t 'reservation.form.previous'}", previous_wizard_path, class: "botones-reservas boton-reserva-anterior"
          = f.submit "#{I18n.t 'reservation.form.next'}", class: "botones-reservas boton-reserva-siguiente user", disabled: !@user.agree_policy_privacy?
          .clearfix
    #form_business_reservation{class: ("hidden" if @business.new_record? )}
      = simple_form_for @reservation, url: wizard_path,  html: { class: 'reservatelo form_business_reservation' } do |f|
        %h3.titulo-reserva= I18n.t 'reservation.form.basic_datas'
        = f.simple_fields_for @business do |user|
          = user.input :business_name, :placeholder => "#{I18n.t 'reservation.placeholder.business_name'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = user.input :cif, :placeholder => "#{I18n.t 'reservation.placeholder.cif'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = user.input :email, :placeholder =>  "#{I18n.t 'reservation.placeholder.email'}", :label => false, :input_html => {data: {:validation => "required email", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'} y #{I18n.t 'errors.messages.email'}" }}
          = user.input :phone, :placeholder =>  "#{I18n.t 'reservation.placeholder.phone'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" },  class: "phone"}
          = user.input :name, :placeholder => "#{I18n.t 'reservation.placeholder.contact_name'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
        %h3.titulo-reserva Dirección de facturación
        = f.simple_fields_for :billing_address, @billing_address do |ba|
          = ba.input :country, :placeholder => "País", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = ba.input :address, :placeholder =>  "#{I18n.t 'reservation.placeholder.address'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = ba.input :address_1, :placeholder =>  "#{I18n.t 'reservation.placeholder.address1'}", :label => false
          = ba.input :city, :placeholder => "Ciudad", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
          = ba.input :zip_code, :placeholder =>  "#{I18n.t 'reservation.placeholder.zip_code'}", :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" }}
        = render 'options_reservation', f: f
        = f.simple_fields_for @business do |user|
          = user.input :agree_ads, as: :boolean, :label => "#{I18n.t 'contact.agree_ads'}".html_safe, :target => "_blank"
          = user.input :agree_policy_privacy, :label => "#{I18n.t('contact.agree_policy_privacy', path_legal: page_path( I18n.locale, 'legal_notice'), path_privacy: page_path( I18n.locale, 'policy_privacy'))}".html_safe, :target => "_blank", :input_html => { class: 'agree_policy_privacy_business', data: { validation: "required", "validation-error-msg" => "#{I18n.t 'errors.messages.accepted'}" }}, hint: I18n.t('general.policy_privacy_information_level_1')

        .contenedor-botones-reservas
          = link_to "#{I18n.t 'reservation.form.previous'}", previous_wizard_path, class: "botones-reservas boton-reserva-anterior"
          = f.submit "#{I18n.t 'reservation.form.next'}", class: "botones-reservas boton-reserva-siguiente business", disabled: !@business.agree_policy_privacy?
          .clearfix
    = render 'help_block'
