- title I18n.t('pages.reservation.payment.seo.title')
- description I18n.t('pages.reservation.payment.seo.description')
- keywords I18n.t('pages.reservation.payment.seo.keywords')
.contenedor-interno-general.interno-general-contacto
  .contenedor-interno-reserva
    = render "summary_header", step: @step.to_s
    = simple_form_for @reservation, url: wizard_path do |f|
      .sumario-reserva
        %h3.titulo-reserva= "#{I18n.t 'reservation.payment.summary'}"
        %table.resumen
          %thead
            %tr
              %td= I18n.t 'reservation.table.service'
              %td= I18n.t 'reservation.table.price'
              %td= I18n.t 'reservation.table.nights'
              %td= I18n.t 'reservation.table.total'
          %tbody
            - sum = 0
            - @reservation.billings.apartments.each do |b|
              - sum += b.amount
              %tr
                %td= b.reservation.apartments.first.name
                %td= normal_price(b.amount / b.night)
                %td= b.night
                %td= normal_price(b.amount)
            - @reservation.billings.services.each do |b|
              - sum += b.amount
              %tr
                %td= b.service.name
                %td= normal_price(b.price)
                %td= b.night
                %td= normal_price(b.amount)
            %tr
              %td
              %td
              %td
                - if !@reservation.has_payment_transaction?
                  %strong= I18n.t 'reservation.table.total'
              %td
                %strong= normal_price(@reservation.total)
            %tr
              %td
              %td
              %td
                - if !@reservation.has_payment_transaction?
                  %strong= I18n.t 'reservation.table.total_to_pay'
                - else
                  %strong= I18n.t 'reservation.table.paid'
              %td
                %strong= normal_price(@deposit)
      .reservatelo.reservatelo-mobile
        .contenedor-botones-reservas.contenedor-botones-reservas-full
          - if !@has_payment_condition
            = f.input :credit_card_holder, as: :string, :placeholder =>  "#{I18n.t 'reservation.placeholder.credit_card_holder'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" },  class: "credit_card_holder", style: "width: 100%"}
            = f.input :credit_card_number, as: :string, :placeholder =>  "#{I18n.t 'reservation.placeholder.credit_card'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" },  class: "credit_card", style: "width: 50%"}
            = f.input :credit_card_date, as: :string, :placeholder =>  "#{I18n.t 'reservation.placeholder.credit_card_date'}" , :label => false, :input_html => {data: {:validation => "required", "validation-error-msg" => "#{I18n.t 'errors.messages.blank'}" },  class: "credit_card_date", style: "width: 30%"}
            = link_to "#{I18n.t 'reservation.form.previous'}", previous_wizard_path, class: "botones-reservas boton-reserva-anterior"
            = f.submit "#{I18n.t 'reservation.form.next'}", class: "botones-reservas boton-reserva-siguiente"
          - else !@reservation.has_payment_transaction?
            = link_to "#{I18n.t 'reservation.form.previous'}", previous_wizard_path, class: "botones-reservas boton-reserva-anterior"
            - if !@reservation.has_payment_transaction? && @has_payment_condition
              %a.botones-reservas.boton-reserva-siguiente.boton-reserva-siguiente-extra#tpv_payment{:href => "#"}= I18n.t 'reservation.form.payment_tpv'
              = f.submit "#{I18n.t 'reservation.form.payment_paypal'}", class: "botones-reservas boton-reserva-siguiente"
            - else
              = link_to "#{I18n.t 'reservation.form.next'}", next_wizard_path, class: "botones-reservas boton-reserva-anterior"
          .clearfix
- if !@reservation.has_tpv_payment? && @has_payment_condition
  - tpv = @tpv.signed_request_order
  = form_tag @tpv.url, :id => "tpv_payment_form" do
    = hidden_field_tag "Ds_MerchantParameters", tpv['Ds_MerchantParameters']
    = hidden_field_tag "Ds_SignatureVersion", tpv['Ds_SignatureVersion']
    = hidden_field_tag "Ds_Signature", tpv['Ds_Signature']
  %input#Ds_Merchant_Order.hidden{value: @tpv.transaction_ref}

= render 'help_block'