- title I18n.t('pages.reservation.services.seo.title')
- description I18n.t('pages.reservation.services.seo.description')
- keywords I18n.t('pages.reservation.services.seo.keywords')
.contenedor-interno-general.interno-general-contacto
  .contenedor-interno-reserva
    = render "summary_header", step: @step.to_s
    = simple_form_for @reservation, url: wizard_path,  html: { class: 'reservatelo form_user_reservation' } do |f|
      %h3.titulo-reserva= "#{I18n.t 'reservation.services.aditional_services'}"
      .contenedor-interno-form-reserva
        - @services.each do |service|
          - discount = @coupon_service.discount_for_service(service)
          %label
            %input{:name => "reservation[services][]", :type => "checkbox", :value => service.id, :id => "reservation_services_#{service.id}", checked: ("checked" if @billings.present? and @billings.find_by_service_id(service.id))}
            = "#{service.name} "
            - if service.unique_price?
              - if discount.zero?
                = "(#{service.unique_price}€/día)"
              - else
                %span.before= "(#{service.unique_price}€/día - "
                = " #{service.unique_price - (service.unique_price*(discount/100.0))}€)"
            - else
              - if discount.zero?
                = "(#{service.price}€/día)"
              - else
                %span.before= "(#{service.price}€/día - "
                = "#{service.price - (service.price*(discount/100.0))}€/día)"

            - if service.description.present?
              %i.fa.fa-info-circle{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "#{service.description}"}

            %br/
      %br/
      .contenedor-botones-reservas
        = link_to "#{I18n.t 'reservation.form.previous'}", previous_wizard_path, class: "botones-reservas boton-reserva-anterior"
        = f.submit "#{I18n.t 'reservation.form.next'}", class: "botones-reservas boton-reserva-siguiente"
        .clearfix
    = render 'help_block'