-if false
  .contenedor-interno-general
    .interno-general-legal
      %h3
        %h1= I18n.t "cookies.title"
      = t('cookies.text_html')

.contenedor-interno-general
  .interno-general-legal
    =raw @building.cookies_information