- if false
  .contenedor-interno-general
    .interno-general-legal
      %h3
        %strong= I18n.t 'legal_notice.title'
      %br
      = t('legal_notice.text_html')
.contenedor-interno-general
  .interno-general-legal
    =raw @building.legal_information