#calendar-dates-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
        %h4.modal-title Nueva Configuración para fecha
      .modal-body
        = bootstrap_flash
        = simple_form_for [:admin, building, calendar_date], remote: true, wrapper: :horizontal_form, html: {:class => 'form-horizontal'} do |f|
          = f.input :date, as: :date_picker, label: "Bloquear día", class: "form-control date date1"
          = f.input :min_nights
          = f.input :blocked, inline_label: 'Bloquear día en calendario', wrapper: :horizontal_boolean
          = f.input :description
          = f.button :submit, "Guardar", class: "btn btn-primary"
      .modal-footer
        %button.btn.btn-default.btn-sm{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancelar