%td= calendar_date.date.try(:strftime, '%d/%m/%Y')
%td= calendar_date.min_nights
%td= calendar_date.blocked
%td= calendar_date.description
%td
  = link_to edit_admin_building_calendar_date_path(building, calendar_date), remote: true, class: "btn btn-xs btn-success" do
    %i.fa.fa-pencil
  = link_to admin_building_calendar_date_path(building, calendar_date), method: 'delete', remote: true, class: "btn btn-xs btn-danger", data: { confirm: "¿Está seguro de borrar la configuración para esta fecha?" } do
    %i.fa.fa-trash-o