#notifications-calendar-dates
.widget.pages-widget
  .widget-head.br-red.inline
    %h3
      %i.fa.fa-file
      Tabla de configuración por días
  .widget-body.no-padd
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %th Día
            %th Estancia Min
            %th Bloqueado
            %th Comentario
            %th Acciones
        %tbody
          - if calendar_dates
            - calendar_dates.each do |calendar_date|
              %tr{id: "tr-calendar-date-#{calendar_date.id}"}
                %td= calendar_date.date.try(:strftime, '%d/%m/%Y')
                %td= calendar_date.min_nights
                %td= calendar_date.blocked
                %td= calendar_date.description
                %td
                  = link_to edit_admin_building_calendar_date_path(building, calendar_date), remote: true, class: "btn btn-xs btn-success" do
                    %i.fa.fa-pencil
                  = link_to admin_building_calendar_date_path(building, calendar_date), method: 'delete', remote: true, class: "btn btn-xs btn-danger", data: { confirm: "¿Está seguro de borrar la configuración para esta fecha?" } do
                    %i.fa.fa-trash-o
  .text-center.t-20
    - if calendar_dates
      = will_paginate calendar_dates, renderer: BootstrapPagination::Rails