// Render new values on table
$("#table-calendar-dates").fadeIn("slow").html('<%= escape_javascript(render 'admin/calendar_dates/table', calendar_dates: @calendar_dates, building: @building, q: @q) %>');
// Clear modal
$("#calendar-dates-form").modal('hide');
$(".modal-backdrop.fade.in").remove();

// render new modal
$("#calendar-dates-modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/calendar_dates/form', calendar_date: @calendar_date, building: @building) %>');
$("#calendar-dates-form").modal();

// initialize datepicker
$('.datetimepicker').datetimepicker();

// Clear erros or success notification from session
<% flash.clear  %>
