// Render new values on table
var row = $("#tr-calendar-date-<%= @calendar_date.id %>")
row.addClass('stylish');
setTimeout(function() { row.html('');;}, 700);

// Show result on flash boostrap partial
$("#notifications-calendar-dates").fadeIn("slow").html('<%= bootstrap_flash %>');
<% flash.clear  %>


