$("#calendar-dates-form").modal('hide');
$(".modal-backdrop.fade.in").remove();
$("#calendar-dates-modal").fadeIn("slow").html('<%= escape_javascript(render 'admin/calendar_dates/form', calendar_date: @calendar_date, building: @building) %>');
$("#calendar-dates-form").modal();
$('.datetimepicker').datetimepicker();
<% flash.clear  %>