.single-head
  %h3.pull-left
    %i.fa.fa-pencil.orange
    Administrar Calendario
  = link_to "Crear configuración para fecha", new_admin_building_calendar_date_path, remote: true, class: "pull-right btn btn-primary btn-create"
  .clearfix

.widget.pages-widget
  .widget-head.br-grey.inline
    %h3
      %i.fa.fa-file
      Filtros
  .widget-body
    = search_form_for [:admin, :building, @q], html: { class: 'form-search' } do |f|
      .col-md-3
        = f.input :date_gteq, as: :date_picker, label: "Desde", placeholder: "Día", input_html: { value: (params[:q][:date_gteq] if params[:q]) }
      .col-md-3
        = f.input :date_lteq, as: :date_picker, label: "Hasta", placeholder: "Día", input_html: { value: (params[:q][:date_lteq] if params[:q]) }
      .clearfix
      .form-group.col-lg-3
        = f.submit
        = link_to "Limpiar búsqueda", request.path, class: "btn btn-sm btn-danger"
      .clearfix
#table-calendar-dates
  = render 'table', calendar_dates: @calendar_dates, building: @building
#calendar-dates-modal