// Clear modal
$("#calendar-dates-form").modal('hide');
$(".modal-backdrop.fade.in").remove();

// Render new values on table
var row = $("#tr-calendar-date-<%= @calendar_date.id %>")
row.html('');
row.html('<%= escape_javascript(render 'admin/calendar_dates/row_calendar_date', calendar_date: @calendar_date, building: @building) %>');
row.addClass('stylish');
setTimeout(function() { row.removeClass('stylish');}, 3000);

// Show result on flash boostrap partial
$("#notifications-calendar-dates").fadeIn("slow").html('<%= bootstrap_flash %>');
<% flash.clear  %>
