= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.single-head
  %h3.pull-left
    %i.fa.fa-bar-chart-o.orange
    = succeed "Estadísticas" do
      %span.break
  .clearfix


= simple_form_for :search, url: search_statistics_admin_building_statistics_path, :method => :get, :wrapper => :vertical_form do |f|
  %filedset
    %legend Rango de búsquedas de facturación por fechas:
    .row.datetimerange
      .col-lg-9
        = f.input :start, as: :date_picker, :input_html => {class: "col-sm-6", value: (@start.strftime('%d/%m/%Y') if @start.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Desde"
        = f.input :end, as: :date_picker, :input_html => {class: "col-sm-6", value: (@end_time.strftime('%d/%m/%Y') if @end_time.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Hasta"
      .col-lg-3
        .form-group.search-inline-buttons
          = f.submit "Consultar", class: "btn btn-primary"
          = link_to "Reset", admin_building_statistics_path, class: "btn btn-danger btn-forms"

- if params[:search].present?
  .row.text-center
    .col-lg-12
      .alert.alert-success
        %strong Desde
        = @start.present? ? "#{@start.strftime('%d/%m/%Y')}" : "-"
        %strong hasta
        = @end_time.present? ? "#{@end_time.strftime('%d/%m/%Y')}" : "-" 

.row
  .col-md-12
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Nº de entradas previstas por días
      / Widget body
      .widget-body
        / Chart container
        .chart-container
          #plot-chart.chart-placeholder
            = line_chart @reservation.actives.group_by_day(:start_date, range: @start ..@end_time).count
            / = line_chart @reservation.actives.nexts.group_by_day(:start_date, format: "%B %d, %Y", range: @start ..@end_time).count
        

.row
  .col-md-6
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Totales por Apartamentos
      / Widget body
      .widget-body
        / Chart container
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            = bar_chart @reservations_by_apartments
  .col-md-6
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Totales por Apartamentos %
      / Widget body
      .widget-body
        / Chart container
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            = pie_chart @reservations_by_apartments

.row
  .col-md-6.center
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Totales por Tipo registro
      .widget-body
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            = pie_chart @reservations_by_registrable

  .col-md-6.center
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Terceros
      .widget-body
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            = pie_chart @reservations_by_canal



.row
  .col-md-12
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Totales por Apartamentos y Mes
      / Widget body
      .widget-body
        / Chart container
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            = line_chart @res_apto_month
            / = line_chart Apartment.all.map{|apt| {name: apt.name, data: apt.reservations.actives.where("reservations.start_date > ? ", @start.to_date).group_by_month(:start_date, format: "%B %d, %Y", range: @start ..@end_time).count} }
            / = line_chart Apartment.all.map{|apt| {name: apt.name, data: apt.reservations.actives.where("reservations.start_date > ? and reservations.start_date < ?", @start.to_date, @end_time.to_date).group_by_month(:start_date, format: "%B %d, %Y", range: @start ..@end_time).count} }


.row
  .col-md-12
    .widget.chart-widget
      / Widget head
      .widget-head.br-red
        %h3
          %i.fa.fa-signal
          Reservas Totales por Apartamentos y Año
      / Widget body
      .widget-body
        / Chart container
        .chart-container
          #plot-chart.chart-placeholder
            / = pie_chart @apartments.reservations.actives.group(:created_at).count
            / = line_chart Apartment.all.map{|apt| {name: apt.name, data: apt.reservations.actives.group_by_year(:start_date, last: 8).count} }
            = line_chart @res_apto_year