/* nested form */
.bs-callout+.bs-callout {
margin-top: -5px;
}

.bs-callout-info {
border-left-color: #5bc0de;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0 0px 0px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.add-chapter{

	padding: 25px 0px;
}

.delete{
	width: 100%;
}

.submit-treatments{
	margin: 60px 0px;
}

.add-treatments{
	margin: 30px 0px;
	text-align: center;
}
.video-box{
	  width: 100%    !important;
  height: auto   !important;
}
/* fin */

.text-center{
	text-align: center;
}