// Place all the styles related to the admin/Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_client{
	float: left;
  padding-right: 5px;
}

.search_buttons{
	padding-top: 15px;
	padding-bottom: 15px;
}

.searching {
	  display: inline-flex;
}


.form-search-clients{
  .actions-search{
    top: 30px;
  }
}

