// Place all the styles related to the Admin/Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


small {
display: block;
line-height: 1.428571429;
color: #999;
}

.margin-bottom-buildings{
	margin-top: 66px;
}

form a.cancel{
	height: 30px;
	font-size: 12px;
}

a.btn-create{
	margin-top: -10px;
	margin-left: 10px;
}

contact-cli {
	margin-left: 7px !important;
}

.contact-phone {
	padding-right: 5px;
}

.contact-email {
	padding-left: 5px;
}