.widget-head.inline{
  h3 { display: inline-block; }
  .export{
    font-weight: bold;
    display: inline-block;
    float: right;
    color: white;
  }
}

.results_apartments{
	margin-top: 30px;
}

.title{
	margin-bottom: 15px;
	margin-top: 20px;
	border-bottom: solid 1px gainsboro;
}

.btn-add-new-user{
	float: right;
}

.inline_btn{
	margin-right: 15px;
}

.before{
	text-decoration: line-through;
}

//CALENDARIO

.contenedor-calendario{

}

.cabecera-calendario{
	background-color:#eee;
}

.enlace-mes{
	display:block;
	float:left;
	padding:10px 0;
	text-align:center;
	width:10%;
}

.nombre-mes{
	float:left;
	padding:10px 0;
	text-align:center;
	text-transform:uppercase;
	width:80%;
}

.calendario-reservas{
	width:100%;
}

.calendario-reservas td{
	border:1px solid #ccc;
	text-align:center;
}

.reservado{
	background-color:#f75353 !important;
	overflow:hidden;
	position:relative;
}

.reservado-inicio,.reservado-final{
	background-color:rgb(244, 255, 244) !important;
}

.reservado-inicio::before{
	background-color: #f75353;
	bottom:0;
    color: #f75353;
    content: "x";
    display: block;
    font-size:0.1em;
    height:50%;
    position: absolute;
    width: 100%;
}

.reservado-final::after{
	background-color: #f75353;
    color: #f75353;
    content: "x";
    display: block;
    font-size:0.1em;
    height:50%;
    position: absolute;
    top: 0;
    width: 100%;
}

.reservado-inicio.reservado.blue{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.yellow{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.pink{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.orange{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.brown{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.green{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.violet{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.cyan{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.coral{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-inicio.reservado.crimson{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.blue{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.yellow{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.pink{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.orange{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.brown{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.green{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.violet{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.cyan{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.coral{
	background-color: rgb(244, 255, 244) !important;
}

.reservado-final.reservado.crimson{
	background-color: rgb(244, 255, 244) !important;
}


.yellow{
	background-color:yellow !important;
}
.reservado.blue{
	background-color:blue !important;
}
.reservado.orange{
	background-color:orange !important;
}
.pink{
	background-color:pink !important;
}
.green{
	background-color:green !important;
}
.violet{
	background-color:violet !important;
}
.cyan{
	background-color:cyan !important;
}
.brown{
	background-color:brown !important;
}
.coral{
	background-color:coral !important;
}
.crimson{
	background-color:crimson !important;
}

.reservado-inicio.yellow::before{
	background-color: yellow !important;
    color: yellow !important;
}

.reservado-final.yellow::after{
	background-color: yellow !important;
    color: yellow !important;
}

.reservado-inicio.blue::before{
	background-color: blue !important;
    color: blue !important;
}

.reservado-final.blue::after{
	background-color: blue !important;
    color: blue !important;
}

.reservado-inicio.orange::before{
	background-color: orange !important;
    color: orange !important;
}

.reservado-final.orange::after{
	background-color: orange !important;
    color: orange !important;
}

.reservado-inicio.pink::before{
	background-color: pink !important;
    color: pink !important;
}

.reservado-final.pink::after{
	background-color: pink !important;
    color: pink !important;
}

.reservado-inicio.green::before{
	background-color: green !important;
    color: green !important;
}

.reservado-final.green::after{
	background-color: green !important;
    color: green !important;
}

.reservado-inicio.violet::before{
	background-color: violet !important;
    color: violet !important;
}

.reservado-final.violet::after{
	background-color: violet !important;
    color: violet !important;
}

.reservado-inicio.cyan::before{
	background-color: cyan !important;
    color: cyan !important;
}

.reservado-final.cyan::after{
	background-color: cyan !important;
    color: cyan !important;
}

.reservado-inicio.brown::before{
	background-color: brown !important;
    color: brown !important;
}

.reservado-final.brown::after{
	background-color: brown !important;
    color: brown !important;
}

.reservado-inicio.coral::before{
	background-color: coral !important;
    color: coral !important;
}

.reservado-final.coral::after{
	background-color: coral !important;
    color: coral !important;
}

.reservado-inicio.crimson::before{
	background-color: crimson !important;
    color: crimson !important;
}

.reservado-final.crimson::after{
	background-color: crimson !important;
    color: crimson !important;
}

.legend{
	.title{
		margin-top: 10px;
	}
}


.clearfix{
	clear:both;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


