= simple_nested_form_for [:admin, @building, @admin], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :email, :label => "Email"
  = f.input :password, :label => "Contraseña"
  = f.input :super_password, :label => "Super contraseña"

  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
    = link_to "Volver", authenticated_root_path, class: "btn btn-default"
:css
  .page-content {
    overflow: visible;
  }