= simple_form_for [:admin, @building, @admin_promotion], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :title_es, :label => "Título es"
  = f.input :title_en, :label => "Título en"
  = f.input :title_pt, :label => "Título pt"
  = f.input :text_es, as: :ckeditor, :label => "Descripción es"
  = f.input :text_en, as: :ckeditor, :label => "Descripción en"
  = f.input :text_pt, as: :ckeditor, :label => "Descripción pt"
  = f.input :image, as: :file, wrapper: :horizontal_file_input_2
  - if @admin_promotion.image.present?
    .page-gallery.col-sm-offset-2
      #gallery
        .element
          = link_to @admin_promotion.image.url(:promotion), class: "prettyphoto" do
            = image_tag @admin_promotion.image.url(:promotion), class: "img-responsive"


  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
