.single-head
  %h3.pull-left
    %i.fa.fa-pencil.orange
    Administrar Promociones
  = link_to "Crear promoción", new_admin_building_promotion_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Título
          %th Descripción
          %th Activo
          %th Imagen
          %th Acciones
      %tbody
        - @admin_promotions.each do |pro|
          %tr
            %td= pro.title
            %td=raw pro.text
            %td.center
              %input.cleaning{:checked => pro.active? == true ? true : false, :name => "my-checkbox-promotion", :type => "checkbox", "data-on-text": "Activo", "data-off-text": "Inactivo", "data-on-color": "success", "data-off-color": "warning", :id => pro.id, "data_building"=> @building.id}/
            %td.text-center
              = image_tag pro.image.url(:thumbnail), class: "prettyphoto" do
                = image_tag(pro.image.url) 
            %td
              = link_to edit_admin_building_promotion_path(@building, pro), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_promotion_path(@building, pro), :method => 'delete', class: "btn btn-xs btn-danger", data: {confirm: "¿Está seguro de borrar permanentemente esta promoción? No la podrás recuperar una vez borrada."} do
                %i.fa.fa-trash-o

