= simple_form_for [:admin, @building, @admin_discount], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|


  = f.input :discount_type, as: :select, :collection => Discount::TYPES.map{|k,v| [I18n.t("discount.type.#{v}"),k]}, :label => "Tipo descuento"
  = f.input :days, :label => "Noches"
  = f.input :percentage, :label => "Descuento %"
  = f.input :description_es, as: :ckeditor, :label => "Descripción ES"
  = f.input :description_en, as: :ckeditor, :label => "Descripción EN"
  = f.input :description_pt, as: :ckeditor, :label => "Descripción PT"

  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
