.single-head
  %h3.pull-left
    %i.fa.fa-pencil.orange
    Administrar Descuentos
  = link_to "Crear descuento", new_admin_building_discount_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Días
          %th Descuento
          %th Descripción
          %th Tipo
          %th Acciones
      %tbody
        - @admin_discounts.each do |dis|
          %tr
            %td= dis.days
            %td= dis.percentage
            %td=raw dis.description_es.first(80) if dis.description_es.present?
            - if !dis.discount_type.present?
              - dis.update(discount_type: 0)
            %td= I18n.t("discount.type.#{dis.discount_type}") if dis
            %td
              = link_to edit_admin_building_discount_path(@building, dis), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_discount_path(@building, dis), :method => 'delete', class: "btn btn-xs btn-danger", data: {confirm: "¿Está seguro de borrar permanentemente este descuento?"} do
                %i.fa.fa-trash-o

