
= simple_form_for [:admin, @building, @reservation_condition], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|
  - if @disabled
    .text-center
      %strong Esta condición de reserva ha sido ulitizada en el sistema, por lo que no se puede modificar.
    %br
  = f.input :title_es, :label => "Título ES"
  = f.input :title_en, :label => "Título EN"
  = f.input :title_pt, :label => "Título PT"
  = f.input :percent, :label => "Porcentaje (%)", disabled: @disabled
  = f.input :payment_percent, :label => "Primer pago (%)", disabled: @disabled
  = f.input :description_es, as: :ckeditor, :label => "Descripción ES"
  = f.input :description_en, as: :ckeditor, :label => "Descripción EN"
  = f.input :description_pt, as: :ckeditor, :label => "Descripción PT"
  = f.input :annotation
  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
