.single-head
  %h3.pull-left
    %i.fa.fa-pencil.orange
    Administrar Condiciones de reservas
  = link_to "Crear condición", new_admin_building_reservation_condition_path, class: "pull-right btn btn-primary btn-create"

  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Descripción
          %th Porcentaje aplicacado (%)
          %th Pago por adelantado (%)
          %th Estado
          %th Anotación
      %tbody
        - @reservation_conditions.each do |reservation_condition|
          %tr
            %td= reservation_condition.title
            %td= reservation_condition.percent
            %td= reservation_condition.payment_percent
            %td= reservation_condition.annotation
            %td
            %td
              = link_to edit_admin_building_reservation_condition_path(@building, reservation_condition), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              - if !reservation_condition.default
                = link_to admin_building_reservation_condition_path(@building, reservation_condition), :method => 'delete', class: "btn btn-xs btn-danger", data: {confirm: "¿Está seguro de borrar permanentemente este descuento?"} do
                  %i.fa.fa-trash-o
            %td.center
              %input.cleaning{:checked => reservation_condition.active.nil? == true ? true : false, :name => "active", :type => "checkbox", "data-on-text": "Activo", "data-off-text": "Inactivo", "data-on-color": "success", "data-off-color": "warning", 'data-url': change_active_desactive_admin_building_reservation_condition_path(@building.id,  reservation_condition.id), 'data-method': :put}/


