- customer = invoice.customer
- address = reservation.billing_address

- if customer.class.name == "User"
  - name = "#{customer.name} #{customer.surname}"
  - cif = !customer.nif.blank? ? "C.I.F. / N.I.F. #{customer.nif}" : "Pasaporte/passport: #{customer.passport}"
- else
  - name = customer.business_name
  - cif = customer.cif


#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Crear factura Rectificativa
      .modal-body
        

        .page-content.page-invoice
          / Heading
          .single-head
            / Heading
            %h3.pull-left
              %i.fa.fa-desktop.lblue
              Factura de Rectificación
            .clearfix
          / Address
          .row
            .col-md-4.col-sm-4
              %h5= name
              %p
                = cif
                %br/
                = address.address
                ,
                = address.address_1 if address.address_1.present?
                %br/
                = address.zip_code
                %br
                = address.city
                %br
                = address.country
            .col-md-4.col-sm-4
              %h5= @building.invoice_address.corporate_name
              %p
                = @building.invoice_address.tax_domicile
                %br/
                = "#{@building.invoice_address.city}, #{@building.invoice_address.country}"
                %br/
                = @building.invoice_address.cif
                %br/
                = @building.invoice_address.email_contact
                %br/
                = @building.invoice_address.web_site
            .col-md-4.col-sm-4
              %h5 Factura de Rectivicación
              %p
                No. factura a rectificar: 
                = "#{@invoice.number}"
                %br/
                Fecha : 
                = "#{@invoice.date.strftime('%d/%m/%Y')}"

          / Data
          .row
            .col-md-12
              %hr/
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th #
                      %th Servicio
                      %th Precio x día
                      %th Noches/Unidades
                      %th Precio único
                      %th IVA
                      %th Precio total
                  %tbody
                    - if invoice.billings_in.empty?
                      No se han contratado ningún servicio
                    - else
                      - invoice.billings_in.apartments.each do |b|
                        %tr
                          %td= b.id
                          %td= b.reservation.apartments.first.name
                          %td= normal_price(-(b.amount / b.night))
                          %td= b.night
                          %td
                          %TD= tax(b.tax)
                          %td= normal_price(-b.amount) 
                      - invoice.billings_in.services.each do |b|
                        %tr
                          %td= b.id
                          %td= b.service.name
                          %td= b.service.unique_price? ? "-" : normal_price(-b.price)
                          %td= b.night
                          %td= b.service.unique_price? ? normal_price(-b.price) : "-"
                          %td= tax(b.tax)
                          %td
                            - if b.amount != b.night * b.price
                              .before= normal_price(- b.night * b.price)
                              = normal_price(- b.amount)
                            - else
                              = normal_price(- b.amount)
                    %tr
                      %td
                      %td
                      %td
                      %td
                      %td
                      %td
                        %strong IVA
                      %td
                        %strong= normal_price(-(invoice.taxes))

                    %tr
                      %td
                      %td
                      %td
                      %td
                      %td
                      %td
                        %strong Base
                      %td
                        %strong= normal_price(-(invoice.total_no_taxes))

                    %tr
                      %td
                      %td
                      %td
                      %td
                      %td
                      %td
                        %strong Total
                      %td
                        %strong= normal_price(-(invoice.total))
          
          = simple_form_for [:admin, :building, :reservation, :invoice, @rectification_invoice], :html => {:class => 'form-horizontal'} , wrapper: :form_inmail do |f|
            = f.input :total, as: :hidden, :input_html => {value: -(invoice.total)}
            = f.input :base, as: :hidden, :input_html => {value: -(invoice.total_no_taxes)}
            = f.input :tax_amount, as: :hidden, :input_html => {value: -(invoice.taxes)}
            / = f.input :date, as: :date_picker, :label => "Fecha:", :input_html => {class: "form-control", value: Date.today.strftime('%d/%m/%Y')} 
            = f.input :date_rectification, as: :string, input_html: { class: "date", value: Date.today.strftime('%d/%m/%Y') }, :label => "Fecha: "
            = f.input :concept, as: :text, :label => "Concepto"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
        %button.btn.btn-primary#submit_rectification_invoice{"data-dismiss" => "modal", :type => "button"} Crear Factura Rectificativa

:css
  .date_picker{z-index:1151 !important;}
