$("#modal-rectification-invoice").fadeIn("slow").html('<%= escape_javascript(render 'admin/rectification_invoices/new', reservation: @reservation, invoice: @invoice, building: @building) %>');
$('#myModal').modal();
$(".date").mask("99/99/9999",{placeholder:"dd/mm/yyyy"});