= simple_nested_form_for [:admin, @building] , :wrapper => :horizontal_form , :html => {:class => 'form-horizontal'} do |f|
  = f.error_notification

  %ul#myTab.nav.nav-tabs
    %li.active
      %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#config"} Configuración
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#cookies"} Cookies
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#policicy_privacy"} Política de privacidad
    %li
      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#legal"} Bases legales
  #myTabContent.tab-content
    #config.tab-pane.fade.active.in
      = f.input :name, :label => "Nombre"
      = f.input :address, :label => "Dirección"
      = f.input :mail_config, as: :select, collection: Building::MAIL_CONFIG.each { |config| [config[0], config[1]] }, include_blank: false
      %fieldset_form
        %legend
          %h3 Datos de facturación

      = f.simple_fields_for :invoice_address, @invoice_address_attributes, :wrapper => :horizontal_form do |i_a|
        = i_a.input :prefix_invoice_number, :label => "Prefijo numero factura", hint: "Prefijo del numero de factura", disabled: true
        = i_a.input :client_accountant_account, :label => "Cuenta contable cliente", hint: "Valor que aparecerá al exportar las facturas en el campo 'Cuenta contable cliente'"
        = i_a.input :printed, :label => "Impreso", hint: "Valor que aparecerá al exportar las facturas en el campo 'Impreso'"
        = i_a.input :invoice_description, :label => "Descripción Factura", hint: "Valor que aparecerá al exportar las facturas en el campo 'Descripción Factura'"
        = i_a.input :type_opration_one, :label => "Operación con iva - Cuenta Contable Venta", hint: "Valor que aparecerá al exportar las facturas con IVA en el campo 'CUENTA CONTABLE VENTA'"
        = i_a.input :type_opration_two, :label => "Operación con excento IVA - Cuenta Contable Venta", hint: "Valor que aparecerá al exportar las facturas con IVA en el campo 'CUENTA CONTABLE VENTA'"
        = i_a.input :corporate_name, :label => "Razón social"
        = i_a.input :tax_domicile, :label => "Domicilio fiscal"
        = i_a.input :country, :label => "País"
        = i_a.input :city, :label => "Ciudad"
        = i_a.input :cif, :label => "CIF"
        = i_a.input :email_contact, :label => "Email de contacto"
        = i_a.input :web_site, :label => "Sitio web"
        = i_a.input :registry_data, :label => "Datos registrales"
        = i_a.input :free_text, :label => "Texto libre factura"
        .select-picture
          %label Logo
          = i_a.file_field :logo, :accept => "image/*", wrapper_html: :horizontal_file_input
          - if @invoice_address_attributes.logo.present?
            .page-gallery
              #gallery
                .element
                  = link_to @invoice_address_attributes.logo.url, class: "prettyphoto" do
                    = image_tag @invoice_address_attributes.logo.url, class: "img-responsive"
      .form-group
        .pull-right
          = f.button :submit, class: "btn btn-primary submit"
        .pull-right
          = link_to "Cancelar ", admin_buildings_path, class: "btn btn-danger submit"
    #cookies.tab-pane.fade
      %fieldset_form
        %legend
          %h3 Información COOKIES
      = f.input :cookies_information_es, as: :ckeditor, :label => "ES"
      = f.input :cookies_information_en, as: :ckeditor, :label => "EN"
      = f.input :cookies_information_pt, as: :ckeditor, :label => "PT"
      .form-group
        .pull-right
          = f.button :submit, class: "btn btn-primary submit"
        .pull-right
          = link_to "Cancelar ", admin_buildings_path, class: "btn btn-danger submit"
    #policicy_privacy.tab-pane.fade
      %fieldset_form
        %legend
          %h3 Información POLÍTICA DE PRIVACIDAD
      = f.input :privacy_policy_information_es, as: :ckeditor, :label => "ES"
      = f.input :privacy_policy_information_en, as: :ckeditor, :label => "EN"
      = f.input :privacy_policy_information_pt, as: :ckeditor, :label => "PT"
      .form-group
        .pull-right
          = f.button :submit, class: "btn btn-primary submit"
        .pull-right
          = link_to "Cancelar ", admin_buildings_path, class: "btn btn-danger submit"
    #legal.tab-pane.fade
      %fieldset_form
        %legend
          %h3 Información LEGAL
      = f.input :legal_information_es, as: :ckeditor, :label => "ES"
      = f.input :legal_information_en, as: :ckeditor, :label => "EN"
      = f.input :legal_information_pt, as: :ckeditor, :label => "PT"
      .form-group
        .pull-right
          = f.button :submit, class: "btn btn-primary submit"
        .pull-right
          = link_to "Cancelar ", admin_buildings_path, class: "btn btn-danger submit"

