.single-head
  %h3.pull-left
    %i.fa.fa-building-o.orange
    Edificios
  .clearfix
.row
  - @admin_buildings.each do |building|
    .col-xs-12.col-sm-6.col-md-6
      .well.well-sm
        .row
          .col-sm-6.col-md-4
            %img.img-rounded.img-responsive{:alt => "", :src => "https://placehold.it/380x500"}/
          .col-sm-6.col-md-8
            %h4
              = building.name
            %small
              %cite{:title => "San Francisco, USA"}
                = building.address
                %i.fa.fa-map-marker
            %p
              %i.fa.fa-envelope
              = building.invoice_address.email_contact if building.invoice_address.present?
            .margin-bottom-buildings
              = link_to "Editar datos", edit_admin_building_path(building), class: "btn btn-primary"
              = link_to "Administrar", admin_building_dashboard_index_path(building), class: "btn btn-primary", :disabled => (true if !building.invoice_address.present?)
.single-head
  %h3.pull-left
    %i.fa.fa-user.orange
    Administradores
  = link_to "Crear admin", new_admin_admin_path, class: "pull-right btn btn-primary btn-create"
  .clearfix
.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", class: "data-table"}
      %thead
        %tr
          %th Email
          %th Acciones
      %tbody
        - @admins.actives.each do |ad|
          %tr
            %td= ad.email
            %td
              = link_to  edit_admin_admin_path(ad), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              - if current_admin.email == Admin::SUPER_ADMIN_EMAIL
                = link_to admin_admin_path(ad), :method => 'delete', data: {confirm: "¿Está seguro de eliminar este admin?"}, class: "btn btn-xs btn-danger has-tooltip", "data-placement" => "top", "data-toggle" => "tooltip", :title => "Eliminar admin" do
                  %i.fa.fa-trash-o
