= simple_form_for [:admin, @building, @ad_pdf], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :name, :label => "Nombre"

  .select-picture
    %label Imagen publicidad
    = f.file_field :image, :accept => "image/*", wrapper_html: :horizontal_file_input
    - if @ad_pdf.image.present?
      .page-gallery
        #gallery
          .element
            = link_to @ad_pdf.image.url, class: "prettyphoto" do
              = image_tag @ad_pdf.image.url, class: "img-responsive"
  / = f.input :active, as: :check_boxes, :label => "Activo", :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4'

  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"
