.single-head
  %h3.pull-left
    %i.fa.fa-file-pdf-o.orange
    Administrar Publicidad en PDF
  = link_to "Crear Publicidad", new_admin_building_ad_pdf_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Imagen
          %th Nombre
          %th Estado
          %th Acciones
      %tbody
        - @ad_pdfs.each do |pu|
          %tr
            %td.text-center
              = link_to pu.image.url, rel: "prettyPhoto" do
                = image_tag pu.image.url, style: "width: 30px; height: 30px"
            %td= pu.name
            %td
              %input{:checked => pu.active? == true ? true : false, :name => "ad_pdf_checkbox", :type => "checkbox", "data-on-text": "Activado", "data-off-text": "Desactivado", "data-on-color": "success", "data-off-color": "warning", :id => pu.id, "data_building"=> @building.id}/
     
            %td
              = link_to edit_admin_building_ad_pdf_path(@building, pu), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_ad_pdf_path(@building, pu), class: "btn btn-xs btn-info" do
                %i.fa.fa-eye
              = link_to admin_building_ad_pdf_path(@building, pu), :method => 'delete', class: "btn btn-xs btn-danger", data: {confirm: "¿Está seguro de borrar permanentemente esta publicidad?"} do
                %i.fa.fa-trash-o


