/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require estilo
 *= require jquery-ui
 *= require bootstrap
 *= require_self
 *= require cookies_eu
 *= require build
 *= require font-awesome
 *= require modal
 *= require grid
 */

.text-center{
	text-align: center;
}
.text-right{
  text-align: right;
}
.error-handler{
	margin: 40px 0;
}
.message-handler {
	margin: 40px 0 20px 0;
}

.message-handler-button .botones-reservas{
	margin: 0 0 10px 0;
	display: inline-block !important;
}

table.condition-reservations{
  width: 100%;
}