// Place all the styles related to the build controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Damion);

input.error{
	margin-bottom: 5px !important;
}

.form-error{
	font-size: 14px;
	color: red;
	display: block;
}