input:disabled {
  background: #ccc;
}

.ad-home{
  display: inline;
  position: absolute;
  z-index: 1000;
  right: 15px;
  top: 41px;
  width: 150px;
}

.no-visible{
  visibility: hidden;
}

table.datos-desktop{
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 20px;
}

.before{
    text-decoration:line-through;
}

.discount_applied{
  font-size: 0.6em;
  color: #bd1a63;
}

.hidden{
    display: none;
}

.no-result{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size:100%;
  margin:0;
  min-width:320px;
  /*overflow:hidden;*/
  overflow-x:hidden;
  padding:0;
}

a:focus {
  outline: none;
}

h1,h2,h3,h4,p{
  margin:0;
  padding:0;
}

img{
  border:0;
  margin:0;
}

/*HEADER*/

header{
  background-color:#f7f7f7;
  height:70px;/*80*/
  padding:5px 0;
}

.language-bar{
  color:#7b7b7b;
  font-size:0.9em;
  font-weight:300;
  line-height:1em;
  position:absolute;
  right:20px;
  text-align:right;
  top:10px;
}

.language-bar a{
  color:#7b7b7b;
  text-decoration:none;
  text-transform:uppercase;
}

.language-bar a.lan-active{
  color:#9c3951;
}

header h1{
  color: #555;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.15em;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

header h1 a{
  color: #888;
    text-decoration: none;
}

.eleh{
  font-size: 0.7em;
    font-weight: 400;
}

.logo-separation{
  color:#aaa;
  font-size:1.1em;
  font-weight: 400;
  letter-spacing:0.3em;
}

.bold-logo{
  color: #444;
    font-weight: 600;
}

.small-logo{
  color: #333;
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    margin-top: -4px;
    -webkit-transform:scale(1.2,0.7);
    -moz-transform:scale(1.2,0.7);
    -o-transform:scale(1.2,0.7);
    transform:scale(1.2,0.7);
}

/*FOOTER*/

footer{
  background-color:#fff;
  height:32px;/*82*/
  padding:25px 0;
  width:100%;
}

nav ul{
  list-style-type:none;
  margin: 5px auto;
  padding:0;
  //width:875px;
}

nav ul li{
  color:#7b7b7b;
  display:inline-block;
  font-size:1.3em;
  font-weight:300;
  line-height:1em;
  margin:0 8px;
}

nav ul li.separador::before{
  background-color:#7b7b7b;
  border-radius:180px;
  content:"";
  display:inline-block;
  height:5px;
  position:relative;
  top:-5px;
  width:5px;
}

nav ul li a{
  color:#7b7b7b;
  text-decoration:none;
  text-transform:uppercase;
}

nav ul li.outstanding a{
  color: #bd1a63;
  font-weight: 600;
}

nav ul li a:hover{
  color:#9c3951;
  text-transform:uppercase;
}

nav ul li a.item-activo{
  color:#9c3951;
}

.contenedor-navegacion .col-lg-12 {
  padding: 0
}
.contenedor-navegacion{
  background-color:#f7f7f7;
  padding:10px 0 !important;
  width:100%;
}

.contenedor-navegacion nav ul{
  list-style-type:none;
  margin:0 auto;
  padding:0;
  //width:645px;
}

.contenedor-navegacion nav ul li{
  color:#7b7b7b;
  display:inline-block;
  font-size:1.2em;
  font-weight:300;
  line-height:1em;
  margin:0 10px;
  &.outstanding {
    a{
      color: #bd1a63;
      font-weight: 600;
    }
  }
}

.contenedor-navegacion nav ul li.separador::before{
  background-color:#7b7b7b;
  border-radius:180px;
  content:"";
  display:inline-block;
  height:5px;
  position:relative;
  top:-5px;
  width:5px;
}

/* MOBILE NAV */

.boton-mobile{
  border:1px solid #999;
  border-radius:5px;
  display:none;
  height:39px;/*39*/
  margin:0 auto;
  padding:5px;
  width:45px;/*49*/
}

.burger-bit{
  background-color: #9c3951;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin: 0 0 6px;
    width: 100%;
}

.burger-bit:first-child{
  margin-top:4px;
}

footer nav ul.menu-mobile{
  background-color:#fff;
  display:none;
  height:1px;
  overflow:hidden;
  width:100%;
  position: absolute;
  bottom: 55px;
}

footer nav ul.menu-mobile li{
  border-bottom:1px solid #ddd;
  display:block;
  margin:0;
  padding:15px 0;
  text-align:center;
  background-image:-webkit-linear-gradient(bottom,#eee,#fff);
  background-image:-moz-linear-gradient(bottom,#eee,#fff);
  background-image:-o-linear-gradient(bottom,#eee,#fff);
  background-image:linear-gradient(bottom,#eee,#fff);
}

.contenedor-navegacion nav ul.menu-mobile{
  background-color:#fff;
  display:none;
  position:relative;
  top:15px;
  width:100%;
  z-index:11000;
}

.contenedor-navegacion nav ul.menu-mobile li{
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  display:block;
  margin:0;
  padding:15px 0;
  text-align:center;
  background-image:-webkit-linear-gradient(bottom,#eee,#fff);
  background-image:-moz-linear-gradient(bottom,#eee,#fff);
  background-image:-o-linear-gradient(bottom,#eee,#fff);
  background-image:linear-gradient(bottom,#eee,#fff);
}

/*footer individual*/

.footer-interno{
  background-color:#f7f7f7;
  border-top:1px solid #e3e3e3;
  margin-top:20px;
  padding:20px 0;
  width:100%;
}

.aviso-ilegal-link{
  color:#666;
  display:block;
  float:left;
  font-size:0.8em;
  line-height:1em;
  margin-left:20px;
  margin-top:10px;
  text-decoration:none;
}

ul.aviso-ilegal-link-footer{
  display: inline-block;
  li {
    display: inline-block;
    font-size:0.8em;
    margin-left: 0px;
    &:not(:last-child) {
      border-right: 1px solid grey;
      margin-right: 10px;
      padding-right: 10px;

    }
    a{
      color:#666;
      line-height:1em;
      text-decoration:none;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
    }
  }
  &.general{
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.help-block{
  margin-top: 10px;
  font-size: 0.8em;
  color: #666;
}

.social-bed-dos{
  position: absolute;
  right: 30px;
}

.social-button{
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
  float:left;
  height:30px;
  width:30px;
}

.social-button:hover{
  opacity:0.7;
}

.social-button:first-child{
  margin-right:10px;
}

.facebook{
  background-image:asset-url("fb-o.png");
}

.twitter{
  background-image:asset-url("tw-o.png");
  margin-right:10px;
}

.instagram{
  background-image:asset-url("ig.png");
}


/*BARRA DE BUSQUEDA*/

.boton-responsive-barra-busqueda{
  background-color:#bd1a63;
  color:#fff;
  cursor:pointer;
  display:none;
  font-weight:400;
  padding:6px 0;
  text-align:center;
  text-transform:uppercase;
}

.error-barra-reserva{
  background-color:#f00;
  border-radius:5px;
  color:#fff;
  display:none;
  float:left;
  font-size:0.7em;
  margin:5px 0;
  padding:1% 2%;
  width:96%;
}
.error-barra-reserva-no-blank{
  background-color:#f00;
  border-radius:5px;
  color:#fff;
  display:none;
  float:left;
  font-size:0.7em;
  margin:5px 0;
  padding:1% 2%;
  width:96%;
}


.contenedor-barra-busqueda{
  position:fixed;
  top:100px;/*a modificar*/
  width:100%;
  z-index:10000;
}

.barra-busqueda{
  background-color:#bd1a63;
  margin:0 auto;
  padding:15px 10px;
  width:725px;
}

.titulo-barra-busqueda{
  color:#fff;
  float:left;
  font-size:0.9em;
  font-weight:600;
  line-height:1em;
  margin-top:10px;
  padding:0 5px;
  text-transform:uppercase;
  width:170px;
}

.ventajas a{
  color: rgb(189, 26, 99)!important;
  font-weight: 600;
}

#reservar-barra-busqueda{
  background-color: #232325;
  border:none;
  color:#fff;
  cursor:pointer;
  font-weight:400;
  padding:5px 0;
  text-align:center;
  text-transform:uppercase;
  width:100px;
}

.bloque-barra-reserva{
  background-repeat:no-repeat;
  float:left;
}

.barra-reserva-item{
  padding:5px 0;
}

.bri-check{
  float:left;
  margin-right:10px;
}

.br-calendario{
  background-image: asset-url("calendario.png");
  background-position:0 center;
  padding-left: 25px;
}

.br-personas,.br-dormitorios{
  background-position:0 center;
  margin-left: 5px;
    padding-left: 25px;
}

.br-personas{
  background-image: asset-url("personas.png");
}

.br-dormitorios{
  background-image: asset-url("dormitorios.png");
}

.br-add{
  margin-left:10px;
}

.barra-reserva-item input[type="text"]{
  border: 2px solid #fff;
    color: #666;
    height: 20px;
    text-align: center;
    width: 110px;
}

.bri-check input[type="text"]{
    width: 90px;
}

.barra-reserva-item select{
  border: 2px solid #fff;
    color: #666;
    height: 23px;
    width: 40px;
}

.forclear{
  display:none;
}

/*ACORDEON*/

.contenedor-acordeon{
  overflow:hidden;
  width:200%;
}

.slice-acordeon{
  float:left;
  overflow:hidden;
  position:relative;
  width:10%;
}

.slice-acordeon img{
  border:0;
  display:block;
  height:100%;
  margin:0;
  padding:0;
  width:auto;
}

.contenedor-text-acordeon{
  position:absolute;
  top:0;
  width:100%;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background-image:-o-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background-image:linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0));
}

.text-titulo-acordeon{
    bottom: 20%;
    position: relative;
    text-align: center;
    margin: 0 15% 10% 15%;
    font-size: 30px;
    width: 70%;

}

.caption-photo-slider{
  font-family: 'Damion', cursive !important;
  text-shadow: 0px 0px 16px rgb(0, 0, 0);
  font-weight: bold;
  font-family: fantasy;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  line-height: 0;
}






.text-titulo-acordeon a{
  color:#fff;
  text-decoration:none;
}

/*INTERNAS*/

.contenedor-interno-general{
  margin:0 auto;
  padding:10px 15px 0;
  width:calc(80% - 30px);
}

.interno-general-contacto,.interno-general-servicios{
  padding:10px 0 0;
  width:100%;
}

.interno-general-localizacion{
  padding:0;
  position:relative;
  width:100%;
}

/* BUSQUEDA */

.contenedor-interno-general table{
  width:100%;
}

.contenedor-interno-general table td{
  text-align:center;
}

.contenedor-interno-general table thead td:first-letter{
  font-size:1.1em;
}

.contenedor-interno-general table thead td{
  color:#666;
  font-size:0.9em;
  font-weight:400;
  text-transform:uppercase;
}

.contenedor-interno-general table tbody td{
  color:#999;
  font-size:1.2em;
  font-weight:300;
  padding:10px 0;
}

.letra-responsive{
  display:none;
}

.contenedor-imagen-results{
  display:block;
  height:120px;
  margin:0 auto;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  width:300px;
}

.contenedor-imagen-results img{
  border:0;
  margin:0;
  padding:0;
}

.contenedor-imagen-results h3{
  color:#fff;
  font-size:1em;
  font-weight: 400;
    height: 100px;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    width: 280px;
  background-image:-webkit-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image:-o-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
}

.enlace-reserva{
  background-color:#bd1a63;
  border:5px solid #fff;
  box-shadow:0 0 1px 2px rgba(0,0,0,0.1);
  color:#eee;
  cursor:pointer;
  display:block;
  font-size:0.7em;
  margin:0 auto;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  width:105px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}

.enlace-reserva[disabled]{
  background-color: gray;
}

.enlace-reserva:hover{
  color:#fff;
}

.datos-completos-mobile{
  display:none;
}

.datos-completos-mobile p{
  color:#666;
  font-size:0.9em;
  font-weight:300;
  margin:5px auto;
}

.resaltado-numeros{
  color:#333;
}

.datos-completos-mobile .enlace-reserva{
  margin:10px auto;
}


/*APARTAMENTOS INDIVIDUALES*/

.contenedor-datos-individuales{
  border-bottom:1px solid #ccc;
  background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
  background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
  background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
  background-image:linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
}

.contenedor-datos-individuales-interno{
  margin:0 auto;
  padding:10px 0;
  width:70%;
}

.nombre-apartamento-individual{
  color:#333;
  font-size:1.2em;
  font-weight:300;
  text-transform:uppercase;
}

.info-apartamento-individual{
  color:#999;
  display:inline-block;
  font-size: 1em;
  padding-top:10px;
}


.enlace-reserva-individual{
  float:right;
}

.contenedor-descripcion p{
  color:#666;
  font-size:0.8;
  font-weight:300;
  margin:10px 0;
}

/*LOCALIZACION*/

.info-absolute-localizacion{
  background-color:rgba(255,255,255,0.7);
  bottom:0;
  padding:20px 0;
  position:absolute;
  width:100%;
}

.info-absolute-localizacion p:first-child{
  font-weight:400;
}

.info-absolute-localizacion p{
  color:#666;
  font-size:1.5em;
  font-weight:300;
  text-align:center;
}


/*CONTACTO*/
.contenedor-interno-contacto{
  margin-bottom: 150px;
}
.contenedor-interno-contacto p{
  color:#666;
  text-align:center;
}

.info-contacto{

  margin:0 auto;
  a{
    color: #666;
    text-decoration: none;
  }

}

.icono-contacto{
  background-position:center;
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  opacity:0.5;
  width:20px;
}

.contacto-movil{
  background-image:asset-url("phone-aspro.png");
}

.contacto-mail{
  background-image:asset-url("mail-aspro.png");
}

.contacto{
  margin:0 auto;
  padding:10px;
}

.contacto input[type=text],.contacto input[type=email], .contacto input[type=tel]{
  border:1px solid #ccc;
  border-radius:5px;
  display:block;
  padding:10px;
  margin: 20px 0;
  width:calc(100% - 20px);
}

.contacto textarea{
  border:1px solid #ccc;
  border-radius:5px;
  display:block;
  height:100px;
  margin:20px 0;
  padding:10px;
  resize:none;
  width:calc(100% - 20px);
}

.contacto .accepts_checkboxes{
  font-size: 11px;
  margin-bottom: 20px;
}


/*LEGAL WARNING*/

.interno-general-legal{
  padding:10px;
  margin-bottom: 100px;
}

.interno-general-legal h3{
  color:#333;
  font-weight:300;
  text-transform:uppercase;
}

.interno-general-legal ul{
  list-style-type:circle;
}

.interno-general-legal ul li{
  color:#666;
  font-size:0.9em;
  margin:5px 0;
}

.clearfix{
  clear:both;
}

.TA_socialButtonIcon, .TA_certificateOfExcellence{
  display: none;
  position: absolute;
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.TA_certificateOfExcellence #CDSWIDCOE.widCOE {
  border-radius: 3px;
}


/*MEDIA QUERIES*/


.TA_certificateOfExcellence{
  display: inline-block;
  bottom: 100px;
  margin-left: 23px;
}


@media screen and (max-width: 1200px){

  .text-titulo-acordeon{
    font-size:1.5em;
  }
  nav ul{
    // width:570px;
  }

  nav ul li{
    font-size:1em;
  }

  nav ul li.separador::before{
    top:-5px;
  }
}


@media screen and (max-width: 750px){
  footer {
      height: 50px;
      padding: 8px 0;
  }

  nav ul{
    display:none;
  }

  .boton-mobile{
    display:block;
  }

  footer nav ul.menu-mobile{
    display:block;
  }

  .enlace-reserva-individual{
    float:none;
    margin:10px auto;
  }

  .text-titulo-acordeon{
    bottom: 30%;
  }

  .TA_certificateOfExcellence{
    display: none;
  }

  .TA_socialButtonIcon{
    display: inline-block;
    position: absolute;
    bottom: 60px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px){
  .language-bar{
    font-size:0.8em;
    top:15px;
  }
  header{
    padding-top: 15px;
  }

  header h1{
    font-size:0.9em;
    line-height:1.5em;
  }
  .text-titulo-acordeon{
    bottom: 30%;
  }
}

@media screen and (max-width: 1020px){
  .contenedor-interno-general table thead td{
    font-size:0.7em;
  }

  .contenedor-interno-general table tbody td{
    font-size:1em;
  }

  .contenedor-imagen-results{
    height:100px;
    width:250px;
  }

  .contenedor-imagen-results img{
    height:100px;
    width:250px;
  }

  .contenedor-imagen-results h3{
    font-size:0.9em;
      height: 80px;
      width: 230px;
  }
}

@media screen and (max-width: 900px){
  .datos-desktop{
    display:none;
  }

  .letra-responsive{
    display:inline;
  }

  .datos-completos-mobile{
    display:block;
  }

  tbody .datos-mobile{
    border-bottom:1px solid #eee;
    padding:10px;
  }

  .contenedor-interno-general table thead td{
    font-size:1em;
  }

  .contenedor-imagen-results{
    height:120px;
    width:300px;
  }

  .contenedor-imagen-results img{
    height:120px;
    width:300px;
  }

  .contenedor-imagen-results h3{
    font-size:1em;
      height: 100px;
      width: 280px;
  }
}

@media screen and (max-width: 700px){
  .contenedor-interno-general{
    margin:0 auto;
    padding:0;
    width:90%;
  }
}


@media screen and (max-width: 400px){
  .contenedor-interno-general{
    margin:0 auto;
    padding:0;
    width:100%;
  }
}


#errors, #success {
  text-align: center;
  margin-bottom: 23px;
}

.fa-chevron-left, .fa-chevron-right {
     position: absolute;
     top: 50%;
     z-index: 5;
     display: inline-block;
     color: white;
}

.fa-chevron-left {
     left: 50%;
}

.fa-chevron-right {
     right: 50%;
}

@media screen and (min-width: 768px) {

     .fa-chevron-left, .fa-chevron-right {
          width: 30px;
          height: 30px;
          margin-top: -15px;
          margin-left: -15px;
          font-size: 90px;
     }
}

/*BARRA BUSQUEDA RESPONSIVE*/

@media screen and (max-width: 768px){
   .ad-home{
    top: 65px;
    width: 100px;
  }

  .boton-responsive-barra-busqueda{
    display:block;
  }

  .contenedor-barra-busqueda{
    background-color:#818181;
    display:none;
    position:static;
  }

  .barra-busqueda{
    width:290px;
  }
  .titulo-barra-busqueda{
    float: none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
  }
  .bloque-barra-reserva{
    float:none;
  }

  .barra-reserva-item{

  }

  .br-calendario{
    background-position:15px center;
    padding-left:45px;
  }

  .br-personas,.br-dormitorios{
    background-position:0 center;
    float:left;
      width: 50px;
  }

  .br-personas{
    margin-left:65px;
  }

  .br-dormitorios{
    margin-left:10px;
  }

  .br-add{
    margin:0;
  }

  .barra-reserva-item input[type="text"]{
    display: block;
      margin: 0 auto;
      width: 200px;
  }

  .bri-check input[type="text"]{
      width: 90px;
  }

  .barra-reserva-item select{
    display: block;
      margin: 0 auto;
      width: 50px;
  }

  #reservar-barra-busqueda{
    display:block;
    margin:0 auto;
  }

  .forclear{
    clear:both;
    display:block;
    width:100%;
  }
}

.result_search_for{
  margin: 10px 0px 30px 0px;
  text-align:center;
}

/*reservas*/
.reservatelo{
  margin:0 auto;
  padding:10px;
  width:600px;
}

.sumario-reserva{
  border-bottom:1px solid #666;
  margin:10px auto 0;
  padding:10px;
  width:600px;
}

.reservatelo textarea, .reservatelo input[type=text],.reservatelo input[type=email]{
  border:1px solid #ccc;
  border-radius:5px;
  display:block;
  padding:10px;
  margin: 20px 0;
  width:calc(100% - 20px);
}

.sumary-reservation-options .select-50 {
  width: 48%;
  display: inline-block;
  margin-top: 20px;
}

.sumary-reservation-options .select-50 select {
  margin: 5px 0 20px;
  width: 100%;
}

.reservation_client_comments textarea {
  margin: 0 0 20px;
}

.contenedor-interno-form-reserva{
  height:50px;
  margin:10px auto;
}

.reservatelo label{
  color:#666;
  font-size:0.8em;
}

.titulo-reserva{
  color:#666;
}

.apartamento-reservado, .el-golpe{
  color: #666;
  font-size: 2em;
  font-weight: 300;
}

.precio-total{
  color:#333;
}

@media screen and (max-width: 700px){
  .reservatelo{
    width:300px;
  }

  .sumario-reserva{
    width:300px;
  }

  .apartamento-reservado, .el-golpe{
      font-size: 1.5em;
  }
}

/*ni pies ni cabeza...a falta de diseño*/

.contenedor-featuretes{
  background-color:#eee;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  color:#666;
  list-style-type:none;
  padding:20px;
}

.featurete-contenida{
  float:left;
  font-size:0.8em;
  margin:5px 0;
  padding:0;
  text-align:center;
  width:25%;
}

@media screen and (max-width:980px){
  .featurete-contenida{
    width:50%;
  }
}
@media screen and (max-width:510px){
  .featurete-contenida{
    width:100%;
  }
}
.reservatelo{
  margin:0 auto;
  padding:10px;
  width:600px;
}

.sumario-reserva{
  border-bottom:1px solid #666;
  margin:0 auto;
  padding:10px;
  position:relative;
  width:600px;
}

.sumario-reserva-help{
  text-align: center;
  font-size: 12px;
  background: #bd1a62;
  padding: 10px;
  color: white;
  margin-bottom: -20px;
}

.reservatelo input[type=text],.reservatelo input[type=email],.reservatelo input[type=tel]{
  border:1px solid #ccc;
  border-radius:5px;
  display:block;
  padding:10px;
  margin: 20px 0;
  width:calc(100% - 20px);
}

  .reservatelo select{
    border:1px solid #ccc;
    border-radius:5px;
    display:block;
    height:40px;
    margin:20px 0;
    padding:10px;
    width:calc(100% - 20px);
  }

  .contenedor-interno-form-reserva{
    margin:10px auto;
  }

  .reservatelo label{
    color:#666;
    font-size:0.8em;
  }

  .titulo-reserva{
    color:#666;
    font-size:1.4em;
  }

  .apartamento-reservado, .el-golpe{
    color: #666;
      font-size: 1em;
      font-weight: 300;
  }

  .apartamento-reservado{
    color:#333;
  }

  .precio-total{
    color:#333;
  }

  .imagen-reserva{
    display:block;
    height:120px;
    position:absolute;
    right:0;
    top:20px;
    width:200px;
  }

  .contenedor-botones-reservas{
    margin:30px auto;
    width:260px;
  }

  .contenedor-botones-reservas-full{
    width:100%;
  }

  .botones-reservas{
    background-color:#bd1a63;
    border:5px solid #fff;
    box-shadow:0 0 1px 2px rgba(0,0,0,0.1);
    color:#eee;
    cursor:pointer;
    display:block;
    font-size:0.7em;
    padding:10px 0;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width:110px;
  }

  .botones-reservas:hover{
    color:#fff;
  }

  .boton-reserva-siguiente{
    float:right;
  }

  .boton-reserva-siguiente-extra{
    margin-left:20px;
  }

  .boton-reserva-anterior{
    float:left;
  }

  .resumen{
    width:100%;
  }

  .resumen tbody tr:nth-child(odd){
    background-color:#eee;
  }

  .resumen td{
    width:20%;
    color:#666;
    font-size:0.9em;
    font-weight:300;
    padding:5px 0;
    text-align:center;
  }

  .resumen thead td{
    color:#333;
    font-weight:400;
  }

  .resumen td:first-child{
    width:40%;
  }

  .reservatelo-final .botones-reservas{
    float:none;
    margin:10px auto;
  }

  .paso-reserva{
    background-color: #ccc;
      border-radius: 180px;
      box-shadow: 2px 1px 5px #999 inset;
      color: #666;
      float: left;
      font-size: 1.5em;
      font-weight: 400;
      margin: 10px 7.5%;
      padding: 12px 0;
      text-align: center;
      text-shadow: 1px 0 0 #fff;
      width: 10%;
  }

  .paso-reserva-activo{
    background-color: #bd1a63;
    box-shadow: 2px 1px 5px rgba(255,255,255,0.2) inset;
      color: #fff;
      text-shadow: 1px 0 0 #ccc;
  }

  @media screen and (max-width:700px){
    .reservatelo{
      width:300px;
    }

    .sumario-reserva{
      width:300px;
    }

    .imagen-reserva{
      margin-top:10px;
      position:static;
    }

    .reservatelo-mobile .botones-reservas{
      float:none;
      margin:10px auto;
    }

    .paso-reserva{
        font-size: 0.8em;
        padding: 7px 0;
        width: 10%;
    }
  }


.caja-ventajas{
  background-color: rgba(128, 128, 128, 0.78);
  display: inline-block;
  padding: 9px 48px;
  margin-top: 5px;
  font-size: 0.5em;
  text-transform: uppercase;
  color: white;

}
.ventajas-barra-busqueda, h1{
  font-weight: normal !important;
}


/* PROMOCIONES */
.promotions-page{
  min-height: 100%;
  margin: 40px 0 80px 0;
  h1{
    color: #666;
    font-weight: 300 !important;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
  .grid-promotions{
    .col-lg-4.col-md-4.col-sm-6.col-xs-12{
      padding: 0px;
      margin-top: -5px;
    }
    .text-body{
      position: absolute;
      bottom: 0;
      background: #ffffffd4;
      margin: 9px 4px;
      min-height: calc(100% - 50%);
      .title{
        font-size: 20px;
        font-weight: 600;
        color: #bd1a63;
        margin: 10px 15px;
      }
      .contain{
        font-size: 14px;
        margin: 10px 15px;
      }
      .button{
        position: relative;
        margin: 5px;
        bottom: -5px;
      }

    }
    .img-thumbnail{
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .promotions-page{
    .grid-promotions{
      .text-body{
        max-width: 408px;
        left: 0;
        right: 0;
        margin: auto !important;
        .button{
          bottom: 2px;
        }
      }
    }
  }
}



/*SERVICIOS*/

.services-page{
  color: #666;
  min-height: 100%;
  margin: 40px 0 80px 0;
  h1{
    color: #666;
    font-weight: 300 !important;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
  .grid-services{
    .box-service{
      min-height: 185px;
      padding: 15px;
      .box{
        padding: 7px;
        background: rgb(237,237,237); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        border: 1px solid #eeeeee;
        min-height: 185px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.39);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.39);
        .icon{
          min-height: 185px
        }
        .icon{
          padding-top: calc((50% - 113px)/2);
          padding-top: -moz-calc((50% - 113px)/2);
          padding-left: 5px;
          padding-right: 0px;
          img {
            height: 113px;
            margin: auto;
          }
        }
        .description{
          padding: 26px 15px 15px 20px;
          h2{
            font-weight: 400 !important;
            font-size: 20px;
          }
          p{
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .services-page{
    .grid-services{
      .box-service{
        padding: 15px;
        .box{
          padding: 10px;
          .icon{
            padding-top: 30px;
            img {
              height: 98px;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 968px) {
  .services-page{
    .grid-services{
      .box-service{
        padding: 15px;
        .box{
          min-height: 262px;
          .icon{
            padding: 15px;
            min-height: auto;
          }
          .description{
            text-align: center;
            padding: 15px;
          }
        }
      }
    }
  }
  .social-bed-dos{
    position: initial;
    display: block;
    text-align: center;
    .social-button{
      display: inline-block;
      float: none;
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .services-page{
    .grid-services{
      .box-service{
        min-height: auto;
        padding: 15px;
        .box{
          min-height: auto;
          .icon{
            min-height: auto;
          }
          .icon{
            padding: 15px;
            img {
              height: auto;
            }
          }
          .description{
            text-align: center;
            padding: 15px;
          }
        }
      }
    }
  }
  .social-bed-dos{
    position: initial;
    display: block;
    text-align: center;
    .social-button{
      display: inline-block;
      float: none;
      margin-top: 15px;
    }
  }
}

/* FAQS */
.faqs-page{
  min-height: 100%;
  margin: 40px 0 80px 0;
  h1{
    color: #666;
    font-weight: 300 !important;
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
  }
  .grid-faqs{
    .col-lg-4.col-md-4.col-sm-6.col-xs-12{
      padding: 0px;
      margin-top: -5px;
      &.faq-box{
        .faq-image{
          height: 150px;
          overflow: hidden;
        }
        .link a{
          color: #bd1a63;
          font-size: 12px;
        }
      }
    }
    .text-body{
      bottom: 0;
      background: #ffffffd4;
      margin: 9px 4px;
      min-height: calc(100% - 50%);
      .title{
        font-size: 20px;
        font-weight: 600;
        color: #bd1a63;
        margin: 10px 15px;
      }
      .contain{
        font-size: 14px;
        margin: 10px 15px;
      }
    }
  }
}
