/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require public_v1/bootstrap.min.css
 *= require public_v1/slick.min.css
 *= require public_v1/datepicker.min.css
 *= require public_v1/jquery.bootstrap-touchspin.min.css
 *= require public_v1/style.min.css
 *= require font-awesome
 *= require cookies_eu
 */

.mas_info ul {
  padding-left: 20px;
}

hr.gradient {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.redes {
  margin-left: auto;
  margin-right: auto;
}

.btn-outline-dark a{
  color: #343a40;
  text-decoration-line: none;
}

.btn-outline-dark a:hover {
  color: #fff;
}