body{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	min-width:320px;
	overflow:hidden;	
}

/*HEADER*/

header{
	height:103px;/*123*/
	padding:10px 0;
}

.language-bar{
	color:#7b7b7b;
	font-size:1.2em;
	font-weight:300;
	position:absolute;
	right:20px;
	text-align:right;
	top:10px;
}

.language-bar a{
	color:#7b7b7b;
	text-transform:uppercase;
}

.language-bar a.lan-active{
	color:#9c3951;
}

header h1{
	color:#000;
	font-size:2.5em;
	font-weight:200;
	letter-spacing:0.15em;
	text-align:center;
	text-transform:uppercase;
}

.eleh{
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	text-transform:none;
}

.logo-separation{
	font-size:1.1em;
	letter-spacing:0.3em;
}

.bold-logo{
	font-weight:500;
}

.small-logo{
	font-size:0.7em;
}

/*FOOTER*/

footer{
	background-color:#fff;
	//bottom:0;
	height:92px;/*152*/
	padding:30px 0;
	//position:absolute;
	width:100%;
}

nav ul{
	list-style-type:none;
	margin:0 auto;
	padding:0;
	width:900px;
}

nav ul li{
	color:#7b7b7b;
	display:inline-block;
	font-size:3em;
	font-weight:200;
	margin:0 10px;
}

nav ul li.separador::before{
	background-color:#7b7b7b;
	border-radius:180px;
	content:"";
	display:inline-block;
	height:5px;
	position:relative;
	top:-10px;
	width:5px;
}

nav ul li a{
	color:#7b7b7b;
	text-transform:uppercase;
}

nav ul li a:hover{
	color:#9c3951;
	text-transform:uppercase;
}

nav ul li a.item-activo{
	color:#9c3951;
}

/*ACORDEON*/

.contenedor-acordeon{
	overflow:hidden;
	width:200%;
}

.slice-acordeon{
	float:left;
	overflow:hidden;
	position:relative;
	width:10%;
}

.slice-acordeon img{
	border:0;
	display:block;
	margin:0;
	padding:0;
}

.contenedor-text-acordeon{
	position:absolute;
	top:0;
	width:100%;
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:-moz-linear-gradient(left,rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:-o-linear-gradient(left,rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:linear-gradient(left,rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.text-titulo-acordeon{
	bottom:2%;
	color:#fff;
	font-size:2.5em;
	font-weight:200;
	left:5%;
	letter-spacing:0.1em;
	line-height:1em;
	position:absolute;
	text-transform: uppercase;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
	-webkit-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	-o-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

/*INTERNAS*/

.contenedor-interno-general{
	margin:0 auto;
	padding:10px 15px 0;
	width:calc(80% - 30px);
}

.contenedor-interno-general,.contenedor-interno-individual{
	overflow-x:hidden;
	overflow-y:scroll;
}

/* BUSQUEDA */

.informacion-busqueda {
    font-size: 1.7em;
    font-weight: 300;
}

.tabla-busqueda{
	margin-top:20px;
	width:100%;
}

.tabla-busqueda thead{
	border-bottom:2px solid #949494;
}

.tabla-busqueda thead td{
	font-size:2.2em;
	font-weight:300;
	padding:10px 0;
}

.tabla-busqueda td{
	padding:10px 0;
	text-align:center;
}

.contenedor-imagen-results{
	display:block;
	height:120px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	text-decoration:none;
	width:300px;
}

.contenedor-imagen-results img{
	border:0;
	margin:0;
	padding:0;
}

.contenedor-imagen-results h3{
	color:#fff;
	font-weight:200;
	height:120px;
	padding:5px;
	position:absolute;
	text-align:left;
	text-transform:uppercase;
	top:0;
	width:300px;
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:-moz-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:-o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.tabla-datos-numericos{
	font-size:2.2em;
}

.enlace-reserva{
	background-color:#bd1a63;
	border:5px solid #fff;
	box-shadow:0 0 1px 2px rgba(0,0,0,0.1);
	color:#eee;
	display:block;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	text-transform:uppercase;
	width:105px;
}

.enlace-reserva:hover{
	color:#fff;
}

/*APARTAMENTOS INDIVIDUALES*/

.contenedor-datos-individuales{
	border-bottom:1px solid #ccc;
	background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
	background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
	background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
	background-image:linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0));
}

.contenedor-datos-individuales-interno{
	margin:0 auto;
	padding:10px 0;
	width:70%;
}

.nombre-apartamento-individual{
	float:left;
	font-weight:300;
	padding-top:5px;
	text-transform:uppercase;
	width:30%;
}

.info-apartamento-individual{
	float:left;
	padding-top:10px;
	width:calc(70% - 105px);
}

.sub-info-individual{
	display: inline-block;
    font-size: 2em;
    margin: 0 20px;
    text-transform: uppercase;
}

.enlace-reserva-individual{
	float:left;
}

.clearfix{
	clear:both;
}

/*MEDIA QUERIES*/

@media screen and (max-width:480px){
	.language-bar{
		font-size:1em;
		top:5px;
	}

	header h1{
		font-size:1.7em;
	}
}


#errors{
	text-align: center;
	margin-bottom: 23px;
}


