/ Sidebar starts
.sidebar.no-print
  .sidey
    / Logo
    .logo
      %h1
        = link_to admin_buildings_path do
          %i.fa.fa-desktop.br-red
          Conde Miranda
          %span Admin
    / Sidebar navigation starts
    / Responsive dropdown
    - if !general_dashboard?
      .sidebar-dropdown
        %a.br-red{:href => "#"}
          %i.fa.fa-bars
      .side-nav
        .side-nav-block
          / Sidebar heading
          %h4 Panel principal
          / Sidebar links
          %ul.list-unstyled
            %li
              = link_to admin_building_dashboard_index_path(@building), class: cp(admin_building_dashboard_index_path(@building)) do
                %i.fa.fa-tachometer
                Dashboard
          %ul.list-unstyled
            %li.has_submenu.open

              %i.fa.fa-desktop
              Gestión de Reservas
              %ul.list-unstyled{style: "display: block;"}
                %li
                  = link_to admin_building_reservations_path(@building), class: cp(admin_building_reservations_path(@building)) do
                    %i.fa.fa-desktop
                    Activas
                %li
                  = link_to index_finished_admin_building_reservations_path(@building), class: cp(index_finished_admin_building_reservations_path(@building)) do
                    %i.fa.fa-desktop
                    Finalizadas
                %li
                  = link_to index_canceled_admin_building_reservations_path(@building), class: cp(index_canceled_admin_building_reservations_path(@building)) do
                    %i.fa.fa-desktop
                    Canceladas
                %li
                  = link_to index_no_complete_admin_building_reservations_path(@building), class: cp(index_canceled_admin_building_reservations_path(@building)) do
                    %i.fa.fa-desktop
                    Pagos no completados
          %ul.list-unstyled
            %li
              = link_to admin_building_apartment_types_path(@building), class: cp(admin_building_apartment_types_path(@building)) do
                %i.fa.fa-list-alt
                Tarifas y tipos
          %ul.list-unstyled
            %li
              = link_to admin_building_reservation_conditions_path(@building), class: cp(admin_building_reservation_conditions_path(@building)) do
                %i.fa.fa-list-alt
                Condiciones reservas
          %ul.list-unstyled
            %li
              = link_to admin_building_apartments_path(@building), class: cp(admin_building_apartments_path(@building)) do
                %i.fa.fa-home
                Apartamentos
          %ul.list-unstyled
            %li
              = link_to admin_building_coupons_path(@building), class: cp(admin_building_coupons_path(@building)) do
                %i.fa.fa-ticket
                Cupones
          %ul.list-unstyled
            %li
              = link_to admin_building_discounts_path(@building), class: cp(admin_building_discounts_path(@building)) do
                %i.fa.fa-pencil
                Descuentos
          %ul.list-unstyled
            %li
              = link_to admin_building_promotions_path(@building), class: cp(admin_building_promotions_path(@building)) do
                %i.fa.fa-pencil
                Promociones
          %ul.list-unstyled


            %li.has_submenu.open

              %i.fa.fa-desktop
              Gestión de Calendario
              %ul.list-unstyled{style: "display: block;"}
                %li
                  = link_to admin_building_invalid_dates_path(@building), class: cp(admin_building_invalid_dates_path(@building)) do
                    %i.fa.fa-calendar
                    Fechas bloqueadas en calendario
                %li
                  = link_to admin_building_calendar_dates_path(@building), class: cp(admin_building_calendar_dates_path(@building)) do
                    %i.fa.fa-calendar
                    Gestión noches mínima en día



          %ul.list-unstyled
            %li
              = link_to admin_building_channels_path(@building), class: cp(admin_building_channels_path(@building)) do
                %i.fa.fa-exchange
                Canales
          %ul.list-unstyled
            %li
              = link_to admin_building_services_path(@building), class: cp(admin_building_services_path(@building)) do
                %i.fa.fa-plus-circle
                Servicios opcionales
          %ul.list-unstyled
            %li
              = link_to admin_building_clients_path(@building), class: cp(admin_building_clients_path(@building)) do
                %i.fa.fa-users
                Clientes
          %ul.list-unstyled
            %li.has_submenu
              = link_to "", class: "nav-caret fa fa-caret-down" do
                %i.fa.fa-plus-square
                Control
              %ul.list-unstyled
                %li
                  = link_to admin_building_ad_pdfs_path(@building), class: cp(admin_building_ad_pdfs_path(@building)) do
                    %i.fa.fa-file-pdf-o
                    Publicidad en pdf
                %li
                  = link_to admin_building_ad_homes_path(@building), class: cp(admin_building_statistics_path(@building)) do
                    %i.fa.fa-bookmark
                    Publicidad Home
                %li
                  = link_to admin_building_config_calendars_path(@building), class: cp(admin_building_config_calendars_path(@building)) do
                    %i.fa.fa-moon-o
                    Noches mínimas
                %li
                  = link_to admin_building_sliders_path(@building), class: cp(admin_building_sliders_path(@building)) do
                    %i.fa.fa-sliders
                    Slider
          %ul.list-unstyled
            %li.has_submenu
              = link_to "", class: "nav-caret fa fa-caret-down" do
                %i.fa.fa-plus-square
                CMS
              %ul.list-unstyled
                %li
                  = link_to admin_building_cms_locations_path(@building), class: cp(admin_building_cms_locations_path(@building)) do
                    %i.fa.fa-file-pdf-o
                    Pag. localización
                %li
                  = link_to edit_admin_building_cms_faq_page_path(@building, @building.faq_page), class: cp(edit_admin_building_cms_faq_page_path(@building, @building.faq_page)) do
                    %i.fa.fa-question-circle
                    F.A.Q


          %ul.list-unstyled
            %li
              = link_to admin_building_finances_path(@building), class: cp(admin_building_finances_path(@building)) do
                %i.fa.fa-money
                Contabilidad
          %ul.list-unstyled
            %li
              = link_to admin_building_statistics_path(@building), class: cp(admin_building_statistics_path(@building)) do
                %i.fa.fa-bar-chart-o
                Estadísticas
