= simple_form_for [:admin, @building, @channel], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :name, :label => "Nombre"

  = f.input :contact_name, :label => "Nombre del contacto"

  = f.input :contact_email, :label => "Email del contacto"
  = f.input :color, :label => "Color", as: :select, collection: Channel::TIPOS.map{|e| ["#{I18n.t 'channel.tipos.' + e[0].to_s}", e[1]]}, prompt: "Seleccione un color"


  .form-actions
    = f.button  :submit, "Guardar", class: "btn btn-primary"