.single-head
  %h3.pull-left
    %i.fa.fa-exchange.orange
    Administrar Canales
  = link_to "Crear canal", new_admin_building_channel_path, class: "pull-right btn btn-primary btn-create"
  
  .clearfix

.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr
          %th Nombre canal
          %th Nombre contacto
          %th Email contacto
          %th Color
          %th Acciones
      %tbody
        - @channels.each do |ch|
          %tr
            %td= ch.name
            %td= ch.contact_name
            %td= ch.contact_email
            %td{style: "background-color: #{ch.color}"}
     
            %td
              = link_to  edit_admin_building_channel_path(@building, ch), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_channel_path(@building, ch), class: "btn btn-xs btn-info" do
                %i.fa.fa-eye