.single-head
  %h3.pull-left
    %i.fa.fa-exchange.orange
    = "Canal #{@channel.name}"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Nombre:
          %td= @channel.name.present? ? @channel.name : "-"
        %tr
          %td 
            %strong Nombre del contacto:
          %td= @channel.contact_name.present? ? @channel.contact_name : "-"
        %tr
          %td 
            %strong Email del contacto:
          %td
            = @channel.contact_email.present? ? @channel.contact_email : "-"