= simple_nested_form_for [:admin, @building, @admin_coupon], :wrapper => :horizontal_form, :html => {:class => 'form-horizontal'} do |f|

  = f.input :code, :label => "Código"
  = f.input :discount, :collection => 0..100, :label => "Porcentaje de descuento para apartamento", disabled: @disabled
  %br


  %fieldset
    .form-group  
      .bs-callout.bs-callout-info
        .row
          = f.fields_for :coupon_types do |coupon_type|
            .col-sm-6.col-md-4.col-xs-12
              .thumbnail.valid_dates
                = coupon_type.association :service, collection: @building.services, :label => "Selecciona Servicio", class: "form-control", :style => "margin-bottom: 5px;", :required => true
                = coupon_type.input :discount, :collection => 0..100, class: "form-control", :label => "Porcentaje de descuento", disabled: @disabled

                .caption.text-center
                  = coupon_type.link_to_remove "Borrar descuento", class: "btn btn-xs btn-danger"

          = f.link_to_add "Añadir descuento", :coupon_types, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"

  = f.association :reservation_conditions, as: :check_boxes, collection: @building.reservation_conditions, :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4', :label => "Aplicar a condiciones de tarifa"

  = f.association :apartments, as: :check_boxes, :collection => @building.apartments.no_deleted, :wrapper => :horizontal_radio_and_checkboxes, :item_wrapper_class => 'col-sm-4', :label => "Apartamentos", input_html: {data: {behaviour: 'select-all'}}


  %div.text-center
    = check_box_tag "select_all", '', @select_all
    %strong Seleccionar todos los apartamentos


  %br
  = f.input :description, :label => "Descripción"
  = f.input :minimum_nights, :label => "Noches mínimas"
  = f.input :maximum_nights, :label => "Noches máximas"
  = f.input :deadline, as: :date_picker, :label => 'Válido hasta', input_html: {data: {date_options: {minDate: "#{Date.today.strftime('%Y/%m/%d')}"}}}
  %fieldset
    .form-group  
      .bs-callout.bs-callout-info
        .row
          = f.fields_for :valid_dates do |v_d|
            .col-sm-6.col-md-4.col-xs-12
              .thumbnail.valid_dates
                = v_d.input :start_date, as: :date_picker, :label => "Fecha de inicio", class: "form-control date date1", :style => "margin-bottom: 5px;", :required => true
                = v_d.input :end_date, as: :date_picker, :label => "Fecha de fin", class: "form-control date date2", :style => "margin-bottom: 5px;", :required => true, input_html: {data: {date_options: {minDate: "#{Date.today.strftime('%Y/%m/%d')}"}}}

                .caption.text-center
                  = v_d.link_to_remove "Borrar fechas", class: "btn btn-xs btn-danger"

          = f.link_to_add "Añadir fechas válidas", :valid_dates, class: "btn btn-xs btn-primary add-chapter col-sm-6 col-md-12 col-xs-12"

  

  .form-actions
    = f.button :submit, "Guardar", class: "btn btn-primary"

:css
  .page-content {
    overflow: visible;
  }