.single-head
  %h3.pull-left
    %i.fa.fa-ticket.orange
    Administrar Cupones
  = link_to "Crear cupón", new_admin_building_coupon_path, class: "pull-right btn btn-primary btn-create"

  .clearfix

.page-tables
  .table-responsive
    %table.table.data-table
      %thead
        %tr
          %th Código
          %th Descripción
          %th{style: "width: 15%;"} Fecha de expiración
          %th{style: "width: 10%;"} Descuento
          %th{style: "width: 15%;"} Acciones
      %tbody
        - @admin_coupons.each do |co|
          %tr
            %td= co.code
            %td= co.description
            %td
              %span.hidden YYYYMMDD
              = co.deadline.present? ? co.deadline.strftime('%d/%m/%Y') : "Sin fecha límite"
            %td= co.discount

            %td
              = link_to  edit_admin_building_coupon_path(@building, co), class: "btn btn-xs btn-success" do
                %i.fa.fa-pencil
              = link_to admin_building_coupon_path(@building, co), class: "btn btn-xs btn-info" do
                %i.fa.fa-eye