.single-head
  %h3.pull-left
    %i.fa.fa-ticket.orange
    = "Cupón #{@admin_coupon.code}"
  .clearfix

.row
  .col-md-12.col-lg-12
    %table.table.table-user-information
      %tbody
        %tr
          %td 
            %strong Código:
          %td= @admin_coupon.code
        %tr
          %td 
            %strong Descuento:
          %td
            = @admin_coupon.discount
            = "%"
        %tr
          %td
            %strong Apartamentos aplicable:
          %td
            = @admin_coupon.apartments.map{|a| a.name}.join(', ')
        %tr
          %td 
            %strong Descripción:
          %td= @admin_coupon.description
        %tr
          %td
            %strong Mínimo noches:
          %td= @admin_coupon.minimum_nights
        %tr
          %td
            %strong Máximo noches:
          %td= @admin_coupon.maximum_nights
        %tr
          %td 
            %strong Edificio:
          %td= @admin_coupon.building.name
        %tr
          %td 
            %strong Fecha de expiración:
          %td= @admin_coupon.deadline.present? ? @admin_coupon.deadline.strftime("%d-%m-%Y") : "Sin fecha límite"
        %tr
          %td
            %strong Fechas válidas:
          %td
            - @admin_coupon.valid_dates.each do |vd|
              = vd.start_date.strftime("%d-%m-%Y")
              = "/"
              = vd.end_date.strftime("%d-%m-%Y")
              %br
              