- headers = ["Fecha Operación", "Numero Factura", "Descripcion Factura", "Nombre Cliente", "NIF Cliente", "Cuenta Contable Cliente", "Típo Operación", "Cuenta Contable Venta", "Base Imponible", "%IVA", "Cuota de IVA", "Suplidos", "Cuota R.E.", "Rectificativa", "Observaciones (Código Postal)", "Impreso"]
= CSV.generate_line headers

 
- @invoices.each do |invo|
  - customer_name, customer_cif = invo.get_customer_datas
  - payment_type = invo.get_payment_types
  

  - zip_code = invo.reservation.billing_address && invo.reservation.billing_address.zip_code.present? ? invo.reservation.billing_address.zip_code[0..1] : BillingAddress::ZIP_CODE_DEFAULT



  - invo.invoice_items.each_with_index do |item, index|
    - operation_type = item.vat_type.zero? ? '2' : '1'
    - sell_accountant_account = item.vat_type.zero? ? @building.invoice_address.type_opration_two : @building.invoice_address.type_opration_one
    - if index == 0
      = CSV.generate_line([invo.date.strftime('%d/%m/%Y'), invo.number, @building.invoice_address.invoice_description, customer_name, customer_cif, @building.invoice_address.client_accountant_account, operation_type, sell_accountant_account, number_with_precision(item.total_price_base, precision: 2, separator: ","), item.vat_type, number_with_precision(item.total_vat, precision: 2, separator: ","), '', '', '', zip_code, @building.invoice_address.printed]).html_safe
    - else
      = CSV.generate_line(["", "","","", "","",operation_type, sell_accountant_account,number_with_precision(item.total_price_base, precision: 2, separator: ","), item.vat_type,number_with_precision(item.total_vat, precision: 2, separator: ","), '','','',zip_code,@building.invoice_address.printed]).html_safe

      
- @rectifications.each do |rect|
  - invo = rect.invoice
  - customer_name, customer_cif = invo.get_customer_datas
  - payment_type = invo.get_payment_types
  - zip_code = invo.reservation.billing_address && invo.reservation.billing_address.zip_code.present? ? invo.reservation.billing_address.zip_code[0..1] : BillingAddress::ZIP_CODE_DEFAULT
  - invo.invoice_items.each_with_index do |item, index|
    - operation_type = item.vat_type.zero? ? '2' : '1'
    - sell_accountant_account = item.vat_type.zero? ? @building.invoice_address.type_opration_two : @building.invoice_address.type_opration_one
    - if index == 0
      = CSV.generate_line([rect.date_rectification.strftime('%d/%m/%Y'), rect.number,@building.invoice_address.invoice_description,customer_name, customer_cif,@building.invoice_address.client_accountant_account,operation_type, sell_accountant_account, number_with_precision(-item.total_price_base, precision: 2, separator: ","), item.vat_type,number_with_precision(-item.total_vat, precision: 2, separator: ","), '','','R',zip_code,@building.invoice_address.printed]).html_safe
    - else
      = CSV.generate_line(["", "","","", "","",operation_type, sell_accountant_account ,number_with_precision(-item.total_price_base, precision: 2, separator: ","), item.vat_type,number_with_precision(-item.total_vat, precision: 2, separator: ","), '','','R',zip_code,@building.invoice_address.printed]).html_safe  

     