.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active

          %th= "Fecha Operación" 
          %th= "Numero Factura"
          %th= "Descripcion Factura"
          %th= "Nombre Cliente"
          %th= "NIF Cliente"
          %th= "Cuenta Contable Cliente"
          %th= "Típo Operación"
          %th= "Cuenta Contable Venta"
          %th= "Base Imponible"
          %th= "%IVA"
          %th= "Cuota de IVA"
          %th= "Suplidos"
          %th= "Cuota R.E."
          %th= "Rectificativa"
          %th= "Observaciones (Código Postal)" 
          %th= "Impreso"
      %tbody
        - @invoices.each do |invo|
          - customer_name, customer_cif = invo.get_customer_datas
          - zip_code = invo.reservation.billing_address && invo.reservation.billing_address.zip_code.present? ? invo.reservation.billing_address.zip_code[0..1] : BillingAddress::ZIP_CODE_DEFAULT

          - invo.invoice_items.each_with_index do |item, index|
            - operation_type = item.vat_type.zero? ? '2' : '1'
            - sell_accountant_account = item.vat_type.zero? ? @building.invoice_address.type_opration_two : @building.invoice_address.type_opration_one
            - if index == 0
              %tr
                %td= invo.date.strftime('%d/%m/%Y')
                %td= invo.number
                %td= @building.invoice_address.invoice_description
                %td= customer_name
                %td= customer_cif
                %td= @building.invoice_address.client_accountant_account
                %td= operation_type
                %td= sell_accountant_account
                %td= number_with_precision(item.total_price_base, precision: 2, separator: ",")
                %td= item.vat_type
                %td= number_with_precision(item.total_vat, precision: 2, separator: ",")
                %td= ""
                %td= ""
                %td= ""
                %td= zip_code
                %td= @building.invoice_address.printed
            - else
              %tr
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= operation_type
                %td= sell_accountant_account
                %td= number_with_precision(item.total_price_base, precision: 2, separator: ",")
                %td= item.vat_type
                %td= number_with_precision(item.total_vat, precision: 2, separator: ",")
                %td= ""
                %td= ""
                %td= ""
                %td= zip_code
                %td= @building.invoice_address.printed




        - @rectifications.each do |rect|
          - invo = rect.invoice
          - customer_name, customer_cif = invo.get_customer_datas
          - zip_code = invo.reservation.billing_address && invo.reservation.billing_address.zip_code.present? ? invo.reservation.billing_address.zip_code[0..1] : BillingAddress::ZIP_CODE_DEFAULT
          - invo.invoice_items.each_with_index do |item, index|
            - operation_type = item.vat_type.zero? ? '2' : '1'
            - sell_accountant_account = item.vat_type.zero? ? @building.invoice_address.type_opration_two : @building.invoice_address.type_opration_one
            - if index == 0
              %tr
                %td= rect.date_rectification.strftime('%d/%m/%Y')
                %td= rect.number
                %td= @building.invoice_address.invoice_description
                %td= customer_name
                %td= customer_cif
                %td= @building.invoice_address.client_accountant_account
                %td= operation_type
                %td= sell_accountant_account
                %td= number_with_precision(-item.total_price_base, precision: 2, separator: ",")
                %td= item.vat_type
                %td= number_with_precision(-item.total_vat, precision: 2, separator: ",")
                %td= ""
                %td= ""
                %td= "R"
                %td= zip_code
                %td= @building.invoice_address.printed
            - else
              %tr
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= ''
                %td= operation_type
                %td= sell_accountant_account
                %td= number_with_precision(-item.total_price_base, precision: 2, separator: ",")
                %td= item.vat_type
                %td= number_with_precision(-item.total_vat, precision: 2, separator: ",")
                %td= ""
                %td= ""
                %td= "R"
                %td= zip_code
                %td= @building.invoice_address.printed








              