.single-head
  %h3.pull-left
    %i.fa.fa-money.orange
    Gestión de contablidad
  
  .clearfix

%p 
  Descargar:
  = link_to "CSV", admin_building_finances_path(format: "csv", search: params[:search]) 
  |
  = link_to "Excel", admin_building_finances_path(format: "xls", search: params[:search])

%p 
  Descargar:
  = link_to "CSV NUEVO FORMATO", export_finances_admin_building_finances_path(format: "csv", search: params[:search]) 
  |
  = link_to "Excel NUEVO FORMATO", export_finances_admin_building_finances_path(format: "xls", search: params[:search])


= simple_form_for :search, url: admin_building_finances_path, :method => :get, :wrapper => :vertical_form do |f|
  %filedset
    %legend Rango de búsquedas de facturación por fechas:
    .row.datetimerange
      .col-lg-9
        = f.input :start, as: :date_picker, :input_html => {class: "col-sm-6", value: (@start.strftime('%d/%m/%Y') if @start.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Desde"
        = f.input :end, as: :date_picker, :input_html => {class: "col-sm-6", value: (@end_time.strftime('%d/%m/%Y') if @end_time.present?)}, wrapper: :ranged_datetime, :required => false, :label => "Hasta"
      .col-lg-3
        .form-group.search-inline-buttons
          = f.submit "Consultar", class: "btn btn-primary"
          = link_to "Reset", admin_building_finances_path, class: "btn btn-danger btn-forms"

- if params[:search].present?
  .row.text-center
    .col-lg-12
      .alert.alert-success
        %strong Desde
        = @start.present? ? "#{@start.strftime('%d/%m/%Y')}" : "-"
        %strong hasta
        = @end_time.present? ? "#{@end_time.strftime('%d/%m/%Y')}" : "-"
        %div
          %strong="#{@invoices.count} facturas normales | #{@rectifications.count} facturas rectificativas"

.page-tables
  .table-responsive#client-table2
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table-finances", class: "css-table dataTable"}
      %thead
        %tr
          %th ID
          %th Número
          %th Titular
          %th Fecha
          %th Neto
          %th VAT
          %th Bruto
          %th Factura
          %th Factura rectificativa

      %tbody
        - @invoices.each do |i|

          - rectification = i.rectification_invoice.present? ? i.rectification_invoice : nil
          %tr
            %td= i.id
            %td= i.number
            %td= i.get_customer_name
            %td
              %span.hidden YYYYMMDD
              = i.date.strftime('%d/%m/%Y')
            %td= i.total_no_taxes            
            %td= i.taxes
            %td= i.total            
            %td
              /= link_to "Ver", "/home/ad4kid/hotelCondeMiranda/invoice/#{i.number}/#{File.basename(i.attachment.url)}?action_pdf=show", targe: '_blank'
              = link_to "Ver", invoice_path(i.number, File.basename(i.attachment.url), :extension => "pdf", :action_pdf => "show"), target: '_blank'
              | 
              /= link_to "Descargar", "/home/ad4kid/hotelCondeMiranda/invoice/#{i.number}/#{File.basename(i.attachment.url)}", targe: '_blank' 
              = link_to "Descargar", invoice_path(i.number, File.basename(i.attachment.url), :extension => "pdf")
            %td
              - if !rectification.nil?
                = rectification.number
                / = link_to "Ver", rectification_invoice_path(i.rectification_invoice.number, File.basename(i.rectification_invoice.attachment.url), :extension => "pdf", :action_pdf => "show"), target: '_blank'
                / | 
                /= link_to "Descargar", "/home/ad4kid/hotelCondeMiranda/invoice/#{i.number}/#{File.basename(i.attachment.url)}", targe: '_blank' 
                / = link_to "Descargar", rectification_invoice_path(i.rectification_invoice.number, File.basename(i.rectification_invoice.attachment.url), :extension => "pdf")
              - else
                = "-"
        - @rectifications.each do |rectification|
          %tr
            - i = rectification.invoice
            %td= rectification.id
            %td= rectification.number
            %td= i.get_customer_name
            %td
              %span.hidden YYYYMMDD
              = rectification.date_rectification.strftime('%d/%m/%Y') if rectification.date_rectification.present?
            %td= rectification.base            
            %td= rectification.tax_amount
            %td= rectification.total            
            %td
              = link_to "Ver", rectification_invoice_path(i.rectification_invoice.number, File.basename(i.rectification_invoice.attachment.url), :extension => "pdf", :action_pdf => "show"), target: '_blank'
              | 
              / = link_to "Descargar", "/home/ad4kid/hotelCondeMiranda/invoice/#{i.number}/#{File.basename(i.attachment.url)}", targe: '_blank' 
              = link_to "Descargar", rectification_invoice_path(i.rectification_invoice.number, File.basename(i.rectification_invoice.attachment.url), 
              :extension => "pdf")
            %td
     

