- headers = ['Fecha','Nº factura','Concepto','Descripcion', 'Tipo_iva', 'Unidades', 'Precio_neto_unidad', 'Iva_unidad', 'Precio_unidad', 'Precio_total_base', 'Iva_total', 'Precio_total', 'Titular', 'Pasaporte/DNI', 'Forma de pago']
= CSV.generate_line headers

 
- @invoices.each do |invo|
  - customer_name, customer_cif = invo.get_customer_datas
  - payment_type = invo.get_payment_types
  - invo.invoice_items.each do |item|
    = CSV.generate_line([invo.date.strftime('%d/%m/%Y'), invo.number, item.concept,  item.description, item.vat_type, item.unit, number_with_precision(item.unit_price_base, precision: 2, separator: ","), number_with_precision(item.unit_vat, precision: 2, separator: ","), number_with_precision(item.unit_price, precision: 2, separator: ","), number_with_precision(item.total_price_base, precision: 2, separator: ","), number_with_precision(item.total_vat, precision: 2, separator: ","), number_with_precision(item.total_price, precision: 2, separator: ","), customer_name, customer_cif, payment_type]).html_safe

      
- @rectifications.each do |rect|
  - invo = rect.invoice
  - customer_name, customer_cif = invo.get_customer_datas
  - payment_type = invo.get_payment_types
  - invo.invoice_items.each do |item|
    = CSV.generate_line([rect.date_rectification.strftime('%d/%m/%Y'), rect.number, item.concept,  item.description, item.vat_type, item.unit, number_with_precision(item.unit_price_base, precision: 2, separator: ","), number_with_precision(item.unit_vat, precision: 2, separator: ","), number_with_precision(item.unit_price, precision: 2, separator: ","), number_with_precision(item.total_price_base, precision: 2, separator: ","), number_with_precision(item.total_vat, precision: 2, separator: ","), number_with_precision(-item.total_price, precision: 2, separator: ","), customer_name, customer_cif, payment_type]).html_safe      

     