.page-tables
  .table-responsive
    %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", id: "data-table"}
      %thead
        %tr.active
          %th Fecha
          %th N&#176 factura
          %th Concepto
          %th Descripcion
          %th Tipo_iva
          %th Unidades
          %th Precio_neto_unidad
          %th Iva_unidad
          %th Precio_unidad
          %th Precio_total_base
          %th Iva_total
          %th Precio_total
          %th Titular
          %th Pasaporte/DNI
          %th Forma de pago
      %tbody
        - @invoices.each do |invo|
          - customer_name, customer_cif = invo.get_customer_datas
          - payment_type = invo.get_payment_types
          - invo.invoice_items.each do |item|
            %tr
              %td= invo.date.strftime('%d/%m/%Y')
              %td= invo.number
              %td= item.concept
              %td= item.description
              %td= item.vat_type
              %td= item.unit
              %td= number_with_precision(item.unit_price_base, precision: 2, separator: ",")
              %td= number_with_precision(item.unit_vat, precision: 2, separator: ",")
              %td= number_with_precision(item.unit_price, precision: 2, separator: ",")
              %td= number_with_precision(item.total_price_base, precision: 2, separator: ",")
              %td= number_with_precision(item.total_vat, precision: 2, separator: ",")
              %td= number_with_precision(item.total_price, precision: 2, separator: ",")
              %td= customer_name
              %td= customer_cif
              %td= payment_type
        - @rectifications.each do |rect|
          - invo = rect.invoice
          - customer_name, customer_cif = invo.get_customer_datas
          - payment_type = invo.get_payment_types
          - invo.invoice_items.each do |item|
            %tr
              %td= rect.date_rectification.strftime('%d/%m/%Y')
              %td= rect.number
              %td= item.concept
              %td= item.description
              %td= item.vat_type
              %td= item.unit
              %td= number_with_precision(item.unit_price_base, precision: 2, separator: ",")
              %td= number_with_precision(item.unit_vat, precision: 2, separator: ",")
              %td= number_with_precision(item.unit_price, precision: 2, separator: ",")
              %td= number_with_precision(item.total_price_base, precision: 2, separator: ",")
              %td= number_with_precision(item.total_vat, precision: 2, separator: ",")
              %td= number_with_precision(-(item.total_price), precision: 2, separator: ",")           
              %td= customer_name
              %td= customer_cif
              %td= payment_type