= form_tag(search_apartments_path, method: "get", class: "barra-busqueda") do
  %span.error-barra-reserva-no-blank
    = I18n.t 'apartments.apartment_search.errors.must_choose_date'
  %h3.titulo-barra-busqueda
    = I18n.t 'apartments.apartment_search.booking_online'
  %div{:class => "bloque-barra-reserva br-calendario"}
    %div{:class => "barra-reserva-item bri-check"}
      - start_date = @start_date.try(:strftime, "%d-%m-%Y") || params.try(:[], :check_in)
      %input#check-in{:type => "text",:name => "check_in",:placeholder =>   "#{I18n.t 'apartments.apartment_search.start'}", value: start_date}
    %div{:class => "barra-reserva-item bri-check"}
      - end_date = @end_date.try(:strftime, "%d-%m-%Y") || params.try(:[], :check_out)
      %input#check-out{:type => "text",:name => "check_out",:placeholder => "#{I18n.t 'apartments.apartment_search.end'}", value: end_date}
    .clearfix
  %div{:class => "bloque-barra-reserva br-personas"}
    %div{:class => "barra-reserva-item"}
      %select#personas{:name => "guests"}
        - (1..6).each do |v|
          %option{:value => v, selected: params[:guests].try(:to_i) == v}
            = v
    .clearfix
  .forclear
  %div{:class => "bloque-barra-reserva br-add"}
    %div{:class => "barra-reserva-item"}
      %input#promo{:type => "text",:name => "code",:placeholder => "#{I18n.t 'apartments.apartment_search.coupon'}", value: ("#{@coupon.code}" if @coupon.present? and !@coupon.nil?)}
  %div{:class => "bloque-barra-reserva br-add"}
    %div{:class => "barra-reserva-item"}
      %input#reservar-barra-busqueda{:type => "submit",:name => "search",:value => "#{I18n.t 'apartments.apartment_search.book_button'}"}
  .clearfix
.text-center
  .caja-ventajas
    %h1
      = I18n.t 'apartments.apartment_search.booking_advantage_bar'
    %h1.ventajas
      = I18n.t('apartments.apartment_search.advantage_bar')
      //= link_to (I18n.t 'apartments.apartment_search.advantage_bar'), "#my-modal", id: "modal-advantage", data: {toggle: "modal", target: "#myModal"}, id: "modal-advantage"


