.contenedor-interno-general
  = render 'apartments/search_form'
  = render 'home/modal_advantage'
  %br
  %table
    %thead
      %tr
        %td.datos-mobile= "#{I18n.t 'apartments.apartment_search.apartment'}"
        %td.datos-desktop= "#{I18n.t 'apartments.apartment_search.rooms'}"
        %td.datos-desktop= "#{I18n.t 'apartments.apartment_search.pax'}"
        %td.datos-desktop= "#{I18n.t 'apartments.apartment_search.price'}"
        %td.datos-desktop= "#{I18n.t 'apartments.apartment_search.booking'}"
    %tbody
      - @apartments.each do |apart|
        - if lowest_price = ApartmentService.new(apart).get_from_min_price
          %tr
            %td.datos-mobile
              - if apart.photos.present?
                = link_to apartment_path(apart), class: "contenedor-imagen-results" do
                  = image_tag apart.photos.no_accordion.first.picture.url(:thumbnail), alt: apart.photos.no_accordion.first.caption
                  %h3.titulo-apartamento-busqueda= apart.name
              - else
                = link_to "ver",  apartment_path(apart), class: "contenedor-imagen-results"
              %div.datos-completos-mobile
                %p
                  %span.resaltado-numeros= apart.num_bedrooms
                  = "#{I18n.t 'apartments.text.room', :count => apart.num_bedrooms}"
                %p
                  %span.resaltado-numeros= apart.num_persons
                  pax
                %p
                  %span.resaltado-numeros
                    = "#{I18n.t 'apartments.text.from'} #{lowest_price.try(:floor)}"
                  = "€ / #{I18n.t 'apartments.text.night'}"
                = link_to "#{I18n.t 'apartments.index.see_apartment'}", apartment_path(apart), class: "enlace-reserva"
            %td.datos-desktop= apart.num_bedrooms
            %td.datos-desktop= apart.num_persons
            %td.datos-desktop
              = "#{I18n.t 'apartments.text.from'} #{lowest_price.try(:floor)} € / #{I18n.t 'apartments.text.night'}"
            %td.datos-desktop
              = link_to "#{I18n.t 'apartments.index.see_apartment'}", apartment_path(apart), class: "enlace-reserva"