.contenedor-interno-general{"onunload" => ""}
  <input type="hidden" id="refresh" value="no">
  - if @start_date.present? and @end_date.present?
    = render 'apartments/search_form'
    = render 'home/modal_advantage'
    .result_search_for
      - if @error_coupon.present?
        .alert.alert-warning.alert-dismissible{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          - if @error_coupon.include?('coupon_invalid_num_nights')
            = I18n.t "apartments.apartment_search.errors.#{@error_coupon}", min_night: @coupon.minimum_nights, max_night: @coupon.maximum_nights
          - else
            = I18n.t "apartments.apartment_search.errors.#{@error_coupon}"
      %div= I18n.t 'apartments.apartment_search.result_search'
      %div
        = "#{I18n.t 'apartments.apartment_search.start'}: #{@start_date.strftime('%d/%m/%y')} | #{I18n.t 'apartments.apartment_search.end'}: #{@end_date.strftime('%d/%m/%y')} | #{I18n.t 'apartments.apartment_search.pax'}: #{params[:guests]} "
        = "| #{I18n.t 'apartments.apartment_search.coupon'}: #{@coupon.code} (-#{@coupon.discount}%)" if @coupon.present? and !@coupon.nil? and !@error_coupon.present?
      %div{style: "color: #bd1a63"}
        =raw "#{@coupon.description}" if @coupon.present?
        =raw "#{@applicable_discount.description}" if @applicable_discount.present? and !@applicable_discount.nil?
        = @errors_coupon
  - if @apartments.empty?
    %div.no-result= t 'apartments.apartment_search.no_results_html'
  - else
    - @apartments.each_with_index do |apart, index|
      %table
        %thead
          %tr
            %td.datos-mobile{class: ("no-visible" if !index.zero?), style: "width: 33%"}= "#{I18n.t 'apartments.apartment_search.apartment'}"
            %td.datos-desktop{class: ("no-visible" if !index.zero?), style: "width: 33%"}= "#{I18n.t 'apartments.apartment_search.rooms'}"
            %td.datos-desktop{class: ("no-visible" if !index.zero?), style: "width: 20%"}= "#{I18n.t 'apartments.apartment_search.pax'}"
            %td.datos-desktop{class: "no-visible", style: "display: none;"}= "#{I18n.t 'apartments.apartment_search.price'}"
            %td.datos-desktop{class: "no-visible" , style: "width: 20%"}= "#{I18n.t 'apartments.apartment_search.booking'}"
        %tbody.initial
          %tr.mobile
            %td.datos-mobile
              - if apart[0].photos.present?
                = link_to apartment_path(apart[0], apartment_id: apart[0].id, start_date: @start_date, end_date: @end_date, coupon: (@coupon.present? and !@error_coupon.present? ? @coupon.code : ""), price: apart[1], price_discount: apart[2], nights: @nights), class: "contenedor-imagen-results" do
                  = image_tag apart[0].photos.no_accordion.first.picture.url(:thumbnail), alt: apart[0].photos.no_accordion.first.caption
                  %h3.titulo-apartamento-busqueda= apart[0].name
              - else
                = link_to "ver",  apartment_path(apart[0], apartment_id: apart[0].id, start_date: @start_date, end_date: @end_date, coupon: (@coupon.present? and !@error_coupon.present? ? @coupon.code : ""), price: apart[1], price_discount: apart[2], nights: @nights), class: "contenedor-imagen-results"
              %div.datos-completos-mobile
                %p
                  %span.resaltado-numeros= apart[0].num_bedrooms
                  = "#{I18n.t 'apartments.text.room', :count => apart[0].num_bedrooms}"
                %p
                  %span.resaltado-numeros= apart[0].num_persons
                  pax
                %table
                  %tbody
                    %tr
                      %th{:colspan => "4"}
                    - apart[1].each do |condition|
                      %tr
                        %td
                          %span{style: "margin-right: 7px;"}= condition[:title]
                          - if condition[:description].present?
                            %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", "data-html"=>"true", :title => "#{condition[:description].html_safe}"}
                        %td
                          - if !condition[:discount].zero?
                            %span.before= = condition[:normal_price]
                          = condition[:discount_price]
                        %td
                          = radio_button("condition", "#{apart[0].slug}-mobile", "#{condition[:id]}", class: "reservation-condition-radio-mobile")
                    %tr
                      %th{:colspan => "4"}= link_to "#{I18n.t 'apartments.apartment_search.book_button'}", reservation_new_path(apartment_id: apart[0].id, start_date: @start_date, end_date: @end_date, coupon: (@coupon.present? and !@error_coupon.present? ? @coupon.code : ""), condition_reservation: @building.reservation_conditions.default.id), class: "enlace-reserva", disabled: true, "data-placement": "top", title: I18n.t('apartments.apartment_search.cannot_reservation_without_condition_selected')
            %td.datos-desktop= apart[0].num_bedrooms
            %td.datos-desktop= apart[0].num_persons
            %table.datos-desktop
              %tbody
                %tr
                  %th{:colspan => "4"}
                  %th{:rowspan => "4", style: "text-align: right;"}
                    = link_to "#{I18n.t 'apartments.apartment_search.book_button'}", reservation_new_path(apartment_id: apart[0].id, start_date: @start_date, end_date: @end_date, coupon: (@coupon.present? and !@error_coupon.present? ? @coupon.code : ""), condition_reservation: @building.reservation_conditions.default.id), class: "enlace-reserva tooltip-manual", disabled: true, "data-placement": "top", title: I18n.t('apartments.apartment_search.cannot_reservation_without_condition_selected')
                    = params[:condition_reservation]
                - apart[1].each do |condition|
                  %tr
                    %td{style: "width: 64%; text-align: right;padding-right: 15%;"}
                      %span{style: "margin-right: 7px;"}= condition[:title]
                      - if condition[:description].present?
                        %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", "data-html"=>"true", :title => "#{condition[:description].html_safe}"}
                    %td
                      - if !condition[:discount].zero?
                        %span.before= condition[:normal_price]
                      = condition[:discount_price]
                    %td
                      = radio_button("condition", "#{apart[0].slug}", "#{condition[:id]}", class: "reservation-condition-radio")


:javascript
  $(document).ready(function(e) {
    var $input = $('#refresh');
    $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
  });

