- title @apartment.metatitle.blank? ? "Apartamento Madrid - #{@apartment.name}" : "#{@apartment.metatitle}"
- description @apartment.metadescription.blank? ? "Apartamento Madrid - #{@apartment.name}" : "#{@apartment.metadescription}"
- keywords @apartment.metakey.blank? ? "alquiler Madrid, hospedaje Madrid" : "#{@apartment.metakey}"
.contenedor-interno-individual
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      - @apartment.photos.no_accordion.each_with_index do |page, index|
        %li{"data-slide-to" => "#{index}", "data-target" => "#carousel-example-generic", class: ("active" if index == 0)}
    .carousel-inner
      - @apartment.photos.no_accordion.each_with_index do |pic, index|
        .item{:class => ("active" if index == 0)}
          = image_tag pic.picture, height: "600", width: "2000", alt: pic.caption
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
  .contenedor-datos-individuales
    .contenedor-datos-individuales-interno
      %h1.nombre-apartamento-individual= @apartment.name
      %p.info-apartamento-individual
        %span.sub-info-individual= "#{@apartment.num_bedrooms} #{I18n.t 'apartments.text.room', :count => @apartment.num_bedrooms}" "|"
        %span.sub-info-individual= "#{@apartment.num_persons} pax |"
        %span.sub-info-individual= "#{I18n.t 'apartments.text.from'}  #{ApartmentService.new(@apartment).get_from_min_price.try(:floor)}€ / #{I18n.t 'apartments.text.night'}"

      / - if @from_reservation
      /   = link_to "#{I18n.t 'apartments.apartment_search.book_button'}", reservation_new_path(apartment_id: params[:apartment_id], start_date: params[:start_date], end_date: params[:end_date], coupon: params[:coupon], condition_reservation: @building.reservation_conditions.first.id), class: "enlace-reserva enlace-reserva-individual"
      /   .clearfix
      / - else
      = link_to "#{I18n.t 'apartments.apartment_search.book_button'}", apartments_path, class: "enlace-reserva enlace-reserva-individual"
      .clearfix
  .contenedor-datos-individuales-interno
    .contenedor-descripcion= @apartment.description.html_safe
    .contenedor-descripcion
      %ul.contenedor-featuretes
        - @apartment.equipments.each do |eq|
          %li.featurete-contenida= I18n.t "apartments.equipments.#{eq.key}"
        .clearfix