- if flash[:error]
  .alert.alert-danger.alert-dismissible.text-center{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    = h flash[:error]
