%footer
  %nav
    .col-lg-12
      %ul.text-center
        %li
          = link_to "#{I18n.t 'menu.apartments'}", apartments_path
        %li.separador
        %li.outstanding
          = link_to "#{I18n.t 'menu.promotions'}", promotion_path
        %li.separador
        %li
          = link_to "#{I18n.t 'menu.location'}", location_path
        %li.separador
        %li
          = link_to "#{I18n.t 'menu.services'}", services_path
        %li.separador
        %li
          = link_to "#{I18n.t 'menu.contact'}", contact_path
        %li.separador
        %li
          = link_to "#{I18n.t 'menu.blog'}", 'http://blog.palaciocondedemiranda.com/'
        %li.separador
        %li
          = link_to "#{I18n.t 'menu.press'}", 'http://blog.palaciocondedemiranda.com/press/'
    %ul.menu-mobile
      %li
        = link_to "#{I18n.t 'menu.apartments'}", apartments_path
      %li.outstanding
        = link_to "#{I18n.t 'menu.promotions'}", promotion_path
      %li
        = link_to "#{I18n.t 'menu.location'}", location_path
      %li
        = link_to "#{I18n.t 'menu.services'}", services_path
      %li
        = link_to "#{I18n.t 'menu.contact'}", contact_path
      %li
        = link_to "#{I18n.t 'menu.blog'}", 'http://blog.palaciocondedemiranda.com/'
      %li
        = link_to "#{I18n.t 'menu.press'}", 'http://blog.palaciocondedemiranda.com/press/'
    %a.boton-mobile{:href => "#"}
      %span{:class => "burger-bit"}
      %span{:class => "burger-bit"}
      %span{:class => "burger-bit"}
    %div{:class => "social-bed-dos"}
      %a{:class => "social-button facebook", :href => "https://www.facebook.com/pages/Palacio-PL-Conde-de-Miranda/1575294496065665", target: "_blank", rel: 'nofollow'}
      %a{:class => "social-button twitter", :href => "https://www.twitter.com/ApCondeMiranda", target: "_blank", rel: 'nofollow'}
      %a{:class => "social-button instagram", :href => "https://www.instagram.com/palacioplcondedemiranda/", target: "_blank", rel: 'nofollow'}
      %div{:class => "clearfix"}
    .col-lg-12.text-center
      %ul.aviso-ilegal-link-footer
        %li= link_to "#{I18n.t 'general.faqs'}", faqs_path, rel: 'nofollow'
        %li= link_to "#{I18n.t 'general.legal_notice_information'}", page_path("legal_notice"), rel: 'nofollow'
        %li= link_to "#{I18n.t 'general.policy_privacy_information'}", page_path("policy_privacy"), rel: 'nofollow'
        %li= link_to "#{I18n.t 'general.cookies_information'}", page_path("cookies"), rel: 'nofollow'
