!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    / %title= content_for?(:title) ? yield(:title) : "HotelCondeMiranda"
    = metamagic
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "admin", :media => "all"
    = stylesheet_link_tag 'application-print', :media => 'print'
    = favicon_link_tag '144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag '114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag '72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag '144.ico', :rel => 'shortcut icon'
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?libraries=places", :type => "text/javascript"}
    = javascript_include_tag "admin"


  %body
    .outer
      = render 'admin/layouts/sidebar_menu'
      .mainbar
        / Mainbar head starts
        .main-head
          .container
            .row
              .col-md-4.col-sm-5.col-xs-7
                / Page title
                %h2
                  %i.fa.fa-desktop.lblue
                  Dashboard
                  = "#{@building.name}" if @building.present?
              .col-md-2.col-sm-3.col-xs-5
              .col-md-3.col-sm-4.hidden-xs
              .col-md-3.hidden-sm.hidden-xs
                / Head user
                .head-user.dropdown.pull-right
                  %a#profile{"data-toggle" => "dropdown", :href => "#"}
                    = current_admin.email
                    %i.fa.fa-caret-down
                  %ul.dropdown-menu{"aria-labelledby" => "profile"}
                    %li
                      = link_to "Sign Out", destroy_admin_session_path , method: :delete
                .clearfix
        .main-content
          .container
            = bootstrap_flash
            .page-content
              = yield