!!! 5
%html{lang: I18n.locale}
  %head
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    = metamagic author: "https://test.com/author.html", publisher: "https://test.com/publisher.html"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'application-print', :media => 'print'
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
%body
  %header
    %h1
      = link_to "x" do
        Palacio P<span class='eleh'>l</span><br><span class="logo-separation"><span class="bold-logo">Conde</span>de<span class="bold-logo">Miranda</span></span><br><span class="small-logo">Madrid</span>
  - if (params[:controller] == "home" && params[:action] != "index") or params[:controller] != "home"
    .contenedor-navegacion
      %nav
        %ul
          %li
            = link_to "#{I18n.t 'menu.apartments'}", apartments_path
          %li.separador
          %li.outstanding
            = link_to "#{I18n.t 'menu.promotions'}", promotion_path
          %li.separador
          %li
            = link_to "#{I18n.t 'menu.location'}", location_path
          %li.separador
          %li
            = link_to "#{I18n.t 'menu.services'}", services_path
          %li.separador
          %li
            = link_to "#{I18n.t 'menu.contact'}", contact_path

        %a.boton-mobile{:href => "#"}
          %span{:class => "burger-bit"}
          %span{:class => "burger-bit"}
          %span{:class => "burger-bit"}
        %ul.menu-mobile
          %li
            = link_to "#{I18n.t 'menu.apartments'}", apartments_path
          %li.outstanding
            = link_to "#{I18n.t 'menu.promotions'}", promotion_path
          %li
            = link_to "#{I18n.t 'menu.location'}", location_path
          %li
            = link_to "#{I18n.t 'menu.services'}", services_path
          %li
            = link_to "#{I18n.t 'menu.contact'}", contact_path
  /CONTENT
  = yield
  /CONTENT

  / FOOTER
  - if params[:controller] == "home" && params[:action] == "index"
    = render 'layouts/footer'
  - else
    %div{:class => "footer-interno"}
      =# link_to "#{I18n.t 'legal_notice.title'}", page_path(I18n.locale, "legal_notice"), class: "aviso-ilegal-link"
      %ul.aviso-ilegal-link-footer.general
        %li= link_to "#{I18n.t 'general.legal_notice_information'}", page_path("legal_notice")
        %li= link_to "#{I18n.t 'general.policy_privacy_information'}", page_path("policy_privacy")
        %li= link_to "#{I18n.t 'general.cookies_information'}", page_path("cookies")
      %div{:class => "social-bed-dos"}
        %a{:class => "social-button facebook", :href => "https://www.facebook.com/pages/Palacio-PL-Conde-de-Miranda/1575294496065665"}
        %a{:class => "social-button twitter", :href => "https://www.twitter.com/ApCondeMiranda"}
        %a{:class => "social-button instagram", :href => "https://www.instagram.com/palacioplcondedemiranda/", target: "_blank"}
        %div{:class => "clearfix"}
      %div{:class => "clearfix"}
