<meta charset="utf-8">
<style>
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
    padding: 0;
    margin: 0;
}

html { -webkit-text-size-adjust:none; -ms-text-size-adjust: none;}
@media only screen and (max-device-width: 680px), only screen and (max-width: 680px) {
    *[class="table_width_100"] {
        width: 96% !important;
    }
    *[class="border-right_mob"] {
        border-right: 1px solid #dddddd;
    }
    *[class="mob_100"] {
        width: 100% !important;
    }
    *[class="mob_center"] {
        text-align: center !important;
    }
    *[class="mob_center_bl"] {
        float: none !important;
        display: block !important;
        margin: 0px auto;
    }
    .iage_footer a {
        text-decoration: none;
        color: #929ca8;
    }
    img.mob_display_none {
        width: 0px !important;
        height: 0px !important;
        display: none !important;
    }
    img.mob_width_50 {
        width: 40% !important;
        height: auto !important;
    }
}
.table_width_100 {
    width: 680px;
}


</style>




<!--
Responsive Email Template by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div id="mailsub" class="notification" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">


<!--[if gte mso 10]>
<table width="680" border="0" cellspacing="0" cellpadding="0">
<tr><td>
<![endif]-->

<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
    <tr><td>
    <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div>
    </td></tr>
    <!--header -->
    <tr><td align="center" bgcolor="#ffffff">
        <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
        <table width="90%" border="0" cellspacing="0" cellpadding="0">
            <tr><td align="left"><!--

                Item --><div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
                    <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                        <tr><td align="left" valign="middle">
                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;"></div>
                            <table width="115" border="0" cellspacing="0" cellpadding="0" >
                                <tr><td align="left" valign="top" class="mob_center">
                                    <a href="https://www.palacioplcondedemiranda.com/" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                                    <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                    <img src= <%= image_url("logo_pl.jpg") %> width="310" height="74" alt="Palazuelatelo" border="0" style="display: block;" /></font></a>
                                </td></tr>
                            </table>
                        </td></tr>
                    </table></div><!-- Item END--><!--[if gte mso 10]>
                    </td>
                    <td align="right">
                <![endif]--><!--

                Item --><div class="mob_center_bl" style="float: right; display: inline-block; width: 88px;">
                    <table width="88" border="0" cellspacing="0" cellpadding="0" align="right" style="border-collapse: collapse;">
                        <tr><td align="right" valign="middle">
                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;"></div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                                <tr><td align="right">
                                    <!--social -->
                                    <div class="mob_center_bl" style="width: 88px;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr><td width="30" align="center" style="line-height: 19px;">
                                            <a href="https://www.facebook.com/pages/Palacio-PL-Conde-de-Miranda/1575294496065665" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                            <img src= <%= image_url("facebook.gif") %> width="10" height="19" alt="Facebook" border="0" style="display: block;" /></font></a>
                                        </td><td width="39" align="center" style="line-height: 19px;">
                                            <a href="http://www.twitter.com/ApCondeMiranda" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                            <font face="Arial, Helvetica, sans-serif" size="2" color="#596167">
                                            <img src= <%= image_url("twitter.gif") %> width="19" height="16" alt="Twitter" border="0" style="display: block;" /></font></a>
                                        </td></tr>
                                    </table>
                                    </div>
                                    <!--social END-->
                                </td></tr>
                            </table>
                        </td></tr>
                    </table></div><!-- Item END--></td>
            </tr>
        </table>
        <!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;"></div>
    </td></tr>
    <!--header END-->

    <%= yield %>

    <!--content 2 -->
    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
        <a href="https://www.google.es/maps/place/Plaza+del+Conde+de+Miranda,+4,+28005+Madrid/@40.4149244,-3.7095226,21z/data=!4m2!3m1!1s0xd422878e135f411:0x1541e1bb5e9c1098?hl=en" target="_blank" style="color: #5b9bd1; text-decoration: none;"><img src=<%=image_url('mapa_pl.jpg')%> width="546" height="562" alt="Mapa Palacio PL Conde Miranda" border="0" style="display: block;" />    </a>
    </td></tr>-->
    <!--content 2 END-->

    <!--links -->
    <!--<tr><td align="center" bgcolor="#ffffff" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eff2f4;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td align="center">
                <div style="height: 32px; line-height: 32px; font-size: 10px;"></div>
        <table width="80%" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;">
                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size: 12px;">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5b9bd1;">
                      <a href=<%= contact_url%> target="_blank" style="color: #5b9bd1; text-decoration: none;"><%= I18n.t 'email.footer_contact' %></a>
                      <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />
                      <a href=<%= apartments_url%> target="_blank" style="color: #5b9bd1; text-decoration: none;"><%= I18n.t 'email.footer_apartments'%></a>
                      <img src="http://artloglab.com/metromail/images/dot.gif" alt="|" width="9" height="9" class="mob_display_none" />
                      <a href=<%= page_url(I18n.locale, 'legal_notice') %> target="_blank" style="color: #5b9bd1; text-decoration: none;"><%= I18n.t 'email.footer_legacy'%></a>
              </span></font>
            </td>
          </tr>
        </table>
            </td></tr>
            <tr><td><div style="height: 32px; line-height: 32px; font-size: 10px;"></div></td></tr>
        </table>
    </td></tr>-->
    <!--links END-->

    <tr><td>
    <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div>
    </td></tr>
</table>
<!--[if gte mso 10]>
</td></tr>
</table>
<![endif]-->

</td></tr>
</table>

</div>