!!! 5
%html{lang: I18n.locale}
  %head
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    = metamagic
    = canonical_tag
    = csrf_meta_tags

    = favicon_link_tag '144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag '114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag '72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag '144.ico', :rel => 'shortcut icon'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    - if GoogleAnalytics.valid_tracker?
      = analytics_init
      :javascript
        setTimeout("ga('send', 'event', '15_seconds', 'read');" ,15000);
%body
  %header
    %p.language-bar
      - if params[:dates].present? || params[:check_in].present?
        %a{:href => "#{url_for( :locale => 'es', :check_in => @start_date.to_date, :check_out => @end_date.to_date, :guests => @guests, :rooms => @rooms, :code => (@coupon.present? ? @coupon.code : ""))}", :class => "#{('lan-active' if I18n.locale == :es)}" } es
        |
        %a{:href => "#{url_for( :locale => 'en', :check_in => @start_date.to_date, :check_out => @end_date.to_date, :guests => @guests, :rooms => @rooms, :code => (@coupon.present? ? @coupon.code : ""))}", :class => "#{('lan-active' if I18n.locale == :en)}"} en
        |
        %a{:href => "#{url_for( :locale => 'pt', :check_in => @start_date.to_date, :check_out => @end_date.to_date, :guests => @guests, :rooms => @rooms, :code => (@coupon.present? ? @coupon.code : ""))}", :class => "#{('lan-active' if I18n.locale == :pt)}"} pt
      - else
        %a{:href => "#{url_for( :locale => 'es')}", :class => "#{('lan-active' if I18n.locale == :es)}" } es
        |
        %a{:href => "#{url_for( :locale => 'en')}", :class => "#{('lan-active' if I18n.locale == :en)}"} en
        |
        %a{:href => "#{url_for( :locale => 'pt')}", :class => "#{('lan-active' if I18n.locale == :pt)}"} pt
    %h1
      = link_to root_public_path do
        Palacio P<span class='eleh'>l</span><br><span class="logo-separation"><span class="bold-logo">Conde</span>de<span class="bold-logo">Miranda</span></span><br><span class="small-logo">Madrid</span>
  - if (params[:controller] == "home" && params[:action] != "index") or params[:controller] != "home"
    .row
      .contenedor-navegacion.col-lg-12
        %nav.text-center
          %ul
            %li
              = link_to "#{I18n.t 'menu.apartments'}", apartments_path
            %li.separador
            %li.outstanding
              = link_to "#{I18n.t 'menu.promotions'}", promotion_path
            %li.separador
            %li
              = link_to "#{I18n.t 'menu.location'}", location_path
            %li.separador
            %li
              = link_to "#{I18n.t 'menu.services'}", services_path
            %li.separador
            %li
              = link_to "#{I18n.t 'menu.contact'}", contact_path
            %li.separador
            %li
              = link_to "#{I18n.t 'menu.blog'}", 'http://blog.palaciocondedemiranda.com/'
            %li.separador
            %li
              = link_to "#{I18n.t 'menu.press'}", 'http://blog.palaciocondedemiranda.com/press/'

          %a.boton-mobile{:href => "#"}
            %span{:class => "burger-bit"}
            %span{:class => "burger-bit"}
            %span{:class => "burger-bit"}
          %ul.menu-mobile
            %li
              = link_to "#{I18n.t 'menu.apartments'}", apartments_path
            %li.outstanding
              = link_to "#{I18n.t 'menu.promotions'}", promotion_path
            %li
              = link_to "#{I18n.t 'menu.location'}", location_path
            %li
              = link_to "#{I18n.t 'menu.services'}", services_path
            %li
              = link_to "#{I18n.t 'menu.contact'}", contact_path
            %li
              = link_to "#{I18n.t 'menu.blog'}", 'http://blog.palaciocondedemiranda.com/'
            %li
              = link_to "#{I18n.t 'menu.press'}", 'http://blog.palaciocondedemiranda.com/press/'

  /CONTENT
  = render 'layouts/flash_error_public'
  = yield
  = render 'cookies_eu/cookies_eu', link: page_path(I18n.locale, "cookies")
  /CONTENT
  / FOOTER

  %div{:class => "footer-interno"}
    %div{:class => "social-bed-dos"}
      %a{:class => "social-button facebook", :href => "https://www.facebook.com/pages/Palacio-PL-Conde-de-Miranda/1575294496065665", target: "_blank", rel: 'nofollow'}
      %a{:class => "social-button twitter", :href => "https://www.twitter.com/ApCondeMiranda", target: "_blank", rel: 'nofollow'}
      %a{:class => "social-button instagram", :href => "https://www.instagram.com/palacioplcondedemiranda/", target: "_blank", rel: 'nofollow'}
      %div{:class => "clearfix"}
    %ul.aviso-ilegal-link-footer.general
      %li= link_to "#{I18n.t 'general.faqs'}", faqs_path, rel: 'nofollow'
      %li= link_to "#{I18n.t 'general.legal_notice_information'}", page_path("legal_notice"), rel: 'nofollow'
      %li= link_to "#{I18n.t 'general.policy_privacy_information'}", page_path("policy_privacy"), rel: 'nofollow'
      %li= link_to "#{I18n.t 'general.cookies_information'}", page_path("cookies"), rel: 'nofollow'
    %div{:class => "clearfix"}
  %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800", :rel => "stylesheet", :type => "text/css"}/
  = stylesheet_link_tag 'application-print', :media => 'print'
