!!! 5
%html{lang: I18n.locale}
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap", rel: "stylesheet"}/
    = metamagic
    = canonical_tag
    = csrf_meta_tags

    = favicon_link_tag '144.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', :sizes => '144x144'
    = favicon_link_tag '114.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', :sizes => '114x114'
    = favicon_link_tag '72.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', :sizes => '72x72'
    = favicon_link_tag '144.ico', rel: 'shortcut icon'
    = stylesheet_link_tag "public_v1", :media => "all"
    - if GoogleAnalytics.valid_tracker?
      = analytics_init
      :javascript
        setTimeout("ga('send', 'event', '15_seconds', 'read');" ,15000);

  %body
    %header.header
      .navbar-brand

        = link_to root_public_path, class: 'logo_menu' do
          = image_tag 'logo.svg', alt: 'Palacio PL Conde de Miranda logo'
      %nav.navbar.navbar-expand-lg.fixed-bottom.navbar-light
        #navbarCollapse.collapse.navbar-collapse.main_menu
          %ul.navbar-nav
            = link_to root_public_path, class: 'logo_menu' do
              = image_tag 'logo.svg', alt: 'Palacio PL Conde de Miranda logo'
            .language_bar_mobile
              - %i(es en pt).each do |lang|
                = link_to lang, url_for(locale: lang), class: "#{'lan-active' if I18n.locale == lang}"
            %li.nav-item
              = link_to "#{I18n.t 'menu.apartments'}", apartments_path, class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.promotions'}", promotion_path, class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.location'}", location_path, class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.services'}", services_path, class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.contact'}", contact_path, class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.blog'}", 'https://blog.palaciocondedemiranda.com/', class: 'nav-link'
            %li.nav-item
              = link_to "#{I18n.t 'menu.press'}", 'https://blog.palaciocondedemiranda.com/press/', class: 'nav-link'
        #reservaCollapse.collapse.navbar-collapse.block_reserva
          .reserva
            = form_tag(search_apartments_path, method: "get", id: "reservation") do
              .item_reserva.item_ckeck
                %input.datepicker-here{name: "dates", "data-language" => I18n.locale, "data-multiple-dates-separator" => " - ", "data-range" => "true", "data-default-min-nights" => @default_min_night, "data-restrictions" => @restriction_calendar.to_json, :placeholder => I18n.t('home.reservation_bar.placeholder.dates'), type: "text", autocomplete: "off"}/
              .item_reserva.item_persons
                %input#persons.form-control{ name: "guests", placeholder: I18n.t('home.reservation_bar.placeholder.room'), type: "text", value: (@guests || 1) , autocomplete: "off"}/
              .item_reserva.item_code
                %input#promo{ name: "code", placeholder: I18n.t('home.reservation_bar.placeholder.promo'), type: "text"}/
              .item_reserva.item_submit
                %button.btn.item_reserva.item_submit_mobile{type: "button"}
                  %a.submit{href: "#", rel: "nofollow"}= I18n.t('home.reservation_bar.button_mobile')
                %button.btn.item_reserva.item_submit_desktop{type: "button"}
                  %a.submit{href: "#", rel: "nofollow"}= I18n.t('home.reservation_bar.button_desktop')
        - flash.each do |type, msg|
          .alert.alert-dismissible.fade.show{class: "alert-#{type}", role: "alert"}
            = msg
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×

        %button.btn.btn_call{type: "button"}
          %a{href: "tel:0034915417516"}
            %i.fa.fa-phone{"aria-hidden" => "true"}
        %button.btn.btn-outline-primary.btn_reserva_mobile{"aria-controls" => "reservaCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#reservaCollapse", "data-toggle" => "collapse", type: "button"}
          %p=I18n.t('home.reservation_bar.breakfast_info')
          .close_reserva_x
            %span.lineA
            %span.lineB
            %span.lineC
        %button.navbar-toggler.btn_menu{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", type: "button"}
          %span.lineA
          %span.lineB
          %span.lineC
    = yield
    %footer
      %section.newsletter
        .container
          .row.justify-content-between.no-gutters
            / .col-md-7
            /   / %p Descubre nuestra newsletter
            /   / %form{:action => ""}
            /   /   .input_news
            /   /     %input{:name => "email", :placeholder => "Email", :required => "", type: "email"}/
            /   /     %input{type: "submit", :value => "Enviar"}/
            /   /   %label
            /   /     %input{:name => "subscribe", type: "checkbox"}/
            /   /     Acepto la política de privaciad para recibir novedades y promociones.
            / .col-md-3
            .redes
              %p= I18n.t('home.footer.section.rss.title')
              %ul.content_rrss
                %li
                  %a.rrss{href: "https://www.facebook.com/pages/Palacio-PL-Conde-de-Miranda/1575294496065665", rel: "nofollow", target: "_blank"}
                    %i.fa.fa-facebook{"aria-hidden" => "true"}
                %li
                  %a.rrss{href: "https://www.twitter.com/ApCondeMiranda", rel: "nofollow", target: "_blank"}
                    %i.fa.fa-twitter{"aria-hidden" => "true"}
                %li
                  %a.rrss{href: "https://www.instagram.com/palacioplcondedemiranda/", rel: "nofollow", target: "_blank"}
                    %i.fa.fa-instagram{"aria-hidden" => "true"}
      %section.menu_footer
        .container
          %ul.row.justify-content-center
            %li
              = link_to I18n.t('home.footer.section.menu_footer.faq'), faqs_path, rel: 'nofollow'
            %li
              = link_to I18n.t('home.footer.section.menu_footer.privacy_policy'), page_path("policy_privacy"), rel: 'nofollow'
            %li
              = link_to I18n.t('home.footer.section.menu_footer.legal_warning'), page_path("legal_notice"), rel: 'nofollow'
            %li
              = link_to I18n.t('home.footer.section.menu_footer.cookies_policy'), page_path("cookies"), rel: 'nofollow'
      %section.direccion
        %p.telf
          %a{href: "tel:+34915417516"}
            %span +34
            915 417 516
        %p Plaza del Conde de Miranda, 1 28005 Madrid
  = render 'cookies_eu/cookies_eu', link: page_path(I18n.locale, "cookies")
  = javascript_include_tag "public_v1"
